<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Xsearch
 */
?>
<?php
/**
 * @var \Amasty\Xsearch\Block\Search\Product $block
 * @var array $products
 */
$products = $block->getProducts();


    

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
 



?>

<?php if (count($products)) : ?>
    <div class="amsearch-products">
        <?php foreach ($products as $id => $product) :  
            $productImageUrl = '';
        $writer = new \Zend\Log\Writer\Stream(BP . '/var/log/address.log');
        $logger = new \Zend\Log\Logger();
        $logger->addWriter($writer);  
        $logger->info('image-------'.$product['short_description']);
        
        
        if(empty($product['image']) || $product['image']=="no_selection") {
            $productImageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA)."catalog/category/default2.jpg";
        }else{
            $productImageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product['image']; 
        }


        $position=100;       
        $description = '';
        if($product['short_description']) {
            if(strlen($product['short_description']) > $position) {// to lomit charachter
              $message=$product['short_description'];
              $description .= substr($message, 0, $position);
              $description .= "....";
          } else {
              $description =$product['short_description'];
          }   
        }

              ?>
            <div class="amsearch-item product-item" data-click-url="<?= /* @escapeNotVerified */ $product['url'] ?>">
                <a href="<?php echo $product['url']?>">
                    <div class="am_image">
                            <img src="<?php echo $productImageUrl?>" alt="product">
                    </div>
                    <div class="am_right">
                        <div class="am_title"><?php echo $block->stripTags($product['name']); ?></div>
                        <span class="amhighlight">
                           <?php echo $description; ?>
                        </span>
                        <table class="price_footer">
                            <tbody>
                                <tr>
                                    <td class="price_cell">
                                        <div class="price-box">
                                            <span class="price"><?= /* @escapeNotVerified */ $product['price'] ?>
                                            </span>
                                        </div>
                                        <td>
                                            <span class="add2cart">
                                                <form id="<?= 'amasty-xsearch-product-' . $id;?>"
                                                      data-role="tocart-form"
                                                      action="<?= /* @escapeNotVerified */ $product['cart_post_params']['action']; ?>"
                                                      method="post" class="amasty-xsearch-form">
                                                    <input type="hidden" name="product"
                                                           value="<?= /* @escapeNotVerified */ $product['cart_post_params']['data']['product']; ?>">
                                                    <?php if ($block->isRedirectToCartEnabled()) : ?>
                                                        <input type="hidden" name="return_url"
                                                               value="<?= /* @escapeNotVerified */ $product['cart_post_params']['data']['return_url']; ?>">
                                                    <?php endif; ?>
                                                    <input type="hidden"
                                                           name="<?= $block->getUlrEncodedParam(); ?>"
                                                           value="<?= $product['cart_post_params']['data'][$block->getUlrEncodedParam()]; ?>">
                                                    <input name="form_key"
                                                           type="hidden"
                                                           value="<?= /* @escapeNotVerified */ $block->getFormKey() ?>"/>
                                                    <button type="submit"
                                                            title="<?= $block->escapeHtml(__('Add to Cart')); ?>"
                                                            class="action tocart primary">
                                                        <span><?= /* @escapeNotVerified */ __('Add to Cart') ?></span>
                                                    </button>
                                                </form>
                                            </span>
                                        </td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </a>
            </div>
            
        <?php endforeach; ?>
        <?php if ($block->getNumResults() > $block->getLimit()) : ?>
            <div class="amasty-more-results">
                <a href="<?= /* @escapeNotVerified */ $block->getResultUrl() ?>"
                   title="<?= __('More products')?>">
                    <?= __('More products') ?>
                    <span> (<?= count($products) ?>)</span>
                </a>
            </div>
        <?php endif; ?>
    </div>

    <script>
        require([
            'jquery',
            'mage/mage',
            'Magento_Catalog/js/catalog-add-to-cart'
        ], function ($) {
            'use strict';
            $('.amasty-xsearch-form').catalogAddToCart({});
        });
    </script>
<?php endif; ?>

