<?php
$file = $block->getCurrentProductDetails();
$url = $block->getStoreManagerData();
if($file) { ?>
	<div class='pdf_download'>
	<h2><b>Resources and Downloads</b></h2>
	<div class= "pdf_img">
		<a href="<?php echo $url.'catalog/product/file/'.$file; ?>" target="_blank">
			<img src = "<?php echo $url.'pdf-img01.jpg'?>" alt = "pdf">
		</a>
	</div>
</div>
<?php }?>

