.newsletterpopup-popup-edit .checkbox-additional-options .field {
    width: 50%;
    float: left;
}

.newsletterpopup-popup-edit .checkbox-additional-options .control {
    clear: both;
    width: 100% !important;
}

.newsletterpopup-popup-edit .checkbox-additional-options .control  input{
    clear: both;
    width: 90%;
}