<!--@subject FAQ: you received new question @-->
<!--@vars {
"var sender_name":"Sender Name",
"var sender_email":"Sender Email",
"var question":"Question"
} @-->

<table>
    <tr class="email-intro">
        <td valign="top">
            <p>{{trans "Customer: %name" name=$sender_name}}{{depend sender_email}}({{var sender_email|escape}}){{/depend}}</p>
            <p>{{trans "Question:" question=$question}}</p>
            <p>{{var question|escape}}</p>
        </td>
    </tr>
</table>
