<?php
/**
 * Magedelight
 * Copyright (C) 2017 Magedelight <info@magedelight.com>.
 *
 * NOTICE OF LICENSE
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see http://opensource.org/licenses/gpl-3.0.html.
 *
 * @category Magedelight
 *
 * @copyright Copyright (c) 2017 Mage Delight (http://www.magedelight.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Magedelight <info@magedelight.com>
 */
$_code = $block->getMethodCode() ?>
<fieldset class="admin__fieldset payment-method fieldset payment items ccard <?php echo $_code ?>"
          id="payment_form_<?php echo $_code ?>" style="display: none;">
   <?php $cards = $block->getCustomerSavedCards(); ?>
     <?php $cardInfoData = true; ?>
   <?php if(!empty($cards)): ?>
    <?php $cardInfoData = false; ?>
    <div class="admin__field field type _required">
        <label for="<?php echo $_code ?>_payment_profile_id" class="label admin__field-label">
            <span><?php echo __('Select From Saved Card') ?></span>
        </label>
        <div class="control admin__field-control">
            <select id="<?php echo $_code ?>_payment_profile_id"
                    name="payment[payment_profile_id]" data-validate='{required:true}'
                    class="select admin__control-select">
                <option value=""><?php echo __('--Please Select--')?></option>
            <?php foreach ($cards as $cardvalue => $cardlable): ?>
                <option value="<?php echo $cardvalue ?>"><?php echo $cardlable ?></option>
            <?php endforeach ?>
            </select>
        </div>
    </div>
    <?php endif; ?>
    <div class="admin__field field type _required <?php echo $_code ?>_new"
        <?php if(!$cardInfoData): ?>style="display:none;"<?php endif; ?>>
        <label for="<?php echo $_code ?>_cc_type" class="label admin__field-label">
            <span><?php echo __('Credit Card Type') ?></span>
        </label>
        <div class="control admin__field-control">
            <select id="<?php echo $_code ?>_cc_type"
                    name="payment[cc_type]" class="select admin__control-select" data-validate="{required:true, 'validate-cc-type-select':'#<?php echo $_code ?>_cc_number'}" >
                <option value=""><?php echo __('--Please Select--')?></option>
            <?php $_ccType = $block->getInfoData('cc_type') ?>
            <?php foreach ($block->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
                <option value="<?php echo $_typeCode ?>"<?php if ($_typeCode == $_ccType): ?>
                        selected="selected"<?php endif ?>><?php echo $_typeName ?></option>
            <?php endforeach ?>
            </select>
        </div>
    </div>
    <div class="admin__field field number _required <?php echo $_code ?>_new" <?php if(!$cardInfoData): ?>style="display:none;"<?php endif; ?>>
        <label for="<?php echo $_code ?>_cc_number" class="label admin__field-label"><span><?php echo __('Credit Card Number') ?></span></label>
        <div class="admin__field-control  control">
            <input type="text" id="<?php echo $_code ?>_cc_number" name="payment[cc_number]" title="<?php echo __('Credit Card Number') ?>" class="input-text admin__control-text" value="" data-validate="{required:true, 'validate-cc-number':'#<?php echo $_code ?>_cc_type'}"/>
        </div>
    </div>
    <div class="admin__field _required field date <?php echo $_code ?>_new" <?php if(!$cardInfoData): ?>style="display:none;"<?php endif; ?> id="<?php echo $_code ?>_cc_type_exp_div">
        <label for="<?php echo $_code ?>_expiration" class="label admin__field-label"><span><?php echo __('Expiration Date') ?></span></label>
        <div class="admin__field-control control">
            <div class="fields group group-2">
                 <select id="<?php echo $_code ?>_expiration" name="payment[expiration]" class="select month select admin__control-select" data-validate="{required:true, 'validate-cc-exp':'#<?php echo $_code ?>_expiration_yr'}">
                        <?php $_ccExpMonth = $block->getInfoData('cc_exp_month') ?>
                        <?php foreach ($block->getCcMonths() as $k => $v): ?>
                            <option value="<?php echo $k ? $k : '' ?>"<?php if ($k == $_ccExpMonth): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                        <?php endforeach ?>
                  </select>
                <?php $_ccExpYear = $block->getInfoData('cc_exp_year') ?>
                        <select id="<?php echo $_code ?>_expiration_yr" name="payment[expiration_yr]" class="select year select admin__control-select" data-validate="{required:true}">
                            <?php foreach ($block->getCcYears() as $k => $v): ?>
                                <option value="<?php echo $k ? $k : '' ?>"<?php if ($k == $_ccExpYear): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                            <?php endforeach ?>
                        </select>
            </div>
        </div>
    </div>
    <?php if ($block->hasVerification()): ?>
    <div class="admin__field field cvv _required"  id="<?php echo $_code ?>_cc_type_cvv_div">
        <label for="<?php echo $_code ?>_cc_cid" class="label admin__field-label">
            <span><?php echo __('Card Verification Number') ?></span>
        </label>
        <div class="control admin__field-control">
            <input type="text" title="<?php echo __('Card Verification Number') ?>" style="<?php if(empty($cards)): echo "display:none"; endif; ?>" class="input-text cvv admin__control-text" id="<?php echo $_code ?>_cc_cid"  data-validate="{required:true}"  name="payment[cc_cid]" value="" />
            <input type="text" title="<?php echo __('Card Verification Number') ?>" style="<?php if(empty(!$cards)): echo "display:none"; endif; ?>" class="input-text cvv admin__control-text" id="<?php echo $_code ?>_cc_cid_new"  data-validate="{required:true,'validate-cc-cvn':'#<?php echo $_code ?>_cc_type'}"  name="payment[cc_cid]" value="" />
       </div>
    </div>
    <?php endif; ?>
   <?php if($block->getSaveCardOptional()): ?>
        <div class="admin__field field number <?php echo $_code ?>_new" <?php if(!$cardInfoData): ?>style="display:none;"<?php endif; ?>>
            <label for="<?php echo $_code ?>_cc_number" class="label admin__field-label">&nbsp;</label>
            <div class="control admin__field-control">
                <input type="checkbox" name="payment[save_card]" id="<?php echo $_code ?>_save_card" value="true" checked="checked" autocomplete="on" />
                <label for="<?php echo $_code ?>_save_card" style="float:none;font-weight:normal;"><?php echo __('Save this credit card for future use.'); ?></label>
            </div>
        </div>
    
        <?php else: ?>
        <div class="admin__field field number <?php echo $_code ?>_new" <?php if(!$cardInfoData): ?>style="display:none;"<?php endif; ?>>
            <div class="control admin__field-control">
                <input type="hidden" name="payment[save_card]" id="<?php echo $_code ?>_save_card" value="true" />
            </div>
        </div>
     
     <?php endif; ?>
   
    <?php echo $block->getChildHtml() ?>
</fieldset>
<?php if(count($cards) > 0):
    ?>
    <script>
        require([
            'jquery',
            ], function(){
                jQuery('#<?php echo $_code ?>_payment_profile_id').on('change', function() {
                        var currentValue = jQuery(this).val();
                        var cVVElementnew = jQuery('#<?php echo $_code ?>_cc_cid_new');
                        var cVVElement = jQuery('#<?php echo $_code ?>_cc_cid');
                        jQuery(".<?php echo $_code ?>_new").each(function(){
                            if(currentValue == 'new'){
                               jQuery(this).prop( "disabled", false);
                               jQuery(this).show();
                               jQuery(cVVElementnew).show();
                               jQuery(cVVElement).hide();
                               jQuery(cVVElementnew).prop("disabled", false);
                               jQuery(cVVElement).prop("disabled", true);
                            }else{
                               jQuery(this).prop( "disabled", true);
                               jQuery(this).hide();
                               jQuery(cVVElementnew).hide();
                               jQuery(cVVElement).show();
                               jQuery(cVVElementnew).prop("disabled", true);
                               jQuery(cVVElement).prop("disabled", false);
                            }
                        });
                 });
         });
</script>
<?php endif;