<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Faq
 */
?>
<?php
/**
 * @var \Amasty\Faq\Block\Lists\SocialShare $block
 */
?>
<div class="amfaq-social-buttons">
    <?php foreach ($block->getButtons() as $button) : ?>
        <?php $label = $block->escapeHtml($button->getName()); ?>
        <a href="<?= $block->escapeUrl($block->renderButtonHref($button)) ?>" <?= /* @escapeNotVerified */ $block->getAttributesHtml($button) ?>>
            <img src="<?= $block->getImage($button) ?>" alt="<?= $label ?>" title="<?= $label ?>" />
        </a>
    <?php endforeach; ?>
</div>