<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Faq
 */
?>
<?php /** @var \Amasty\Faq\Block\Lists\TagList $block */?>
<?php $currentTag = $block->getCurrentTag(); ?>
<?php if ($tags = $block->getTags()) : ?>
<div class="amfaq_tags">
    <div class="item title">
        <?= $block->escapeHtml(__('Tags')); ?>
    </div>
    <div class="tags_content">
    <?php foreach ($tags as $tag) : ?>
        <div class="item<?= ($tag->getTitle() == $currentTag) ? ' current' : ''; ?>">
            <a href="<?= /** @escapeNotVerified */ $block->getTagLink($tag->getTitle()) ?>">
                <?= /** @escapeNotVerified */ $tag->getTitle(); ?>
                (<?= (int)$tag->getCount() ?>)
            </a>
        </div>
    <?php endforeach; ?>
    </div>
</div>
<?php endif; ?>

