<?php 
    $catalogHelper = $this->helper('Magento\Catalog\Helper\Output');
    $blockHelper = $this->helper('Ubertheme\UbContentSlider\Helper\Data');
    $type = 'widget-product-grid';
    $mode = 'grid';
    $showWishlist = $config->show_wishlist;
    $showCompare = $config->show_compare;
    $showCart = $config->show_add_cart;
?>

<div class="block widget block-products-list <?php echo $mode; ?> <?php echo $config->addition_class;?> ub-content-slider-block <?php echo $config->content_type; ?> <?php if ($config->show_title==0): ?> no-title <?php endif; ?>">

    <?php if ($config->show_title): ?>
    <div class="block-title">
        <strong> <?php echo $block->escapeHtml($config->title); ?> </strong>
    </div>
    <?php endif; ?>

    <?php if ($items->getSize()): ?>
    
    <!--Slider content-->
    <div class="block-content">
        <div class="products-grid grid">
            <?php $iterator = 1; ?>
            <div class="product-items <?php echo $type; ?> owl-carousel owl-theme" data-mage-init='{"ubOwlCarousel1": <?php echo $block->getOwl1JsonConfigs()?>}'>
                <?php foreach ($items as $_product): ?>
                    <?php echo ($iterator++ == 1) ? '<div class="product-item">' : '</div><div class="product-item">' ?>
                    <?php
                        $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        $imageId = ($config->single_item) ? 'product_page_main_image' : 'new_products_content_widget_grid';
                    ?>
                <div class="product-item-info">
                    <a class="product-item-photo" href="<?php echo $_product->getProductUrl();?>" title="<?php echo $_productNameStripped; ?>">
                        <?php if ($config->enable_lazyload):?>
                            <?php $productImageBlock = $block->getImage($_product, $imageId, []); ?>
                            <img class="lazyOwl" <?php echo $productImageBlock->getCustomAttributes(); ?>
                                data-src="<?php echo $productImageBlock->getImageUrl() ?>"
                                alt="<?php echo $productImageBlock->stripTags($productImageBlock->getLabel(), null, true) ?>" />
                        <?php else: ?>
                            <?php echo $block->getImage($_product, $imageId, [])->toHtml(); ?>
                        <?php endif;?>
                    </a>
                    <div class="product-item-details">
                        <!-- product name-->
                        <?php if ($config->show_name): ?>
                        <strong class="product-item-name">
                            <a class="product-item-link" title="<?php echo $_productNameStripped?>" href="<?php echo $_product->getProductUrl();?>">
                                <?php echo $block->escapeHtml($_product->getName()) ?>
                            </a>
                        </strong>
                        <?php endif; ?>

                        <!-- product short description-->
                        <?php if ($config->show_desc): ?>
                            <div class="product-description">
                                <?php echo $blockHelper->subStrWords($block->stripTags($_product->getShortDescription()), $config->desc_length) ?>
                            </div>
                            <?php if ($config->show_readmore): ?>
                            <div class="product-readmore">
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>"
                                   class="action more"><?php echo __('Read More') ?>
                                </a>
                            </div>
                            <?php endif; ?>
                        <?php endif; ?>

                        <!-- product price-->
                        <?php if ($config->show_price): ?>
                            <?php echo $block->getProductPrice($_product) ?>
                        <?php endif; ?>

                        <!-- product review-->
                        <?php if ($config->show_review): ?>
                            <?php echo $block->getReviewsSummaryHtml($_product, \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW, true); ?>
                        <?php endif; ?>

                        <!-- product links -->
                        <?php if ($showWishlist || $showCompare || $showCart): ?>
                            <div class="product-item-actions">
                                <?php if ($showCart): ?>
                                    <div class="actions-primary">
                                        <?php if ($_product->isSaleable()): ?>
                                            <?php if ($_product->getTypeInstance()->hasRequiredOptions($_product)): ?>
                                                <button class="action tocart primary"
                                                        data-mage-init='{"redirectUrl":{"url":"<?php echo $block->getAddToCartUrl($_product) ?>"}}'
                                                        type="button" title="<?php echo __('Add to Cart') ?>">
                                                    <span><?php echo __('Add to Cart') ?></span>
                                                </button>
                                            <?php else: ?>
                                                <?php
                                                    $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                    $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_product), ['product' => $_product->getEntityId()])
                                                ?>
                                                <button class="action tocart primary"
                                                        data-post='<?php echo $postData; ?>'
                                                        type="button" title="<?php echo __('Add to Cart') ?>">
                                                    <span><?php echo __('Add to Cart') ?></span>
                                                </button>
                                            <?php endif; ?>
                                        <?php else: ?>
                                            <?php if ($_product->getIsSalable()): ?>
                                                <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                            <?php else: ?>
                                                <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    </div>
                                <?php endif; ?>
                                <?php if ($showWishlist || $showCompare): ?>
                                    <div class="actions-secondary" data-role="add-to-links">
                                        <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                            <a href="#"
                                               data-post='<?php echo $block->getAddToWishlistParams($_product); ?>'
                                               class="action towishlist" data-action="add-to-wishlist"
                                               title="<?php echo __('Add to Wish List') ?>">
                                                <span><?php echo __('Add to Wish List') ?></span>
                                            </a>
                                        <?php endif; ?>
                                        <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                            <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                                            <a href="#" class="action tocompare"
                                               data-post='<?php echo $compareHelper->getPostDataParams($_product);?>'
                                               title="<?php echo __('Add to Compare') ?>">
                                                <span><?php echo __('Add to Compare') ?></span>
                                            </a>
                                        <?php endif; ?>
                                    </div>
                                <?php endif; ?>
                            </div>
                        <?php endif; ?>
                    </div>
                </div>
                    <?php echo ($iterator == count($items)+1) ? '</div>' : '' ?>
                <?php endforeach; ?>
            </div>
            <!-- Thumbnail items-->
            <?php if ($config->single_item AND $config->show_thumbnail): ?>
            <div class="owl-carousel thumb-items">
                <?php foreach($items as $_product): ?>
                    <div class="item">
                        <?php $productImageBlock = $block->getImage($_product, 'side_column_widget_product_thumbnail', []); //side_column_widget_product_thumbnail, product_comparison_list ?>
                        <?php if ($config->enable_lazyload):?>
                            <img class="lazyOwl" <?php echo $productImageBlock->getCustomAttributes(); ?>
                                data-src="<?php echo $productImageBlock->getImageUrl() ?>"
                                alt="<?php echo $productImageBlock->stripTags($productImageBlock->getLabel(), null, true) ?>" />
                        <?php else: ?>
                            <img <?php echo $productImageBlock->getCustomAttributes(); ?>
                                src="<?php echo $productImageBlock->getImageUrl() ?>"
                                alt="<?php echo $productImageBlock->stripTags($productImageBlock->getLabel(), null, true) ?>" />
                        <?php endif;?>
                    </div>
                <?php endforeach; ?>
            </div>
            <?php endif; ?>
            <!--// Thumbnail items-->
        </div>
    </div>
    <!--// Slider content-->
    <?php else: ?>
        <div class="no-items"><?php echo __("There aren't items yet."); ?></div>
    <?php endif; ?>
</div>


