<?php
    /** @var  $imageHelper \Ubertheme\UbContentSlider\Helper\Image */
    $imageHelper = $this->helper('Ubertheme\UbContentSlider\Helper\Image');
    /** @var $block \Ubertheme\UbContentSlider\Block\Slider */
?>
<?php if ($config->enable): ?>

<?php if ($config->show_title): ?>
    <div class="block-title ub-content-slider-title">
        <strong> <?php echo $block->escapeHtml($config->title); ?> </strong>
    </div>
<?php endif; ?>

<?php if (sizeof($items)): ?>
    <div class="ub-content-slider-items <?php echo $config->addition_class;?> owl-carousel" data-mage-init='{"ubOwlCarousel1": <?php echo $block->getOwl1JsonConfigs()?>}'>
        <?php foreach($items as $key => $item): ?>
            <?php 
                $itemWidth = ($config->item_width) ? $config->item_width .'px' : 'auto';
                $itemHeight = ($config->item_height) ? $config->item_height .'px' : 'auto';
            ?>
            <div class="item">
                <div class="slide-content">
                    <?php if ($item['content_type'] == 'youtube_video'): ?>

                        <a href="<?php echo $item['link']; ?>" data-video-id="<?= $item['video_id'] ?>" data-video-width="<?= $itemWidth ?>" data-video-height="<?= $itemHeight ?>" class="youtube-video" title="<?php echo $item['title']; ?>" target="<?php echo $item['target']; ?>">
                            <img class="slide-image" src="<?php echo \Ubertheme\UbContentSlider\Helper\Image::getYoutubeThumb($item['video_id'], '0'); ?>"
                                 width="<?php echo $itemWidth ?>"
                                 height="<?php echo $itemHeight ?> alt="<?php echo $item['title']; ?>" />
                        </a>

                    <?php elseif ($item['content_type'] == 'vimeo_video'): ?>

                        <a href="<?php echo $item['link']; ?>" class="vimeo-video" data-video-id="<?= $item['video_id'] ?>" data-video-width="<?= $itemWidth ?>" data-video-height="<?= $itemHeight ?>" title="<?php echo $item['title']; ?>" target="<?php echo $item['target']; ?>">
                            <img class="slide-image" src="<?php echo \Ubertheme\UbContentSlider\Helper\Image::getVimeoThumb($item['video_id'], 'thumbnail_large'); ?>"
                            width="<?php echo $itemWidth ?>"
                            height="<?php echo $itemHeight ?> alt="<?php echo $item['title']; ?>" />
                        </a>

                    <?php else: ?>

                        <a href="<?php echo $item['link']; ?>" title="<?php echo $item['title']; ?>" target="<?php echo $item['target']; ?>">
                            <?php 
                                if ($config->item_width){ //has resize
                                    $imageUrl = $imageHelper->resize($item['image'], $config->item_width, $config->item_height); 
                                } else {
                                    $imageUrl = $block->getSliderImageUrl($item['image']);
                                }
                            ?>
                            <img class="slide-image" src="<?php echo $imageUrl; ?>" alt="<?php echo $item['title']; ?>" />
                        </a>

                    <?php endif; ?>
                </div>
                <div class="slide-content-desc">
                    <?php if ($config->show_item_title): ?>
                        <div class="slide-title"><a href="<?php echo $item['link']; ?>" title="<?php echo $item['title']; ?>" target="<?php echo $item['target']; ?>"><?php echo $item['title']; ?></a></div>
                    <?php endif; ?>
                    <?php if ($config->show_item_desc): ?>
                        <div class="slide-desc"><?php echo $item['description']; ?></div>
                        <a class="slide-readmore" href="<?php echo $item['link']; ?>" title="<?php echo $item['title']; ?>" target="<?php echo $item['target']; ?>"> <?= __('View More') ?> </a>
                    <?php endif; ?>
                </div>
            </div>
        <?php endforeach; ?>
    </div>
    <!-- Thumbnail items-->
    <?php if ($config->single_item AND $config->show_thumbnail): ?>
    <div class="owl-carousel thumb-items">
        <?php foreach($items as $key => $item): ?>
            <?php 
                $thumbWidth = ($config->thumb_width) ? $config->thumb_width .'px' : 'auto';
                $thumbHeight = ($config->thumb_height) ? $config->thumb_height .'px' : 'auto';
            ?>
            <div class="item">
                <?php if ($item['content_type'] == 'youtube_video'): ?>

                    <a href="<?php echo $item['link']; ?>" class="slide-image-thumb youtube-video-thumb" title="<?php echo $item['title']; ?>" target="<?php echo $item['target']; ?>">
                        <img class="slide-image"  src="<?php echo \Ubertheme\UbContentSlider\Helper\Image::getYoutubeThumb($item['video_id']); ?>"
                             width="<?php echo $thumbWidth ?>"
                             height="<?php echo $thumbHeight ?> alt="<?php echo $item['title']; ?>" />
                    </a>

                <?php elseif ($item['content_type'] == 'vimeo_video'): ?>

                    <a href="<?php echo $item['link']; ?>" class="slide-image-thumb vimeo-video-thumb" title="<?php echo $item['title']; ?>" target="<?php echo $item['target']; ?>">
                        <img class="slide-image"  src="<?php echo \Ubertheme\UbContentSlider\Helper\Image::getVimeoThumb($item['video_id']); ?>"
                             width="<?php echo $thumbWidth ?>"
                             height="<?php echo $thumbHeight ?> alt="<?php echo $item['title']; ?>" />
                    </a>

                <?php else: ?>

                    <?php 
                        if ($config->thumb_width) { //has resize
                            $thumbUrl = $imageHelper->resize($item['image'], $config->thumb_width, $config->thumb_height); 
                        } else {
                            $thumbUrl = $block->getSliderImageUrl($item['image']);
                        }
                    ?>
                    <img class="slide-image-thumb" src="<?php echo $thumbUrl; ?>" alt="<?php echo $item['title']; ?>" />

                <?php endif; ?>
            </div>
        <?php endforeach; ?>
    </div>
    <?php endif; ?>
    <!--// Thumbnail items-->
<?php else : ?>
    <div class="ub-content-slider no-items"><?php echo __("No item has been published for the slider yet."); ?></div>
<?php endif; ?>

<script type="text/javascript">
    require(['jquery', 'domReady!'], function ($) {

        //auto hide container of slider without items
        setTimeout(function() {
            $('.ub-content-slider.no-items').slideUp().siblings('.ub-content-slider-title').slideUp();
        }, 3000);

        //play youtube video action
        $(".youtube-video").click(function (e) {
            var $embedVideo = '<div class="youtube"><iframe width="'+$(this).data('video-width')+'" height="'+$(this).data('video-height')+'" src="https://www.youtube.com/embed/' + $(this).data('video-id') + '?autoplay=1" frameborder="0" allowfullscreen></iframe></div>';
            $(this).children('img.slide-image').replaceWith($embedVideo);
            return false;
            e.preventDefault();
        });
        //play vimeo video action
        $(".vimeo-video").click(function (e) {
            var $embedVideo = '<div class="vimeo"><iframe width="'+$(this).data('video-width')+'" height="'+$(this).data('video-height')+'" src="https://player.vimeo.com/video/' + $(this).data('video-id') + '?autoplay=0&loop=1&wmode=transparent&player_id=video-player-thumb-'+$(this).data('video-id')+'" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>';
            $(this).children('img.slide-image').replaceWith($embedVideo);
            return false;
            e.preventDefault();
        });
    })
</script>

<?php endif; ?>
