<?php 
//die("category_checkboxphtml");
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$Collection = $objectManager->create('Aheadworks\Blog\Model\ResourceModel\Category\CollectionFactory');
$collection = $Collection->create();
$category_data = $collection->getData();
//print_r($category_data);die;
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$tableName = $resource->getTableName('core_config_data');
$sql = "Select `value` FROM " . $tableName ." Where path='landingcategory/blogcategory/blogcategorycheckbox'";
//echo $sql;die;
$result = $connection->fetchAll($sql);
//print_r($result);die;
$categories = $result[0]['value'];
//print_r($categories);die;
$selected_posts = (explode(",",$categories));
//$selected_posts=array('1');
?>

<input type="hidden" name="<?php echo $this->getNamePrefix() ?>" value="" /><!-- this is send if nothing is checked -->
<ul class="checkboxes">
    <?php foreach ($category_data as $key => $label): 
    	$name = $label['id'];
    	?>
        <li>
            <input type="checkbox" class = "single-checkbox" value="<?php echo $name?>" name="<?php echo $this->getNamePrefix() ?>[]" id="<?php echo $this->getHtmlId() . '_' . $name ?>"<?php echo (in_array($name,$selected_posts) ? ' checked="checked"' : '') ?>/><label for="<?php echo $this->getHtmlId() . '_' . $name ?>">
                <?php echo $label['name'] ?>
            </label>
        </li>
    <?php endforeach;?>
</ul>

