<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$Collection = $objectManager->create('Aheadworks\Blog\Model\ResourceModel\Post\CollectionFactory');
$collection = $Collection->create();
$post_data = $collection->getData();

$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$tableName = $resource->getTableName('core_config_data');
$sql = "Select `value` FROM " . $tableName ." Where path='blogpost/general/checkbox'";
$result = $connection->fetchAll($sql);
$posts = $result[0]['value'];
$selected_posts = (explode(",",$posts));
?>

<input type="hidden" name="<?php echo $this->getNamePrefix() ?>" value="" /><!-- this is send if nothing is checked -->
<ul class="checkboxes">
    <?php foreach ($post_data as $key => $label): 
    	$name = $label['id'];
    	?>
        <li>
            <input type="checkbox" class = "single-checkbox" value="<?php echo $name?>" name="<?php echo $this->getNamePrefix() ?>[]" id="<?php echo $this->getHtmlId() . '_' . $name ?>"<?php echo (in_array($name,$selected_posts) ? ' checked="checked"' : '') ?>/><label for="<?php echo $this->getHtmlId() . '_' . $name ?>">
                <?php echo $label['title'] ?>
            </label>
        </li>
    <?php endforeach;?>
</ul>
<b>Note : Please select 3 blogs only</b>


<script type="text/javascript">
    require(['jquery'],function($){
        $(window).load(function() {
            var limit = 3;
			$('input.single-checkbox').on('change', function(evt) {
			   if($('input:checkbox.single-checkbox:checked').length > limit) {
			       this.checked = false;
			   }
			});
        });
    });
</script>