<?php $getTestimonialTitle = $block->getTestimonialConfiguration();
$getTestimonialList = $block->getTestimonialList();

?>


<div class="latest-blog">
  <div class="col-md-12">
    <h2 class="latest-blog-title"><?php echo $getTestimonialTitle; ?></h2>
    <div id="latest_news" class="owl-top-narrow">
      <div class="recent-posts">
        <div class="owl-carousel"> <?php 
          foreach ($getTestimonialList['testimonials'] as $testimonial) {
          if($testimonial->getStatus() == 1) {
          if($testimonial['resize_image']) {
              $image = $block->getBaseUrl() . $testimonial['resize_image'];
          } else {
              $image = $block->getBaseUrl() . '/testimonial2.jpg';
          } 
          $time=strtotime($testimonial['created_at']);
          $month=date("M",$time);
          $dayy=Date("d",$time);
          $position=100;
          $content = '';
          if(strlen($testimonial['testimonial']) > $position) {// to lomit charachter
              $message=$testimonial['testimonial'];
              $content .= substr($message, 0, $position);
              $content .= "....";
          } else {
              $content = $testimonial['testimonial'];
          }
          ?>
          <div class="item">
            <div class="recent-inner">
              <div class="row">
                <div class="col-md-5">
                  <div class="post-image"> 
                    <img src="<?php echo $image; ?>" />
                    <div class="post-date">
                      <span class="day"><?php echo $dayy;?></span>
                      <span class="month"><?php echo $month;?></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="postTitle">
                    <h2><?php echo $testimonial['first_name'] . " " . $testimonial['last_name']; ?></h2>
                  </div>
                  <div class="postContent"><?php echo $content; ?></div>
                  <a class="readmore btn btn-default" href="<?php echo $block->getUrl('testimonial/view/detail', array('testimonial' => $testimonial['testimonial_id'])); ?>">Read More</a>
                 
                </div>
                
              </div> 
            </div>
          </div>
        <?php } } ?>
        </div>
      </div>
      <script type="text/javascript">
        require([
          'jquery',
          'owl.carousel/owl.carousel.min'
        ], function ($) {
          $("#latest_news .owl-carousel").owlCarousel({
            loop: false,
            margin: 20,
            nav: false, 
            dots: false,
            responsive: {
              0: {
                items:1
              },
              640: {
                items:3
              },
              768: {
                items:3
              },
              992: {
                items:3
              },
              1200: {
                items:3
              }
            }
          });
        });
      </script>
    </div>
  </div>
</div>
   
<!-- <a class="testimonialAll" href="<?php //echo $block->getUrl('testimonial/'); ?>">See All &gt;</a> -->

       