<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_Customoptionimage
 * @author     Extension Team
 * @copyright  Copyright (c) 2018-2019 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
// @codingStandardsIgnoreFile
?>

<?php
$productId = $block->getProduct()->getId();
$option = $block->getOption();
$class = ($option->getIsRequire()) ? ' required' : '';
?>
<div class="radio_mangoit">
<div id="bss_options_<?php echo $option->getId() ?>" class="field<?php  echo $class; ?>">
    <div class="radio-checkbox-text" for="select_<?php echo $option->getId() ?>">
        <span><?php echo  $block->escapeHtml($option->getTitle()) ?></span>
        <?php  echo $block->getBssCustomOptionBlock('after_title'); ?>
    </div> 
    <?php echo $block->getBssCustomOptionBlock('before_control'); ?>
    <div class="control">
        <?php echo $block->getValuesHtml() ?>
        <?php if ($option->getIsRequire()) : ?>
            <?php if ($option->getType() == \Bss\Customoptionimage\Block\Options\Type\Select::OPTION_TYPE_RADIO
                || $option->getType() == \Bss\Customoptionimage\Block\Options\Type\Select::OPTION_TYPE_CHECKBOX) : ?>
                <span id="options-<?php  echo $option->getId() ?>-container"></span>
            <?php endif; ?>
        <?php endif;?>
    </div>
    <?php  echo $block->getBssCustomOptionBlock('after_control'); ?>
</div>
</div>
