<?php
 
/**
* Copyright Â© DCKAP INC, Inc. All rights reserved.
* See COPYING.txt for license details.
*/
?>
<?php
/**
* Category widget
*
* @var $block \DCKAP\Showcategories\Block\Widget\Showcategories
*/
?>
<?php

$title = $block->getTitle() ? __($block->getTitle()) : 'Categories';
?>
<?php $collection = $block->getCategoryCollection(); ?>
    <?php
    foreach ($collection as $category):
        if (!$category->getIsActive()) {
            continue;
        }
        ?>
        <div class="main-category-list">
                <a href="<?php echo $category->getUrl($category) ?>"><?php echo $category->getName() ?></a>
        </div>
        <?php
    endforeach;
    ?>