<?php
/**
 * Magedelight
 * Copyright (C) 2017 Magedelight <info@magedelight.com>.
 *
 * NOTICE OF LICENSE
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see http://opensource.org/licenses/gpl-3.0.html.
 *
 * @category Magedelight
 *
 * @copyright Copyright (c) 2017 Mage Delight (http://www.magedelight.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Magedelight <info@magedelight.com>
 */
$code = \Magedelight\Authorizecim\Model\Payment::METHOD_CODE;
$customHelper = $this->helper('Magedelight\Authorizecim\Helper\Data');
$authorizeCIMIsEnabled = $customHelper->getConfig('payment/md_authorizecim/active');
if($authorizeCIMIsEnabled == 1){        
    ?>
<?php $card = $this->getCard(); ?>
<form class="form-card-edit" action="<?php echo $block->getSaveUrl() ?>" method="post" id="form-validate" data-hasrequired="<?php echo __('* Required Fields') ?>">
    <fieldset class="fieldset">
        <legend class="legend"><span><?php echo __('Contact Information') ?></span></legend><br>
        <?php echo $block->getBlockHtml('formkey')?>
        <div class="field <?php echo $code ?>_firstname required">
            <label class="label" for="<?php echo $code ?>_firstname"><span><?php echo __('First Name') ?></span></label>
            <div class="control">
                <input type="text" name="<?php echo $code ?>[address_info][firstname]" id="<?php echo $code ?>_firstname" title="<?php echo __('First Name') ?>" value="<?php echo $card['firstname'] ?>" class="input-text required-entry">
            </div>
        </div>
        <div class="field <?php echo $code ?>_lastname required">
            <label class="label" for="<?php echo $code ?>_lastname"><span><?php echo __('Last Name') ?></span></label>
            <div class="control">
                <input type="text" name="<?php echo $code ?>[address_info][lastname]" id="<?php echo $code ?>_lastname" title="<?php echo __('Last Name') ?>" value="<?php echo $card['lastname'] ?>" class="input-text required-entry">
            </div>
        </div>
        <div class="field <?php echo $code ?>_company">
            <label class="label" for="<?php echo $code ?>_company"><span><?php echo __('Company') ?></span></label>
            <div class="control">
                <input type="text" name="<?php echo $code ?>[address_info][company]" id="<?php echo $code ?>_company" title="<?php echo __('Company') ?>" value="<?php echo $card['company'] ?>" class="input-text ">
            </div>
        </div>
        <div class="field <?php echo $code ?>_street required">
            <label for="<?php echo $code ?>_street" class="label"><span><?php echo __('Street Address') ?></span></label>
            <div class="control">
                <input type="text" name="<?php echo $code ?>[address_info][street]" value="<?php echo $card['street'] ?>" title="<?php echo __('Street Address') ?>" id="<?php echo $code ?>_street" class="input-text required-entry"  />
            </div>
        </div>
        <div class="field <?php echo $code ?>_city required">
            <label class="label" for="<?php echo $code ?>_city"><span><?php echo __('City') ?></span></label>
            <div class="control">
                <input type="text" name="<?php echo $code ?>[address_info][city]" value="<?php echo $card['city'] ?>" title="<?php echo __('City') ?>" class="input-text required-entry" id="<?php echo $code ?>_city">
            </div>
        </div>
        <div class="field <?php echo $code ?>_region required">
            <label class="label" for="<?php echo $code ?>_region_id"><span><?php echo __('State/Province') ?></span></label>
            <div class="control">
                <select id="<?php echo $code ?>_region_id" name="<?php echo $code ?>[address_info][region_id]" title="<?php echo __('State/Province') ?>" class="validate-select">
                    <option value=""><?php echo __('Please select a region, state or province.') ?></option>
                </select>
                <input type="text" id="<?php echo $code ?>_region" name="<?php echo $code ?>[address_info][state]" value="<?php echo $block->escapeHtml($card['state']) ?>"  title="<?php echo __('State/Province') ?>" class="input-text " />
            </div>
        </div>
        <div class="field <?php echo $code ?>_postcode required">
            <label class="label" for="postcode"><span><?php echo __('Zip/Postal Code') ?></span></label>
            <div class="control">
                <input type="text" name="<?php echo $code ?>[address_info][postcode]" value="<?php echo $card['postcode'] ?>" title="<?php echo __('Zip/Postal Code') ?>" id="<?php echo $code ?>_postcode" class="input-text required-entry validate-zip-international ">
            </div>
        </div>
        <div class="field <?php echo $code ?>_country_id required">
            <label class="label" for="country"><span><?php echo __('Country') ?></span></label>
            <div class="control">
                <?php echo $block->getCountryHtmlSelect($card['country_id']) ?>
            </div>
        </div>
        <div class="field <?php echo $code ?>_telephone">
            <label class="label" for="<?php echo $code ?>_telephone"><span><?php echo __('Phone Number') ?></span></label>
            <div class="control">
                <input type="text" name="<?php echo $code ?>[address_info][telephone]"
                       value="<?php echo $card['telephone']; ?>" title="<?php echo __('Phone Number') ?>" class="input-text" id="<?php echo $code ?>_phone">
            </div>
        </div>
    </fieldset>
    <fieldset class="fieldset cardparent">
        <legend class="legend"><span><?php echo __('Card Information') ?></span></legend><br>
        <div class="field">
            <label class="label" for="<?php echo $code ?>_cc_action"><?php echo __('Select Card') ?></label>
            <div class="control">
                <select id="<?php echo $code ?>_cc_action" name="<?php echo $code ?>[payment_info][cc_action]" title="" class="">
                    <option value="existing" selected="selected"><?php echo $block->escapeHtml('Continue using card XXXXXX-'.$card['cc_last_4']) ?></option>
                    <option value="new"><?php echo __("Update credit card details.") ?></option>
                </select>
            </div>
        </div>
        <div class="<?php echo $code ?>_new required field required" style="display:none;">
            <label class="label" for="<?php echo $code ?>_cc_type"><span><?php echo __('Credit Card Type') ?></span></label>
            <div class="control">
                <select id="<?php echo $code ?>_cc_type" name="<?php echo $code ?>[payment_info][cc_type]" title="<?php echo __('Credit Card Type') ?>" class="validate-select" data-validate='{"validate-cc-type-select":"#<?php echo $code ?>_cc_number"}'>
                    <option value=""><?php echo __('--Please Select--') ?></option>
                    <?php foreach ($this->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
                    <option value="<?php echo $_typeCode ?>"><?php echo $_typeName ?></option>
                    <?php endforeach ?>
                </select>
            </div>
        </div>
        <div class="field <?php echo $code ?>_new required" style="display:none;">
            <label for="<?php echo $code ?>_cc_number" class="label"><span><?php echo __('Credit Card Number') ?></span></label>
            <div class="control">
                <input type="number" id="<?php echo $code ?>_cc_number" name="<?php echo $code ?>[payment_info][cc_number]" title="<?php echo __('Credit Card Number') ?>" class="input-text" value="" data-validate='{"required-number":true, "validate-cc-number":"#<?php echo $code ?>_cc_type", "validate-cc-type":"#<?php echo $code ?>_cc_type"}'/>
            </div>
        </div>
        <div class="field <?php echo $code ?>_new required" id="<?php echo $code ?>_cc_type_exp_div" style="display:none;">
            <label for="<?php echo $code ?>_expiration" class="label"><span><?php echo __('Expiration Date') ?></span></label>
            <div class="input-box">
                    <div class="field no-label month v-fix" style="margin-right:10px">
                        <div class="control">
                            <select id="<?php echo $code ?>_expiration" name="<?php echo $code ?>[payment_info][cc_exp_month]" class="select month" data-validate='{required:true, "validate-cc-exp":"#<?php echo $code ?>_expiration_yr"}'>
                                <?php foreach ($this->getCcMonths() as $k => $v): ?>
                                    <option value="<?php echo $k ? $k : '' ?>"><?php echo $v ?></option>
                                <?php endforeach ?>
                            </select>
                        </div>
                    </div>
                    <div class="field no-label year v-fix">
                        <div class="control">
                            <select id="<?php echo $code ?>_expiration_yr" name="<?php echo $code ?>[payment_info][cc_exp_year]" class="select year" data-validate='{required:true}'>
                                <?php foreach ($this->getCcYears() as $k => $v): ?>
                                    <option value="<?php echo $k ? $k : '' ?>"><?php echo $v ?></option>
                                <?php endforeach ?>
                            </select>
                        </div>
                    </div>
            </div>
        </div>
        <?php
        if ($this->hasVerification()): ?>
        <div class="field <?php echo $code ?>_new required" style="display:none;" id="<?php echo $code ?>_cc_type_cvv_div">
        <label for="<?php echo $code ?>_cc_cid" class="label"><span><?php echo __('Card Verification Number') ?></span></label>
        <div class="control">
            <input type="number" title="<?php echo __('Card Verification Number') ?>" class="input-text cvv" id="<?php echo $code ?>_cc_cid" name="<?php echo $code ?>[payment_info][cc_cid]" value="" data-validate='{"required-number":true}' />
            <?php $_content = '<img src=\"' . $block->getViewFileUrl('Magento_Checkout::cvv.png') . '\" alt=\"' . __('Card Verification Number Visual Reference') . '\" title=\"' . __('Card Verification Number Visual Reference') . '\" />'; ?>
            <div class="note">
                <a href="#" class="action cvv" title="<?php echo __('What is this?') ?>" data-mage-init='{"tooltip": {"content": "<?php echo $_content ?>"}}'><span><?php echo __('What is this?') ?></span></a>
            </div>
        </div>
    </div>
        <?php endif; ?>
    </fieldset>
    <div class="actions-toolbar">
            <div class="primary">
                <button type="button" onclick="saveCardForm()" id="cim_update_card_btn" class="action save primary" data-action="save-card" title="<?php echo __('Save Card') ?>">
                    <span><?php echo __('Save Card') ?></span>
                </button>
            </div>
         <input type="hidden" name="<?php echo $code ?>[card_mode]" value="add" />
         <input type="hidden" id="<?php echo $code ?>_data_value" name="<?php echo $code ?>[payment_info][data_value]" value="" />
        <input type="hidden" id="<?php echo $code ?>_data_descriptor" name="<?php echo $code ?>[payment_info][data_descriptor]" value="" />
         <input type="hidden" name="<?php echo $block->escapeHtml($code) ?>[card_id]"
                   value="<?php echo $block->escapeHtml($card['card_id']) ?>" />
        <input type="hidden" name="<?php echo $code ?>[payment_profile_id]" value="<?php echo $card['payment_profile_id'] ?>" />
            <input type="hidden" name="<?php echo $code ?>[card_number_masked]" value="<?php echo $card['cc_last_4'] ?>" />
            <div class="secondary">
                <a class="back" href="<?php echo $this->getBackUrl() ?>"><span><?php echo __('Go back') ?></span></a>
            </div>
        </div>
</form>
<?php } ?>
<script>
   function saveCardForm()
    {
        var dataForm = jQuery('#form-validate');
        dataForm.mage('validation');
        if (jQuery('#form-validate').valid()) {
             jQuery('#cim_update_card_btn').attr('disabled',true);
             <?php
              if(intval($this->canacceptjs())): ?>
                     var selectedVal = jQuery('#<?php echo $code ?>_cc_action').val();
                     if(selectedVal=='existing')
                     {
                         jQuery('#form-validate').submit();
                     }
                     else
                     {
                         sendPaymentDataToAnet();
                     }
                     
              <?php else: ?>
                    jQuery('#form-validate').submit();
               <?php endif; ?>
        }
    }
    require(['jquery'], function ($) {
        $('#<?php echo $code ?>_cc_action').on('change',function(event){
            var selectedValue = $(this).val();
            switch(selectedValue){
            case 'existing':
                    jQuery('#<?php echo $code ?>_cc_type').disabled = true;
                    jQuery('#<?php echo $code ?>_cc_number').disabled = true;
                    jQuery('#<?php echo $code ?>_expiration').disabled = true;
                    jQuery('#<?php echo $code ?>_expiration_yr').disabled = true;
                    if(jQuery('#<?php echo $code ?>_cc_cid') != null){
                        jQuery('#<?php echo $code ?>_cc_cid').removeClass("validate-cc-cvn");
                        jQuery('#<?php echo $code ?>_cc_cid').disabled = true;
                    }
                    jQuery('#<?php echo $code ?>_cc_number').addClass("disabled");
                    jQuery('#<?php echo $code ?>_expiration').addClass("disabled");
                    jQuery('#<?php echo $code ?>_expiration_yr').addClass("disabled");
                    jQuery(".<?php echo $code ?>_new").hide();
                    break;
            case 'new':
                jQuery('#<?php echo $code ?>_cc_type').disabled = false;
                    jQuery('#<?php echo $code ?>_cc_number').disabled = false;
                    jQuery('#<?php echo $code ?>_expiration').disabled = false;
                    jQuery('#<?php echo $code ?>_expiration_yr').disabled = false;
                    if(jQuery('#<?php echo $code ?>_cc_cid') != null){
                        jQuery('#<?php echo $code ?>_cc_cid').addClass("validate-cc-cvn");
                        jQuery('#<?php echo $code ?>_cc_cid').disabled = false;
                    }
                    jQuery('#<?php echo $code ?>_cc_type').removeClass("disabled");
                    jQuery('#<?php echo $code ?>_cc_number').removeClass("disabled");
                    jQuery('#<?php echo $code ?>_expiration').removeClass("disabled");
                    jQuery('#<?php echo $code ?>_expiration_yr').removeClass("disabled");
                    jQuery(".<?php echo $code ?>_new").show();
                    break;
        }
        });
    });
    function sendPaymentDataToAnet() {
	var secureData = {}, authData = {}, cardData = {};
	cardData.cardNumber = jQuery('#<?php echo $code ?>_cc_number').val();
        cardData.month = jQuery('#<?php echo $code ?>_expiration').val();
        cardData.year = jQuery('#<?php echo $code ?>_expiration_yr').val();
        <?php if ($this->hasVerification()): ?>
                  cardData.cardCode = jQuery('#<?php echo $code ?>_cc_cid').val();
        <?php endif; ?>
	secureData.cardData = cardData;
        authData.clientKey = '<?php echo $this->getClientKey(); ?>';
	authData.apiLoginID = '<?php echo $this->getApiLoginId(); ?>';
	secureData.authData = authData;
        Accept.dispatchData(secureData, 'responseHandler');
}

function responseHandler(response) {
    if (response.messages.resultCode === 'Error') {
        for (var i = 0; i < response.messages.message.length; i++) {
            console.log(response.messages.message[i].code + ':' + response.messages.message[i].text);
        }
    } else {
        useOpaqueData(response.opaqueData)
    }
}

function useOpaqueData(responseData) {
    // This is where you would set the data descriptor & data value to be posted back to your server
    jQuery('#md_authorizecim_data_value').val(responseData.dataValue);
    jQuery('#md_authorizecim_data_descriptor').val(responseData.dataDescriptor);
    jQuery('#form-validate').submit();
}
</script>
<script type="text/x-magento-init">
    {
        "#form-validate": {
            "validation": {}
        },
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?php echo($block->getConfig('general/region/display_all') ? 'true' : 'false'); ?>,
                "regionListId": "#<?php echo $code ?>_region_id",
                "regionInputId": "#<?php echo $code ?>_region",
                "postcodeId": "#<?php echo $code ?>_zip",
                "form": "#form-validate",
                "regionJson": <?php echo $this->helper('Magento\Directory\Helper\Data')->getRegionJson() ?>,
                "defaultRegion": "<?php /* @noEscape */ echo $card['region_id'] === null ? 0 : $card['region_id']; ?>",
                "countriesWithOptionalZip": <?php echo $this->helper('Magento\Directory\Helper\Data')->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>