<?php
/**
 * Magedelight
 * Copyright (C) 2017 Magedelight <info@magedelight.com>.
 *
 * NOTICE OF LICENSE
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see http://opensource.org/licenses/gpl-3.0.html.
 *
 * @category Magedelight
 *
 * @copyright Copyright (c) 2017 Mage Delight (http://www.magedelight.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Magedelight <info@magedelight.com>
 */
$cards = $this->getCards();
$customHelper = $this->helper('Magedelight\Authorizecim\Helper\Data');
$authorizeCIMIsEnabled = $customHelper->getConfig('payment/md_authorizecim/active');
if($authorizeCIMIsEnabled == 1){
?>
<?php if ($cards && count($cards)): ?>
<div class="table-wrapper cards-history">
    <table class="data table table-cards-item cards-history" id="my-authorizecim-cards-table">
        <caption class="table-caption"><?php echo __('My Saved Credit Cards') ?></caption>
        <thead>
            <tr>
                <th scope="col" class="col"><?php echo __('Card #') ?></th>
                <th scope="col" class="col"><?php echo __('Card Info') ?></th>
                <th scope="col" class="col"><?php echo __('Action') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($cards as $_card): ?>
            <?php $addressHtml = $this->getFormatedAddress($_card); ?>
            <tr>
                <td data-th="<?php echo __('Card #') ?>" class="col id"><strong><?php echo $block->escapeHtml("XXXX-".$_card['cc_last_4']) ?></strong></td>
                <td data-th="<?php echo __('Card Info') ?>" class="col shipping"><?php echo $addressHtml ?></td>
                <td data-th="<?php echo __('Action') ?>" class="col actions">
                    <form method="post" name="form_edit_<?php echo $_card['card_id'] ?>" action="<?php echo $this->getPostUrl() ?>" style="display:inline-block;">
                        <input type="hidden" name="card_id" value="<?php echo $_card['card_id'] ?>" />
                        <button class="button" name="profile_edit" value="edit" type="submit">
                            <span><span><?php echo __("Edit") ?></span></span>
                        </button>
                    </form>    
                    <span class="separator">&nbsp;|&nbsp;</span>
                    <form method="post" id="form_delete_<?php echo $_card['card_id'] ?>" name="form_delete_<?php echo $_card['card_id'] ?>" action="<?php echo $this->getDeleteAction() ?>" style="display:inline-block;">
                        <input type="hidden" name="card_id" value="<?php echo $_card['card_id'] ?>" />
                        <button class="button" id="cim_delete_<?php echo $_card['card_id'] ?>" name="profile_delete" value="delete" type="button" onclick="deleteCard('<?php echo $_card['card_id'] ?>')">
                            <span><span><?php echo __("Delete") ?></span></span>
                        </button>
                    </form> 
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>
<?php else: ?>
<div class="message info empty"><span><?php echo __('You have no saved credit cards available.') ?></span></div>
<?php endif; ?>
<div class="actions-toolbar">
    <div class="primary">
        <button onclick="window.location='<?php echo $this->getAddUrl() ?>'" type="button" role="add-authorizecim-cards" title="<?php echo __('Add New Card') ?>" class="action primary add">
            <span><?php echo __('Add New Card') ?></span>
        </button>
    </div> 
</div>
<?php } ?>
<script type="text/javascript">
    function deleteCard(paymentprofileid)
    {
        if(confirm('Are you sure want to delete credit card details?'))
        {
            jQuery('#cim_delete_'+paymentprofileid+'').attr('disabled',true);
            jQuery('#form_delete_'+paymentprofileid+'').submit();    
        }
    }
</script>
