<?php
/**
 * Copyright © 2016 MB Vienas bitas. All rights reserved.
 * @website    www.magetrend.com
 * @package    Newsletter Popup Pro from M2
 * @author     Edvinas Stulpinas <edwin@magetrend.com>
 */
?>
<?php if ($block->isActive() && $block->canShow()) : ?>
    <?php $popup = $block->getPopup();?>
    <a
        id="esnp_button"
        class="esnp-<?php echo $block->escapeHtml($popup->getButtonPosition());?> mt-np-popup-open"
        <?php if ($popup->getButtonTop()) : ?>
        style="top: <?php echo $block->escapeHtml($popup->getButtonTop());?>"
        <?php endif;?>
        href="javascript:void(0)"
        title="<?php echo $block->escapeHtml($popup->getButtonText()) ?>">
            <span><?php echo $block->escapeHtml($popup->getButtonText()) ?></span>
    </a>
<?php endif;?>