.form-card-add,.form-card-edit
{
    width: 70%;
}
#md_authorizecim_cc_type_exp_div
{
    display: inline-block;
}
.input-box .v-fix {
    float: left;
}
.addcardbutton
{
    margin-bottom: 5px;
}
.expiration
{
    display: inline-block;
}

.buttons-set .back-link {
    float: left;
    margin-top: 12px;
}
.buttons-set .button{
    float: right;
    margin-left: 5px;
    margin-top: 14px;
}
.buttons-set {
    border-top: 1px solid #ededed;
    clear: both;
    margin: 61px 0 0;
    overflow: hidden;
    padding-right: 10px;
}
.nobr {
    white-space: nowrap;
}
#cardparent > .field
{
    margin: 0 0 20px;
}
#cardparent > .field label
{
    margin: 0 0 8px;
    display: inline-block;
}

#cardparent .field.required > .label::after {
  color: #e02b27;
  content: "*";
  font-size: 1.2rem;
  margin: 0 0 0 5px;
}
