<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Paction
 */
?>
<?php
/* @var $block \Amasty\Paction\Block\Adminhtml\Product\Edit\Action\Attribute\Tab\TierPrice\Content */
?>

<?php
    const COL_COUNT_WITHOUT_WEBSITE = 5;
    const COL_COUNT_WITH_WEBSITE = 6;

    $element = $block->getElement();
    $htmlId = $block->getElement()->getHtmlId();
    $htmlClass = $block->getElement()->getClass();
    $htmlName = $block->getElement()->getName();
    $readonly = $block->getElement()->getReadonly();
    $showWebsite = $block->isMultiWebsites();
    $editWebsite = $block->isAllowChangeWebsite();
    $priceValueValidation = $block->getPriceValidation('validate-greater-than-zero');
?>

<div class="field" id="attribute-<?= /* @escapeNotVerified */ $htmlId ?>-container" data-attribute-code="<?= /* @escapeNotVerified */ $htmlId ?>"
     data-apply-to="<?= $block->escapeHtml(
         $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode(
             $element->hasEntityAttribute() ? $element->getEntityAttribute()->getApplyTo() : []
         )
     )?>">
    <label class="label"><span><?= /* @escapeNotVerified */ $block->getElement()->getLabel() ?></span></label>
    <div class="control">
        <table class="admin__control-table tiers_table" id="tiers_table">
            <thead>
            <tr>
                <th class="col-websites" <?php if (!$showWebsite): ?>style="display:none"<?php endif; ?>><?= /* @escapeNotVerified */ __('Web Site') ?></th>
                <th class="col-customer-group"><?= /* @escapeNotVerified */ __('Customer Group') ?></th>
                <th class="col-qty required"><?= /* @escapeNotVerified */ __('Quantity') ?></th>
                <th class="col-price-value-type required"><?= /* @escapeNotVerified */ __('Price Type') ?></th>
                <th class="col-price required"><?= /* @escapeNotVerified */ $block->getPriceColumnHeader(__('Item Price')) ?></th>
                <th class="col-delete"><?= /* @escapeNotVerified */ __('Action') ?></th>
            </tr>
            </thead>
            <tbody id="<?= /* @escapeNotVerified */ $htmlId ?>_container"></tbody>
            <tfoot>
            <tr>
                <td colspan="<?= !$showWebsite ? COL_COUNT_WITHOUT_WEBSITE : COL_COUNT_WITH_WEBSITE ?>" class="col-actions-add"><?= /* @escapeNotVerified */ $block->getAddButtonHtml() ?></td>
            </tr>
            </tfoot>
        </table>

        <script>
            require([
                'mage/template',
                "prototype",
                "mage/adminhtml/form"
            ], function (mageTemplate) {

//<![CDATA[
                var tierPriceRowTemplate = '<tr>'
                    + '<td class="col-websites"<?php if (!$showWebsite): ?> style="display:none"<?php endif; ?>>'
                    + '<select class="<?= /* @escapeNotVerified */ $htmlClass ?> required-entry" name="<?= /* @escapeNotVerified */ $htmlName ?>[<%- data.index %>][website_id]" id="tier_price_row_<%- data.index %>_website">'
                    <?php foreach ($block->getWebsites() as $websiteId => $info): ?>
                    + '<option value="<?= /* @escapeNotVerified */ $websiteId ?>"><?= $block->escapeHtml($info['name']) ?><?php if (!empty($info['currency'])): ?> [<?= $block->escapeHtml($info['currency']) ?>]<?php endif; ?></option>'
                    <?php endforeach ?>
                    + '</select></td>'
                    + '<td class="col-customer-group"><select class="<?= /* @escapeNotVerified */ $htmlClass ?> custgroup required-entry" name="<?= /* @escapeNotVerified */ $htmlName ?>[<%- data.index %>][cust_group]" id="tier_price_row_<%- data.index %>_cust_group">'
                    <?php foreach ($block->getCustomerGroups() as $groupId => $groupName): ?>
                    + '<option value="<?= /* @escapeNotVerified */ $groupId ?>"><?= $block->escapeHtml($groupName) ?></option>'
                    <?php endforeach ?>
                    + '</select></td>'
                    + '<td class="col-qty">'
                    + '<input class="<?= /* @escapeNotVerified */ $htmlClass ?> qty required-entry validate-greater-than-zero" type="text" name="<?= /* @escapeNotVerified */ $htmlName ?>[<%- data.index %>][price_qty]" value="<%- data.qty %>" id="tier_price_row_<%- data.index %>_qty" />'
                    + '</td>'
                    + '<td class="col-price-value-type"><select class="<?= /* @escapeNotVerified */ $htmlClass ?> value-type required-entry" name="<?= /* @escapeNotVerified */ $htmlName ?>[<%- data.index %>][value_type]" id="tier_price_row_<%- data.index %>_value_type">'
                    <?php foreach ($block->getPriceValueTypes() as $type): ?>
                    + '<option value="<?= /* @escapeNotVerified */ $type['value'] ?>"><?= $block->escapeHtml($type['label']) ?></option>'
                    <?php endforeach ?>
                    + '</select></td>'
                    + '<td class="col-price"><input class="<?= /* @escapeNotVerified */ $htmlClass ?> required-entry <?= /* @escapeNotVerified */ $priceValueValidation ?>" type="text" name="<?= /* @escapeNotVerified */ $htmlName ?>[<%- data.index %>][price]" value="<%- data.price %>" id="tier_price_row_<%- data.index %>_price" /></td>'
                    + '<td class="col-delete"><input type="hidden" name="<?= /* @escapeNotVerified */ $htmlName ?>[<%- data.index %>][delete]" class="delete" value="" id="tier_price_row_<%- data.index %>_delete" />'
                    + '<button title="<?= /* @escapeNotVerified */ $block->escapeHtml(__('Delete Tier')) ?>" type="button" class="action- scalable delete icon-btn delete-product-option" id="tier_price_row_<%- data.index %>_delete_button" onclick="return tierPriceControl.deleteItem(event);">'
                    + '<span><?= /* @escapeNotVerified */ __("Delete") ?></span></button></td>'
                    + '</tr>';

                var tierPriceControl = {
                    template: mageTemplate(tierPriceRowTemplate),
                    itemsCount: 0,
                    addItem : function () {
                        <?php if ($readonly): ?>
                        if (arguments.length < 4) {
                            return;
                        }
                        <?php endif; ?>
                        var data = {
                            website_id: '<?= /* @escapeNotVerified */ $block->getDefaultWebsite() ?>',
                            group: '<?= /* @escapeNotVerified */ $block->getDefaultCustomerGroup() ?>',
                            qty: '',
                            price: '',
                            readOnly: false,
                            index: this.itemsCount++
                        };

                        if(arguments.length >= 4) {
                            data.website_id = arguments[0];
                            data.group      = arguments[1];
                            data.qty        = arguments[2];
                            data.price      = arguments[3];
                        }
                        if (arguments.length == 5) {
                            data.readOnly = arguments[4];
                        }

                        Element.insert($('<?= /* @escapeNotVerified */ $htmlId ?>_container'), {
                            bottom : this.template({
                                data: data
                            })
                        });

                        $('tier_price_row_' + data.index + '_cust_group').value = data.group;
                        $('tier_price_row_' + data.index + '_website').value    = data.website_id;

                        <?php if ($block->isShowWebsiteColumn() && !$block->isAllowChangeWebsite()):?>
                        var wss = $('tier_price_row_' + data.index + '_website');
                        var txt = wss.options[wss.selectedIndex].text;

                        wss.insert({after:'<span class="website-name">' + txt + '</span>'});
                        wss.hide();
                        <?php endif;?>

                        if (data.readOnly == '1') {
                            ['website', 'cust_group', 'qty', 'price', 'delete'].each(function(idx){
                                $('tier_price_row_'+data.index+'_'+idx).disabled = true;
                            });
                            $('tier_price_row_'+data.index+'_delete_button').hide();
                        }

                        <?php if ($readonly): ?>
                        $('<?= /* @escapeNotVerified */ $htmlId ?>_container').select('input', 'select').each(this.disableElement);
                        $('<?= /* @escapeNotVerified */ $htmlId ?>_container').up('table').select('button').each(this.disableElement);
                        <?php else: ?>
                        $('<?= /* @escapeNotVerified */ $htmlId ?>_container').select('input', 'select').each(function(el){ Event.observe(el, 'change', el.setHasChanges.bind(el)); });
                        <?php endif; ?>
                    },
                    disableElement: function(el) {
                        el.disabled = true;
                        el.addClassName('disabled');
                    },
                    deleteItem: function(event) {
                        var tr = Event.findElement(event, 'tr');
                        if (tr) {
                            Element.select(tr, '.delete').each(function(elem){elem.value='1'});
                            Element.select(tr, ['input', 'select']).each(function(elem){elem.hide()});
                            Element.hide(tr);
                            Element.addClassName(tr, 'no-display template');
                        }
                        return false;
                    }
                };

                window.tierPriceControl = tierPriceControl;
//]]>

            });
        </script>
    </div>
</div>
