<?php
/**
 * Copyright 2018 aheadWorks. All rights reserved.
 * See LICENSE.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block Aheadworks\Ajaxcartpro\Block\Ui\Product\Image */
?>
<p class="aw-acp-popup__image-wrapper">

    <?php //echo /* @noEscape */ $block->getProductImage()
    $imgurl = $block->getProductImage();
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $ProductImg = $objectManager->create('Mangoit\ResizedImage\Helper\Image')->imageResize($imgurl,153,153);
    ?>
    <img src="<?php echo $ProductImg; ?>">
</p>
