<?php
/**
 * Copyright 2018 aheadWorks. All rights reserved.
 * See LICENSE.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block Aheadworks\Ajaxcartpro\Block\Ui\Product\Reviews */
?>
<div class="aw-acp-popup__reviews-wrapper">
    <?php echo $block->getReviewsSummaryHtml() ?>
</div>

<script type="text/x-magento-init">
    {
        ".aw-acp-popup .reviews-actions a.action": {
            "Aheadworks_Ajaxcartpro/js/ui/options/reviews": {}
        }
    }
</script>