<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Sidebar */
?>
<div data-block="minicart" class="minicart-wrapper">
    <a class="action showcart desktop-view-link" href="<?= /* @escapeNotVerified */ $block->getShoppingCartUrl() ?>"
       data-bind="scope: 'minicart_content'">
    <span class="btn btn-small btn-primary">
        <i class="porto-icon-basket"></i> 
        <span class="menu-btn-text">Cart</span>
    </span> 
   <span class="counter-number btn btn-small btn-glass btn-glass-cart"><!-- ko text: getCartParam('summary_count') --><!-- /ko --></span>
</a>
<a class="action1 showcart1 mobile-view-link" href="<?php echo $block->getShoppingCartUrl()?>"
       data-bind="scope: 'minicart_content'">
    <span class="btn btn-small btn-primary">
        <i class="porto-icon-basket"></i> 
        <span class="menu-btn-text">Cart</span>
    </span> 
   <span class="counter-number btn btn-small btn-glass btn-glass-cart"><!-- ko text: getCartParam('summary_count') --><!-- /ko --></span>
</a>
    <?php if ($block->getIsNeedToDisplaySideBar()): ?>
        <div class="block block-minicart"
             data-role="dropdownDialog"
             data-mage-init='{"dropdownDialog":{
                "appendTo":"[data-block=minicart]",
                "triggerTarget":".showcart",
                "timeout": "2000",
                "closeOnMouseLeave": false,
                "closeOnEscape": true,
                "triggerClass":"active",
                "parentClass":"active",
                "buttons":[]}}'>
            <div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'">
                <!-- ko template: getTemplate() --><!-- /ko -->
            </div>
            <?= $block->getChildHtml('minicart.addons') ?>
        </div>
    <?php endif ?>
    <script>
        window.checkout = <?= /* @escapeNotVerified */ $block->getSerializedConfig() ?>;
    </script>
    <script type="text/x-magento-init">
    {
        "[data-block='minicart']": {
            "Magento_Ui/js/core/app": <?= /* @escapeNotVerified */ $block->getJsLayout() ?>
        },
        "*": {
            "Magento_Ui/js/block-loader": "<?= /* @escapeNotVerified */ $block->getViewFileUrl('images/loader-1.gif') ?>"
        }
    }
    </script>
</div>


