// /**
//  * Copyright © Ecomteck. All rights reserved.
//  * See LICENSE.txt for license details.
//  */

.setEcomteckLogo(@module; @position) {
    background-image: url('../@{module}/images/logo-menu.png');
    background-repeat: no-repeat;
    background-position: @position;
}

.admin__page-nav-item,
.admin__page-nav-item._active {
    &.ecomteck-cart-popup {
        .admin__page-nav-link,
        .admin__page-nav-link:hover {
            .setEcomteckLogo(
                'Ecomteck_CartPopup',
                right 2rem center
            );
        }
    }
}
