.grid-children,
.grid-children-0 .grid-text,
.grid-container,
.grid-item,
.grid-layout,
.grid-module {
	display: flex;
}
.grid-module {
	box-sizing: border-box;
} 
.grid-children,
.grid-item {
	flex: 1 1 auto;
}
@media(min-width:0px) and (max-width:945px) {
	.grid-layout {
		flex-direction: column;
	}
}
.grid-layout .grid-module-side {
	order: 1;
}
@media(min-width:946px) {
	.grid-layout .grid-module-side {
		flex: 0 0 300px;
	}
}
.grid-layout--tuck {
	position: relative;
	z-index: 5;
}
@media(min-width:946px) {
	.grid-layout--tuck {
		margin-top: -50px;
	}
}
.grid-container {
	flex-wrap: wrap;
	overflow: hidden;
	align-content: flex-start;
}
.grid-container--compact {
	align-items: flex-start;
}
.grid-container .grid-module--collapse {
	margin: 0;
}
.grid-container,
.grid-container .padded-subtle,
.grid-module-blank,
.grid-module-blank .padded-subtle {
	flex: 1 1 auto;
}
.grid-container,
.grid-module {
	flex: 1 1 auto;
	width: 100%;
}
.grid-module {
	background: #fff;
	border: 1px solid #dadbd9;
	border-radius: 4px;
	margin-bottom: 28px;
}
.grid-module:last-child {
	/*margin-bottom: 0;*/
}
.grid-module+.box {
	margin-top: 20px;
}
.grid-module,
.grid-module-blank {
	flex-direction: column;
	overflow: hidden;
}
@media(min-width:946px) {
	.grid-container .grid-module,
	.grid-container .grid-module-blank {
		/*margin-right: 2%;*/
	}
	/*.grid-container .grid-split .half__horizontal:nth-child(2n) {
       margin-left: 0;
       margin-right: 2%;
    }
    .grid-container .grid-split .half__vertical:nth-child(3n) {
       margin-left: 2%;
       margin-right: 0;
    }*/
    .grid-container .grid-module {
	    margin-left: 10px;
        margin-right: 27px;
	}
    .grid-container .grid-module.grid-split {
	    margin-left: 12px;
        margin-right: 17px;
	}
    /*.grid-container .grid-split:nth-child(1n) {
       margin-left: 0;
       margin-right: 0;
    }*/
}
.grid-module--wrap {
	flex-direction: row;
	flex-wrap: wrap;
}
@media(min-width:946px) {
	.grid-container .grid-module--collapse {
		margin: 0;
	}
}
.grid-parent {
	align-items: center;
	border-bottom: 1px solid #dadbd9;
}
.grid-parent:only-child {
	border-bottom: none;
}
.grid-child {
	position: relative;
}
.grid-child:last-child {
	border-right: none!important;
}
.grid-children {
	flex-wrap: wrap;
}
.grid-module .grid-child {
	flex: 1 1 28.333%;
}
.grid-module .grid-child:nth-child(n) {
	border-right: 1px solid #dadbd9;
}
.grid-module .grid-child:nth-child(n) {
	border-bottom: 1px solid #dadbd9;
}
.grid-module .grid-child:nth-last-child(-n+3) {
	border-bottom: none;
}
.grid-module .grid-child:last-child:after {
	display: none;
	content: "";
	display: block;
	border-top: 1px solid #dadbd9;
	width: 700%;
	height: 1px;
	position: absolute;
	left: 0;
	top: -1px;
}
.grid-children-0 {
	flex: 1 1 auto;
}
.grid-children-2 .grid-child,
.grid-children-4 .grid-child {
	flex: 1 1 41%;
}
.grid-children-2 .grid-child:nth-child(n),
.grid-children-4 .grid-child:nth-child(n) {
	border-right: 1px solid #dadbd9;
}
.grid-children-2 .grid-child:nth-child(2n),
.grid-children-4 .grid-child:nth-child(2n) {
	border-right: none;
}
.grid-children-2 .grid-child:nth-child(n),
.grid-children-4 .grid-child:nth-child(n) {
	border-bottom: 1px solid #dadbd9;
}
.grid-children-2 .grid-child:nth-last-child(-n+2),
.grid-children-4 .grid-child:nth-last-child(-n+2) {
	border-bottom: none;
}
.grid-children-2 .grid-child:last-child:after,
.grid-children-4 .grid-child:last-child:after {
	display: none;
}
@media(max-width:1440px) {
.grid-container .grid-module.grid-split {
    margin-left: 12px;
    margin-right: 0px !important;
}
}
@media(max-width:768px) {
}
@media(max-width:1024px) {
}
@media(min-width:600px) {
	.grid-children-4 .grid-child,
	.grid-children-7 .grid-child,
	.grid-children-8 .grid-child {
		flex: 1 1 20%;
	}
	.grid-children-4 .grid-child:nth-child(n),
	.grid-children-7 .grid-child:nth-child(n),
	.grid-children-8 .grid-child:nth-child(n) {
		border-right: 1px solid #dadbd9;
	}
	.grid-children-4 .grid-child:nth-child(4n),
	.grid-children-7 .grid-child:nth-child(4n),
	.grid-children-8 .grid-child:nth-child(4n) {
		border-right: none;
	}
	.grid-children-4 .grid-child:nth-child(n),
	.grid-children-8 .grid-child:nth-child(n) {
		border-bottom: 1px solid #dadbd9;
	}
	.grid-children-4 .grid-child:nth-last-child(-n+4),
	.grid-children-8 .grid-child:nth-last-child(-n+4) {
		border-bottom: none;
	}
	.grid-children-4 .grid-child:last-child:after,
	.grid-children-8 .grid-child:last-child:after {
		/*display: none;*/
	}
}
@media(min-width:768px) {
	.grid-children-5 .grid-child,
	.grid-children-9 .grid-child,
	.grid-children-10 .grid-child,
	.grid-children-max .grid-child {
		flex: 1 1 15%;
	}
	.grid-children-5 .grid-child:nth-child(n),
	.grid-children-9 .grid-child:nth-child(n),
	.grid-children-10 .grid-child:nth-child(n),
	.grid-children-max .grid-child:nth-child(n) {
		border-right: 1px solid #dadbd9;
	}
	.grid-children-5 .grid-child:nth-child(5n),
	.grid-children-9 .grid-child:nth-child(5n),
	.grid-children-10 .grid-child:nth-child(5n),
	.grid-children-max .grid-child:nth-child(5n) {
		border-right: none;
	}
	.grid-children-5 .grid-child:nth-child(n),
	.grid-children-10 .grid-child:nth-child(n) {
		border-bottom: 1px solid #dadbd9;
	}
	.grid-children-5 .grid-child:nth-last-child(-n+5),
	.grid-children-10 .grid-child:nth-last-child(-n+5) {
		border-bottom: none;
	}
	.grid-children-5 .grid-child:last-child:after,
	.grid-children-10 .grid-child:last-child:after {
		display: none;
	}
	.grid-children-9 .grid-child:nth-child(n) {
		border-bottom: 1px solid #dadbd9;
	}
	.grid-children-9 .grid-child:nth-last-child(-n+5) {
		border-bottom: none;
	}
	.grid-children-9 .grid-child:last-child:after {
		display: none;
		content: "";
		display: block;
		border-top: 1px solid #dadbd9;
		width: 700%;
		height: 1px;
		position: absolute;
		left: 0;
		top: -1px;
	}
	.grid-children-max .grid-children .grid-item {
		/*border-bottom: none!important;
		border-top: 1px solid #dadbd9;*/
	}
}
@media(min-width:946px) {
	.grid-module-large .grid-children-0 {
		flex: 1 1 200px;
	}
	.grid-split.grid-children-0 {
		flex: 0 0 48%;
		max-width: 48%;
	}
	.grid-children-2 {
		flex-direction: row;
	}
	.grid-children-2 .grid-parent {
		border-right: 1px solid #dadbd9;
		border-bottom: none;
		flex: 2;
	}
	.grid-children-2 .grid-children {
		flex: 1;
		flex-direction: column;
	}
	.grid-children-2 .grid-children .grid-child:nth-child(n) {
		border-bottom: 1px solid #dadbd9;
	}
	.grid-children-2 .grid-children .grid-child:last-child {
		border-bottom: none;
	}
	.grid-children-2 .grid-children .grid-child:last-child:after {
		display: none;
	}
	.grid-children-2 .grid-children .grid-child {
		border-right: none;
	}
}
@media(min-width:1100px) {
	.grid-children-3:not(.grid-split),
	.grid-children-6:not(.grid-split) {
		flex-direction: row;
	}
	.grid-children-3:not(.grid-split) .grid-parent,
	.grid-children-6:not(.grid-split) .grid-parent {
		border-right: 1px solid #dadbd9;
		border-bottom: none;
	}
	.grid-children-3:not(.grid-split) .grid-children,
	.grid-children-3:not(.grid-split) .grid-parent,
	.grid-children-6:not(.grid-split) .grid-children,
	.grid-children-6:not(.grid-split) .grid-parent {
		flex: 1;
	}
}
@media(min-width:1280px) {
	.grid-children-2 .grid-children {
		flex-direction: row;
	}
	.grid-children-2 .grid-children .grid-child:nth-child(n) {
		border-right: 1px solid #dadbd9;
	}
	.grid-children-2 .grid-children .grid-child:nth-child(2) {
		border-right: none;
	}
	.grid-children-2 .grid-children .grid-child {
		border-bottom: none!important;
	}
	.grid-children-2:not(.grid-thirds):not(.grid-split) .grid-parent,
	.grid-children-4:not(.grid-split) .grid-parent {
		flex: 1.5;
	}
	.grid-children-2:not(.grid-thirds):not(.grid-split) .grid-children,
	.grid-children-4:not(.grid-split) .grid-children {
		flex: 1;
	}
	.grid-children-4:not(.grid-split) {
		flex-direction: row;
	}
	.grid-children-4:not(.grid-split) .grid-child {
		flex: 1 1 41%;
	}
	.grid-children-4:not(.grid-split) .grid-child:nth-child(n) {
		border-right: 1px solid #dadbd9;
	}
	.grid-children-4:not(.grid-split) .grid-child:nth-child(2n) {
		border-right: none;
	}
	.grid-children-4:not(.grid-split) .grid-parent {
		border-right: 1px solid #dadbd9;
		border-bottom: none;
	}
	.grid-children-4:not(.grid-split) .grid-child:nth-child(n) {
		border-bottom: 1px solid #dadbd9;
	}
	.grid-children-4:not(.grid-split) .grid-child:nth-last-child(-n+2) {
		border-bottom: none;
	}
	.grid-children-4:not(.grid-split) .grid-child:last-child:after {
		display: none;
	}
	.grid-split .grid-parent,
	.grid-thirds .grid-parent {
		border-right: none;
		border-bottom: 1px solid #dadbd9;
		flex: 4 1 auto;
	}
	.grid-split .grid-children,
	.grid-thirds .grid-children {
		flex: 1 1 auto;
	}
	.grid-split.grid-children-2,
	.grid-split.grid-children-3,
	.grid-split.grid-children-5,
	.grid-split.grid-children-6 {
		flex-direction: column;
	}
	.grid-split.grid-children-0,
	.grid-split.grid-children-2,
	.grid-split.grid-children-3,
	.grid-split.grid-children-4,
	.grid-split.grid-children-5,
	.grid-split.grid-children-6 {
		flex: 0 0 48%;
		max-width: 48%;
	}
	.grid-thirds.grid-children-2,
	.grid-thirds.grid-children-3 {
		flex-direction: column;
	}
	.grid-thirds.grid-children-0,
	.grid-thirds.grid-children-2,
	.grid-thirds.grid-children-3 {
		flex: 0 0 31.33333333%;
	}
	.grid-children-7 .grid-child,
	.grid-children-8 .grid-child {
		flex: 1 1 auto;
	}
	.grid-children-7 .grid-child:nth-child(n),
	.grid-children-8 .grid-child:nth-child(n) {
		border-right: 1px solid #dadbd9;
		border-bottom: none;
	}
	.grid-children-7 .grid-child:last-child,
	.grid-children-8 .grid-child:last-child {
		border-right: none;
	}
	.grid-children-7 .grid-child,
	.grid-children-8 .grid-child {
		flex: 1;
	}
	.grid-children-7 .grid-children,
	.grid-children-8 .grid-children {
		flex-wrap: nowrap;
	}
}
@media(min-width:1430px) {
	.grid-children-max .grid-child {
		flex: 1 1 11.666%;
	}
	.grid-children-max .grid-child:nth-child(n) {
		border-right: 1px solid #dadbd9;
	}
	.grid-children-max .grid-child:nth-child(6n) {
		/*border-right: none;*/
	}
}
@media screen and (min-width:1600px) {
	.grid-children-8 {
		flex-direction: row;
	}
	.grid-children-8 .grid-parent {
		border-right: 1px solid #dadbd9;
		border-bottom: none;
	}
	.grid-children-8 .grid-children {
		flex-wrap: wrap;
	}
	.grid-children-8 .grid-child:nth-child(n) {
		border-right: 1px solid #dadbd9;
	}
	.grid-children-8 .grid-child:nth-child(5n) {
		border-right: none;
	}
	.grid-children-8 .grid-child:nth-child(n) {
		border-bottom: 1px solid #dadbd9;
	}
	.grid-children-8 .grid-child:nth-last-child(-n+4) {
		border-bottom: none;
	}
	.grid-children-8 .grid-child:last-child:after {
		/*display: none;*/
	}
	.grid-children-8 .grid-child {
		flex: 1 1 20%;
	}
}
.grid-parent {
	overflow: hidden;
}
.grid-parent .grid-image {
	display: block;
}
.grid-parent .sub-text {
	text-transform: uppercase;
	font-size: 10px;
	margin-top: 8px;
	text-align: center;
	margin-bottom: -10px;
	line-height: 1.4em;
}
.grid-parent .grid-text {
	padding: 15px;
	box-sizing: border-box;
}
.grid-parent .grid-text p:not(.sub-text):last-child {
	margin-bottom: 0;
}
.grid-parent h2,
.grid-parent h3 {
	font-size: 24px;
	line-height: 1em;
	margin-bottom: 10px;
}
.grid-parent p {
	color: #3b3d3b;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.4em;
	margin-bottom: 10px;
}
.grid-parent .shopAll {
	float: left;
}
@media(min-width:0px) and (max-width:599px) {
	.grid-parent .shopAll {
		width: 100%;
	}
}
.grid-parent {
	padding: 10px 0;
}
@media(min-width:1800px) {
	.grid-parent {
		padding: 40px 0;
	}
}
.grid-module-small .grid-children-0 .grid-parent .grid-image,
.grid-module:not(.grid-children-0) .grid-parent .grid-image {
	flex: 1 1 300px;
	padding: 10px;
}
.grid-module-small .grid-children-0 .grid-parent .grid-text,
.grid-module:not(.grid-children-0) .grid-parent .grid-text {
	flex: 3 1 90%;
	display: block;
}
@media(min-width:0px) and (max-width:599px) {
	.grid-module-small .grid-children-0 .grid-parent,
	.grid-module:not(.grid-children-0) .grid-parent {
		flex-direction: column;
		padding: 15px;
	}
	.grid-module-small .grid-children-0 .grid-parent .grid-image,
	.grid-module:not(.grid-children-0) .grid-parent .grid-image {
		display: none;
	}
	.grid-module-small .grid-children-0 .grid-parent .grid-text,
	.grid-module:not(.grid-children-0) .grid-parent .grid-text {
		display: block;
		flex: none;
		padding: 0;
	}
	.grid-module-small .grid-children-0 .grid-parent .btn,
	.grid-module:not(.grid-children-0) .grid-parent .btn {
		display: block;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		box-sizing: border-box;
	}
	.grid-text{width: 100%;text-align: center;}
}
@media(min-width:1481px) {
	.grid-module-small .grid-children-0.grid-thirds .grid-image,
	.grid-module:not(.grid-children-0).grid-thirds .grid-image {
		flex: 1 1 100px;
	}
}
@media(min-width:1280px) and (max-width:1480px) {
	.grid-module-small .grid-children-0.grid-thirds .grid-parent .grid-image,
	.grid-module:not(.grid-children-0).grid-thirds .grid-parent .grid-image {
		display: none;
	}
	.grid-module-small .grid-children-0.grid-thirds .grid-parent .grid-text,
	.grid-module:not(.grid-children-0).grid-thirds .grid-parent .grid-text {
		flex: 1;
	}
}
.grid-module-small .grid-children-0 .grid-image {
	padding-right: 15px;
}
@media(min-width:0px) and (max-width:599px) {
	.grid-children-0 .grid-image,
	.grid-module-small .grid-children-0 .grid-image {
		display: none;
	}
}
.grid-module-large .grid-children-0 .grid-parent {
	align-items: stretch;
	position: relative;
}
@media(min-width:1800px) {
	.grid-module-large .grid-children-0 .grid-parent {
		padding: 25px;
	}
}
.grid-module-large .grid-children-0 .grid-text {
	flex-direction: column;
	position: relative;
	z-index: 1;
	padding: 15px;
	width: 100%;
}
.grid-module-large .grid-children-0:not(.grid-split) .grid-parent {
	flex-direction: column;
	justify-content: space-between;
}
.grid-module-large .grid-children-0:not(.grid-split) .grid-header-parent {
	display: flex;
	flex-direction: column;
}
.grid-module-large .grid-children-0:not(.grid-split) .grid-header-parent h2 {
	font-size: 21px;
	line-height: 1.1em;
	margin-bottom: 0;
	margin-left: 10px;
}
@media(min-width:0px) and (max-width:599px) {
	.grid-module-large .grid-children-0:not(.grid-split) .grid-header-parent h2 {
		margin-left: 0;
	}
}
.grid-module-large .grid-children-0:not(.grid-split) .grid-header-child {
	padding: 15px 15px 10px;
	display: flex;
	flex-direction: row;
}
.grid-module-large .grid-children-0:not(.grid-split) .grid-text {
	padding-top: 0;
	justify-content: space-between;
}
.grid-module-large .grid-children-0:not(.grid-split) .shopAll {
	float: left;
	width: 100%;
	padding: 0 15px 15px;
	box-sizing: border-box;
}
.grid-module-large .grid-children-0:not(.grid-split) .grid-image {
	flex: 0 1 70px;
}
.grid-module-large .grid-children-0:not(.grid-split) .btn {
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	box-sizing: border-box;
}
.grid-module-large .grid-children-0.grid-split .grid-parent {
	flex-direction: column-reverse;
	justify-content: center;
	padding: 0;
}
.grid-module-large .grid-children-0.grid-split .grid-image {
	flex: 2 1 auto;
	padding: 0 10px;
}
.grid-module-large .grid-children-0.grid-split .grid-image img {
	max-width: 100%;
}
.grid-module-large .grid-children-0.grid-split .grid-text {
	flex: 1 2 auto;
	justify-content: flex-end;
	text-align: center;
}
.grid-module-large .grid-children-0.grid-split .btn {
	width: 50%;
	margin: 0 auto;
}
.grid-child {
	padding:10px 1% 10px 1%;
	text-align: center;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.grid-child .description {
	font-weight: 600;
	font-size: .7em;
	line-height: 1.15em;
	width: 100%;
	overflow: hidden;
	max-height: 42px;
	display: block;
}
.grid-children-max .grid-child img {
	width: auto;
}
.grid-module-side .box {
	margin-bottom: 20px;
}
.grid-module-side .padded {
	padding: 20px;
}
.grid-module-side .resources {
	margin-bottom: 15px;
}
.grid-large:after,
.grid-large:before {
	display: table;
	content: "";
	line-height: 0;
}
.grid-large:after {
	clear: both;
}
.grid-large .grid-large-col {
	float: left;
}
@media screen and (min-width:0px) {
	.grid-large .grid-large-col {
		margin: 0 0 5%;
		width: 100%;
	}
}
@media screen and (min-width:480px) {
	.grid-large .grid-large-col {
		margin: 1% 0 5% 6%;
		width: 47%;
	}
	.grid-large .grid-large-col:nth-child(odd) {
		margin-left: 0;
	}
}
@media screen and (min-width:1024px) {
	.grid-large .grid-large-col {
		width: 31.3%;
		margin: 1% 0 3% 3%;
	}
	.grid-large .grid-large-col:nth-child(odd) {
		margin-left: 3%;
	}
	.grid-large .grid-large-col:first-child {
		margin-left: 0;
	}
}