//
//  Common
//  _____________________________________________

@accessories-price__font-size: 1.4rem;

& when (@media-common = true) {
    .page-main {
        .block.accessory-upsell {
            margin-bottom: 20px;
            overflow: hidden;

            .items {
                .item {
                    clear: both;
                    margin-bottom: 8px;

                    .checkbox {
                        float: left;
                        vertical-align: top;
                        margin-top: 4px;

                        &:hover {
                            box-shadow: none;
                        }

                        &:focus {
                            box-shadow: none;
                        }
                    }

                    .accessories-left {
                        float: left;
                    }

                    .accessories-right {
                        overflow: hidden;

                        .accessory-image-photo {
                            padding: 4px;
                            display: inline-block;
                            float: left;
                        }
                    }

                    .price-box {
                        margin: 0;
                        font-size: @accessories-price__font-size;
                    }

                    .label {
                        &:extend(.abs-visually-hidden all);
                    }
                }
            }
        }
    }
}