@media all and (min-width: 1024px), print {
    .ecomteck-cart-popup-block .cart-popup-content {
      width: 55%;
      float: left;
      border-right: 1px solid #c1c1c1;
    }
    .ecomteck-cart-popup-block .cart-popup-content .content-inner {
      padding-right: 1rem;
    }
    .ecomteck-cart-popup-block .cart-popup-summary {
      display: block;
      width: 40%;
      float: right;
    }
    .ecomteck-cart-popup-block .cart-popup-summary .shopping-cart {
      margin-top: 13%;
    }
    .ecomteck-cart-popup-block .cart-popup-category .product-item {
      width: 11.33625%;
      margin: 1.33% 1.33% 0 0;
    }
    .ecomteck-cart-popup-block .cart-popup-category .product-item:nth-child(4n + 4) {
      margin-right: 1.33%;
    }
    .ecomteck-cart-popup-block .cart-popup-category .product-item:nth-child(8n + 8) {
      margin-right: 0;
    }
}
@media all and (min-width: 768px), print
{
    /*.ecomteck-cart-popup-block .cart-popup-summary {
        display: none;
      }*/
      .ecomteck-cart-popup-block .cart-popup-category .product-item {
        width: 24.0025%;
        margin: 1.33% 1.33% 0 0;
      }
      .ecomteck-cart-popup-block .cart-popup-category .product-item:nth-child(2n + 2) {
        margin-right: 1.33%;
      }
}