.ecomteck-cart-popup-block {
    padding: 0;
    margin: 0;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item {
    overflow: hidden;
    margin-bottom: 2rem;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item-photo {
    float: left;
    display: block;
    width: 37%;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item-details {
    float: right;
    width: 60%;
    padding: 0;
    margin: 0;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item-name {
    font-size: 2.6rem;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item-pricing {
    overflow: hidden;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #c1c1c1;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item-pricing .price-container {
    float: left;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item-pricing .price {
    font-size: 2.2rem;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item-sku {
    float: right;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item-sku .label {
    font-weight: 600;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item .options .list {
    display: table;
    border-collapse: collapse;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item .options .list .option-item {
    display: table-row;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item .options .list .option-item .label,
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item .options .list .option-item .values {
    display: table-cell;
    text-align: left;
    padding: 1rem;
    border: 1px solid #e5efe5;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item .options .list .option-item .label {
    font-weight: 600;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item .details-qty {
    font-weight: 600;
    margin-top: 2rem;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item .details-qty .qty-text {
    display: inline-block;
    border: 1px solid #c1c1c1;
    padding: 0.8rem 1.4rem;
    margin-left: 2rem;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item .details-qty .ui-spinner {
    display: inline-block;
    margin-left: 2rem;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item .details-qty .ui-spinner-input {
    width: 4rem;
    text-align: center;
    height: 3.3rem;
    background: none;
    border: none;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item .details-qty .ui-spinner-down,
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item .details-qty .ui-spinner-up {
    height: 3.3rem;
    cursor: pointer;
    text-align: center;
    width: 2.3rem;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item .details-qty .ui-spinner-down:hover,
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item .details-qty .ui-spinner-up:hover {
    text-decoration: none;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item .details-qty .ui-spinner-down > span,
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item .details-qty .ui-spinner-up > span {
    font-size: 2.4rem;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item .details-qty .ui-spinner-down {
    float: left;
    border-right: 1px solid #c1c1c1;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item .details-qty .ui-spinner-up {
    float: right;
    border-left: 1px solid #c1c1c1;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item-actions {
    margin-top: 2rem;
    display: block;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .product-item-actions .action.delete {
    font-size: 1.2rem;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .multi .product-item:last-child {
    border-bottom: none;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .multi .product-item-photo {
    width: 17%;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .multi .product-item-details {
    width: 80%;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .multi .product-item-name {
    font-size: 1.6rem;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .multi .product-item-pricing .price {
    font-size: 1.4rem;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .multi .product-item .details-qty {
    margin-top: 1rem;
  }
  .ecomteck-cart-popup-block .cart-popup-content .content-cart .multi .product-item .details-qty .qty-text {
    padding: 0.5rem 1.2rem;
  }
  .ecomteck-cart-popup-block .cart-popup-summary .shopping-cart .summary-title {
    text-transform: uppercase;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  .ecomteck-cart-popup-block .cart-popup-summary .shopping-cart .summary-items {
    display: table;
  }
  .ecomteck-cart-popup-block .cart-popup-summary .shopping-cart .summary-item {
    display: table-row;
  }
  .ecomteck-cart-popup-block .cart-popup-summary .shopping-cart .summary-item .label,
  .ecomteck-cart-popup-block .cart-popup-summary .shopping-cart .summary-item .values {
    display: table-cell;
    padding: 1rem;
  }
  .ecomteck-cart-popup-block .cart-popup-summary .shopping-cart .summary-item .label {
    font-weight: 600;
  }
  .ecomteck-cart-popup-block .cart-popup-summary .shopping-actions {
    margin-top: 1rem;
  }
  .ecomteck-cart-popup-block .cart-popup-summary .shopping-actions .action {
    margin-right: 1rem;
  }
  .ecomteck-cart-popup-block .cart-popup-category {
    overflow: hidden;
    font-size: 0;
    clear: both;
  }
  .ecomteck-cart-popup-block .cart-popup-category .sub-title {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .ecomteck-cart-popup-block .cart-popup-category .product-item {
    display: inline-block;
    padding: 0;
  }
  .ecomteck-cart-popup-block .cart-popup-category .product-item-info {
    border: 1px solid #c1c1c1;
    width: auto;
  }
  .ecomteck-cart-popup-block .cart-popup-category .product-item-photo {
    text-align: center;
    display: block;
    border-bottom: 1px solid #c1c1c1;
  }
  .ecomteck-cart-popup-block .cart-popup-category .product-item-details {
    padding: 0.5rem;
  }
  .ecomteck-cart-popup-block .cart-popup-category .product-item-name {
    font-size: 1.3rem;
    margin: 0;
    height: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .ecomteck-cart-popup-block .cart-popup-category .product-item-sku {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-style: italic;
  }
  .ecomteck-cart-popup-block .cart-popup-category .product-item-pricing {
    margin-top: 0.5rem;
    overflow: hidden;
  }
  .ecomteck-cart-popup-block .cart-popup-category .product-item-pricing .price-container {
    float: left;
  }
  .ecomteck-cart-popup-block .cart-popup-category .product-item-pricing .price {
    font-size: 1.3rem;
    font-weight: 600;
  }
  .ecomteck-cart-popup-block .cart-popup-category .product-item-pricing .buy {
    float: right;
  }
  .ecomteck-cart-popup-block .messages .message {
    margin: 1rem 0;
  }
  .ecomteck-cart-popup-block .products-grid .product-item-inner {
      position: relative;
  }
  .product-slider-wrapper {
    position: relative;
  }
@media only screen and (max-width: 639px) {
  .ecomteck-cart-popup-block .cart-popup-summary {
    display: none;
  }
  .ecomteck-cart-popup-block .cart-popup-category .product-item {
    width: 49.335%;
    margin: 1.33% 1.33% 0 0;
  }
  .ecomteck-cart-popup-block .cart-popup-category .product-item:nth-child(2n + 2) {
    margin-right: 0;
  }
  .ecomteck-cart-popup-block .cart-popup-category .product-item-pricing .buy {
    display: none;
  }
}

@media all and (min-width: 640px) {
  .ecomteck-cart-popup-block .cart-popup-summary {
    display: none;
  }
  .ecomteck-cart-popup-block .cart-popup-category .product-item {
    width: 49.335%;
    margin: 1.33% 1.33% 0 0;
  }
  .ecomteck-cart-popup-block .cart-popup-category .product-item:nth-child(2n + 2) {
    margin-right: 0;
  }
}