<?php 
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
    $baseurl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
    $html = $block->getCategoryExtension();
?>
<div class="categories-container">
<?php 
$collection = $block->getCategoryOrder();
foreach($collection as $result) {
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$cat_id = $result['entity_id'];
	$data =  $block->getCategoryCollection($cat_id);
	if(!empty($data)){ 
		if(!empty($data['url_path'])) {
			$categoryUrl = $data['url_path'];
		} else {
			$categoryUrl = 'test';
		}
       ?>
		<div class="main-category category-product-box">
			<a class="category-box" href="<?php echo $baseurl.''.$categoryUrl.$html; ?>">
			<?php 
				$image ='';
				
				if(!empty($data['image'])){
					$cat_image = $baseurl.'pub/media/catalog/category/'.$data['image'];
					$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                    $image = $objectManager->create('Mangoit\ResizedImage\Helper\Image')->imageResize($cat_image,302,242);
				} 
				else{
					$image = $baseurl.'pub/media/catalog/category/default2.jpg';
				}
			?>
			<div class="img-box" style="float:left;">
			    <img src="<?php echo $image; ?>">
			    <div class="category-name"><?php echo $data['name'];?></div>
			</div>
			</a>
		</div>
<?php }
}
?>
</div>