<!--
 /**
    * Magedelight
    * Copyright (C) 2017 Magedelight <info@magedelight.com>
    *
    * NOTICE OF LICENSE
    *
    * This program is free software: you can redistribute it and/or modify
    * it under the terms of the GNU General Public License as published by
    * the Free Software Foundation, either version 3 of the License, or
    * (at your option) any later version.
    *
    * This program is distributed in the hope that it will be useful,
    * but WITHOUT ANY WARRANTY; without even the implied warranty of
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    * GNU General Public License for more details.
    *
    * You should have received a copy of the GNU General Public License
    * along with this program. If not, see http://opensource.org/licenses/gpl-3.0.html.
    *
    * @category Magedelight
    * @package Magedelight_Cybersource
    * @copyright Copyright (c) 2015 Mage Delight (http://www.magedelight.com/)
    * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
    * @author Magedelight <info@magedelight.com>
    */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <form class="form" id="cim-transparent-form" action="#" method="post" data-bind="mageInit: {
             'validation':[]}">
        <fieldset data-bind="attr: {class: 'ccard fieldset payment items ' + getCode(), id: 'md_authorizecim_form_cc'}">
            <!-- ko if: (isStoreCardDropdownEnabled()) -->
            <div class="number">
                <label data-bind="attr: {for: getCode() + '_cc_token'}" class="label">
                        <span><!-- ko i18n: 'Select From Saved Card'--><!-- /ko --></span>
                </label>
                <div class="control">
                    <select class="input-text" name="payment[payment_profile_id]" data-bind="
                        click: displayNewCard,
                        attr: {id: getCode()+'_payment_profile_id'},
                        options: getStoredCard(),
                        optionsValue: 'value',
                        optionsText: 'optText',
                        ">
                    </select>
                </div>
            </div>
            <div>&nbsp;</div>
            <!-- /ko -->
            <!-- ko if: (!isStoreCardDropdownEnabled()) -->
            <input type="hidden" value="new" name="payment[payment_profile_id]" data-bind="
                        attr: {id: getCode()+'_payment_profile_id'},
                        visible: noSavedCardAvail()
                   "/>
            <!-- /ko -->
            <div class="fieldset" data-bind="attr: {id: getCode()+'card-holder'}, visible: newCardVisible(),
                            css: {display: (isStoreCardDropdownEnabled()) ? 'none': 'block'}">
                <div class="field required">
                    <div class="control">
                        <ul class="credit-card-types">
                            <!-- ko foreach: {data: getCcAvailableTypes(), as: 'item'} -->
                            <li class="item" data-bind="css: {
                                _active: $parent.selectedCardType() == item,
                                _inactive: $parent.selectedCardType() != null && $parent.selectedCardType() != item
                            } ">
                               
                                <!--ko if: $parent.getIcons(item) -->
                                <img data-bind="attr: {
                                    'src': $parent.getIcons(item).url,
                                    'width': $parent.getIcons(item).width,
                                    'height': $parent.getIcons(item).height
                                }">
                                <!--/ko-->
                            </li>
                            <!--/ko-->
                        </ul>
                        <input type="hidden"
                               name="payment[cc_type]"
                               class="input-text"
                               value=""
                               data-bind="attr: {id: getCode() + '_cc_type', 'data-container': getCode() + '-cc-type'},
                                    value: creditCardType
                        ">
                    </div>
                </div>
                
                
                <div class="field number required">
                    <label data-bind="attr: {for: getCode() + '_cc_number'}" class="label">
                        <span><!-- ko i18n: 'Credit Card Number'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="number" name="payment[cc_number]" class="input-text" value=""
                               data-bind="attr: {
                                                autocomplete: off,
                                                id: getCode() + '_cc_number',
                                                title: $t('Credit Card Number'),
                                                'data-container': getCode() + '-cc-number',
                                                'data-validate': JSON.stringify({'required-number':true, 'validate-cc-number':'#' + getCode() + '_cc_type', 'validate-cc-type':'#' + getCode() + '_cc_type'})},
                                                 value: creditCardNumber,
                                                 valueUpdate: 'keyup' "/>
                    </div>
                </div>
                <div class="field date required" data-bind="attr: {id: getCode() + '_cc_type_exp_div'}">
                    <label data-bind="attr: {for: getCode() + '_expiration'}" class="label">
                        <span><!-- ko i18n: 'Expiration Date'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <div class="fields group group-2">
                            <div class="field no-label month" style="float: left; width: auto !important;">
                                <div class="control">
                                    <select  name="payment[cc_exp_month]"
                                             class="select select-month"
                                             data-bind="attr: {id: getCode() + '_expiration', 'data-container': getCode() + '-cc-month', 'data-validate': JSON.stringify({required:true, 'validate-cc-exp':'#' + getCode() + '_expiration_yr'})},
                                                        options: getCcMonthsValues(),
                                                        optionsValue: 'value',
                                                        optionsText: 'month',
                                                        optionsCaption: $t('Month')">
                                    </select>
                                </div>
                            </div>
                            <div class="field no-label year"  style="float: left; width: auto !important;">
                                <div class="control">
                                    <select name="payment[cc_exp_year]"
                                            class="select select-year"
                                            data-bind="attr: {id: getCode() + '_expiration_yr', 'data-container': getCode() + '-cc-year', 'data-validate': JSON.stringify({required:true})},
                                                       options: getCcYearsValues(),
                                                       optionsValue: 'value',
                                                       optionsText: 'year',
                                                       optionsCaption: $t('Year')
                                                       ">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ko if: (hasVerification())-->
                <div class="field cvv required" data-bind="attr: {id: getCode() + '_cc_type_cvv_div'}">
                    <label data-bind="attr: {for: getCode() + '_cc_cid'}" class="label">
                        <span><!-- ko i18n: 'Card Verification Number'--><!-- /ko --></span>
                    </label>
                    <div class="control _with-tooltip">
                         <!-- ko if: (newCardVisible())-->
                        <input type="number"
                               autocomplete="off"
                               class="input-text cvv"
                               name="payment[cc_cid]"
                               value=""
                               data-bind="attr: {id: getCode() + '_cc_cid',
                                    title: $t('Card Verification Number'),
                                    'data-container': getCode() + '-cc-cvv',
                                    'data-validate': JSON.stringify({'required-number':true, 'validate-cc-cvn':'#' + getCode() + '_cc_type'})},
                                    " />
                         <!-- /ko -->
                          <!-- ko ifnot: (newCardVisible())-->
                        <input type="number"
                               autocomplete="off"
                               class="input-text cvv"
                               name="payment[cc_cid]"
                               value=""
                               data-bind="attr: {id: getCode() + '_cc_cid',
                                    title: $t('Card Verification Number'),
                                    'data-container': getCode() + '-cc-cvv',
                                    'data-validate': JSON.stringify({'required-number':true})},
                                    " />
                         <!-- /ko -->
                        <div class="field-tooltip toggle">
                            <span class="field-tooltip-action action-cvv"
                                  tabindex="0"
                                  data-toggle="dropdown"
                                  data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                                <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
                            </span>
                            <div class="field-tooltip-content"
                                 data-target="dropdown"
                                 data-bind="html: getCvvImageHtml()"></div>
                        </div>
                    </div>
                </div>
            <!-- /ko -->
            <!-- ko if: (isGuestCustomer())-->
                     <div class="field cvv" style="display: none;" data-bind="attr: {id: getCode() + '_save_card_div'}, visible: newCardVisible()">
                            <input type="hidden" name="payment[save_card]" data-bind="value:saveunchecked, attr: {id: getCode() +'_save_card'}" />
                     </div>
            <!-- /ko -->
             <!-- ko ifnot: (isGuestCustomer())-->
                 <!-- ko if: (isSaveCardOptional())-->
                    <div class="field cvv" data-bind="attr: {id: getCode() + '_save_card_div'}, visible: newCardVisible()">
                        <input type="checkbox" name="payment[save_card]" data-bind="value:savechecked, checked:savechecked, attr: {id: getCode() +'_save_card'}" />
                        <label data-bind="attr: {for: getCode() + '_save_card'}" style="display: inline-block" class="label">
                            <span><strong><!-- ko i18n: 'Note: '--><!-- /ko --></strong><!-- ko i18n: 'Save this credit card for future use.'--><!-- /ko --></span>
                        </label>
                    </div>
                    <!-- /ko -->
                     <!-- ko ifnot: (isSaveCardOptional())-->
                        <div class="field cvv" style="display: none;" data-bind="attr: {id: getCode() + '_save_card_div'}, visible: newCardVisible()">
                            <input type="hidden" name="payment[save_card]" data-bind="value:savechecked, attr: {id: getCode() +'_save_card'}" />
                        </div>
                    <!-- /ko -->
             <!-- /ko -->
           
            
            <!-- ko if: (getCanAcceptJs())-->
             <div class="field">
                    <input type="hidden" name="payment[data_value]" data-bind="attr: {id: getCode() +'_data_value'}" />
                    <input type="hidden" name="payment[data_descriptor]" data-bind="attr: {id: getCode() +'_data_descriptor'}" />
             </div>
            <!-- /ko -->
        </fieldset>
        </form>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: prepareCimPayment,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>