<?php
/**
 * Copyright 2018 aheadWorks. All rights reserved.
 * See LICENSE.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block Magento\Bundle\Block\Catalog\Product\View\Type\Bundle */
?>
<?php
    $product = $block->getProduct();
    $helper = $this->helper('Magento\Catalog\Helper\Output');
    $options = $block->decorateArray($block->getOptions());
?>
<?php if ($product->isSaleable()):?>
    <?php if (count($options)): ?>
        <fieldset class="fieldset fieldset-bundle-options">
            <legend id="customizeTitle" class="legend title">
                <span><?php echo $block->escapeHtml(__('Customize %1', $helper->productAttribute($product, $product->getName(), 'name'))) ?></span>
            </legend><br />
            <?php foreach ($options as $option): ?>
                <?php if (!$option->getSelections()): ?>
                    <?php continue; ?>
                <?php endif; ?>
                <?php echo $block->getOptionHtml($option) ?>
            <?php endforeach; ?>
        </fieldset>
        <script type="text/x-magento-init">
        {
            "#product_addtocart_form_acp": {
                "priceBundle": {
                    "optionConfig": <?php /* @noEscape */ echo $block->getJsonConfig()?>,
                    "controlContainer": ".field.option"
                }
            }
        }
    </script>
    <?php else: ?>
        <p class="empty"><?php echo $block->escapeHtml(__('No options of this product are available.')) ?></p>
    <?php endif; ?>
<?php endif;?>
