<?php
$cat_data = $block->getcurrentCategory(); 
$cat_name = $cat_data->getName();
$cat_count = $cat_data->getChildrenCount();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
if ($exist = ($block->getCategoryCollection($cat_data->getId(),null))) {
	$type = 'widget-viewed';
	$mode = 'grid';
	$type = $type . '-' . $mode;
	$image = 'recently_viewed_products_grid_content_widget';
	$items = $exist;
}
?>
<?php if ($exist){
?>
   	<div class="div-parent">
	<?php	foreach ($items as $_item) { ?>
			<a href="<?php echo $_item['url'];?>" title="<?php echo $_item['name'];?>" class="ag-item ag-link">
				<div class="product-image">
					<?php 
					$imagePath = '';
					if(!empty($_item['image'])) {
						$image = $_item['image'];
                        $imagePath = $objectManager->create('Mangoit\ResizedImage\Helper\Image')->imageResize($_item['image'],128,128);?>
						<img alt="cat_image" src="<?php echo $imagePath; ?>">
					<?php } else {
						$default_img = $objectManager->create('Mangoit\ResizedImage\Helper\Image')->imageResize('pub/media/catalog/category/default2.jpg',128,128); 
						?>
					    <img src= '<?php echo $default_img; ?>'>
					<?php } ?>
				</div>
				<div>
					<p class="description"><?php echo $_item['name'];?></p>
					<p class="sub-text"><?php echo $_item['product_count'];?> PRODUCTS</p>
				</div>
			</a>
		<?php } ?>
		</div>
	<?php }else {

		echo 'There are no subcategories in this category';
	}?>




