<?php
$cat_data = $block->getcurrentCategory(); 
$cat_name = $cat_data->getName();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();

$cat_count = $cat_data->getChildrenCount();
if ($exist = ($block->getCategoryCollection($cat_data->getId(),null))) {
	$type = 'widget-viewed';
	$mode = 'grid';
	$type = $type . '-' . $mode;
	$image = 'recently_viewed_products_grid_content_widget';
	$items = $exist;
}
?>
<?php if ($exist){ ?>
	<div class="grid-layout">
    <div class="grid-container grid-module-large">
	<?php	foreach ($items as $_item) {
		$new_class = '';
			if(isset($_item['cat_position']) && $_item['cat_position'] != 0){
				$val = $templatetext = $block->getOptionLabelText($_item['cat_position']);
				$sub_cat_number = preg_replace("/[^0-9]/", '', $templatetext); 
				$name_array = explode(' ', $val);
				$split = $name_array[0];
				$new_class = lcfirst($name_array[0]).'__'.lcfirst($name_array[1]);
				$pos = lcfirst($name_array[1]);
			} if($split == 'Half'){
				$new_class = 'grid-split '.$new_class;
			}
			if($new_class == "half__horizontal" && $sub_cat_number > 6) {
				$new_class = 'grid-module-max '.$new_class;
			}
			if($new_class == "grid-split half__horizontal") {
				$new_class = 'grid-split half_hori'.$sub_cat_number;
			}
			if($new_class == "full__vertical") {
				$new_class =  'grid-children-max '.$new_class; ?>
				<div class="grid-module grid-children  <?php echo $new_class; ?>">
			<?php } else {
			?>
			<div class="grid-module grid-children-<?php echo $sub_cat_number?> <?php echo $new_class; ?>">
			<?php } ?>
			<div class="grid-item grid-parent">
				<div class="grid-image">
					<a href = "<?php echo $_item['url'];?>">
					<?php 
					$imageResize = $objectManager->create('Mangoit\ResizedImage\Helper\Image');
					if(!empty($_item['image'])) {
						$MainCatImage =$imageResize->popupImageResize($_item['image'],200,200);
					 ?>
					    <img src="<?php echo $MainCatImage; ?>" alt="image">
						<?php } else { 
						$default_img =$imageResize->popupImageResize('pub/media/catalog/category/default2.jpg',200,200);
							?>
						<img src= '<?php echo $default_img; ?>'>
						<?php } ?>
			    	</a>
		    	</div>
				<div class="grid-text">
					<a href = "<?php echo $_item['url'];?>">
						<h2><?php echo $_item['name'];?></h2>
					</a>
					<p class="mangoit_description">
				      <?php echo $content = $_item['short_description']; ?>
				    </p>
					<div class="shopAll">
						<a href="<?php echo $_item['url'];?>" class="btn btn-small btn-info">Shop <?php echo $_item['name'];?></a>
						<p class="sub-text"><?php echo $_item['children_count']; ?> Categories</p>
					</div>
				</div>
			</div>
			<?php 
			if($_item['children_count']) {
				$sub_categories = $block->getCategoryCollection($_item['entity_id'],$sub_cat_number); ?>
				<div class="grid-children">
					<?php foreach($sub_categories as $sub_k=>$sub_val) {
					?>
						<div class="grid-item grid-child">
							<a href="<?php echo $sub_val['url'];?>">
    						<?php 
    						$imageResize = $objectManager->create('Mangoit\ResizedImage\Helper\Image');
							if(!empty($sub_val['image'])) {
								$subCatImage =$imageResize->imageResize($sub_val['image'],130,130);
							 ?>
							    <img src="<?php echo $subCatImage; ?>"  alt="image">
								<?php } else { 

								$sub_default = $imageResize->imageResize('pub/media/catalog/category/default2.jpg',130,130);?>
								<img src= '<?php echo $sub_default; ?>'>
								<?php } ?>
							<h3><?php echo $sub_val['name'];?></h3>
							</a> 
						</div>
					<?php } ?>
				</div>
			<?php } ?>
		</div>
		<?php } ?>
	</div>
</div>
	<?php }else {

		echo 'There are no subcategories in this category';
	}?>





