<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$mediaUrl = $objectManager->get('Magento\Store\Model\StoreManagerInterface')
                    ->getStore()
                    ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseurl = $storeManager->getStore()->getBaseUrl();
$cat_data = $block->getcurrentCategory(); 
$cat_name = $cat_data->getName();
$cat_banner_img = $cat_data->getBannerImage();
$short_description_main = $cat_data->getShortDescription();
$banner_image = $baseurl.'pub/media/catalog/category/'.$cat_banner_img;
?>
<?php
if(empty($banner_image)) {  ?>
	<img src= '<?php echo $mediaUrl."pub/media/catalog/category/default2.jpg";?>'>
	<?php } else { ?>
		<div class="ct-top-banner">
			<div style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<?php echo $banner_image;?>);" class="breadcrumb-background-image"></div>
			<div class="breadcrumb-background-color">
				<div class="banner">
					<div class="breadcrumb-heading">
						<div class="ct-page-title-wrapper">
							<h1 class="page-title"><?php echo $cat_name;?></h1>
							<p><?php echo $short_description_main; ?></p>
						</div>
					</div>
				</div>
			</div>
</div> 
	<!-- <img src="<?php //echo $banner_image; ?>"> -->
	<?php } ?>
<?php
$cat_count = $cat_data->getChildrenCount();
if ($exist = ($block->getCategoryCollection($cat_data->getId(),null))) {
	$type = 'widget-viewed';
	$mode = 'grid';
	$type = $type . '-' . $mode;
	$image = 'recently_viewed_products_grid_content_widget';
	$items = $exist;
}
?>
<?php if ($exist){
?>
<div class="mangoit-main-body">
	<div class="container">
	   	<div class="mangoit_main_parent">
		<?php	foreach ($items as $_item) {
		 ?>
				<div class="mangoit_sub_cat_grid">
				<span class="mangoit_grid_parent">
					<a href="<?php echo $_item['url'];?>" class="mangoit_img-container img-container--hover">
						<?php
						if(!empty($_item['image'])) {  
						/*if(!empty($_item['image']) && file_exists($_item['image'])) {  */
							$image = $_item['image'];
						    $CatImage = $objectManager->create('Mangoit\ResizedImage\Helper\Image')->imageResize($image,518,331);
							?>
							<img src="<?php echo $CatImage; ?>">
							<?php } else { 
							$default_img = $objectManager->create('Mangoit\ResizedImage\Helper\Image')->imageResize('pub/media/catalog/category/default2.jpg',518,331); ?>

							<img src= '<?php echo $default_img; ?>'>
						<?php } ?>
						<button type="button" class="mangoit_btn btn btn-large btn--transparent img-container__btn"><?php echo $_item['name']; ?></button>
					</a>
					<div class="grid__text cols-lg--8">
				        <a href="<?php echo $_item['url'];?>" class="mangoit_grid__title">
				           <h2 class="mangoit_name"><?php echo $_item['name']; ?></h2>
				           <div class="mangoit_link"><?php echo $_item['children_count'].' Categories'; ?> &gt;</div>
				        </a>
				        <p class="mangoit_description">
				        <?php
				        echo $content = $_item['short_description'];
				        ?>
				       </p>
				   </div>
				   <?php 
					if($_item['children_count'] >= 1) { ?>
						<div class="cols-lg--4">
						<?php
						$sub_categories = $block->getCategoryCollection($_item['entity_id'],$_item['template']); ?>
						<?php foreach($sub_categories as $sub_k=>$sub_val) { ?>
							<a href="<?php echo $sub_val['url'];?>" class="mangoit_grid__link"><?php echo $sub_val['name']; ?></a>
						<?php } ?>
						</div>
					<?php } ?>
				</span>
				</div>
			<?php } ?>
		</div>
	</div>
</div>
	<?php }else {

		echo 'There are no subcategories in this category';
	}?>

