<?php
//die("phtml called");
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$current_category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');
?>
<div class="mobile-heading"><h1>
<?php 
echo $current_category->getName();
?>
</h1>
</div>