<div>
   <?php $url = $block->getStoreManagerData();
   $id = $block->getCurrentProductDetails(); 
   $redirect_url = $url.'replacement?param='.$id;
   ?>
<a class="replacementparts-add" href= "<?php echo $redirect_url;?>"><img src="<?php echo $url."pub/media/replacement/looking-for-replacements-banner.jpeg" ?>"><p>for this item</p>
</a>
</div>