<div class="review-section">
  <?php $product =$this->getCurrentProduct();
  $id = $product->getId(); ?>
  <div class="overall-rating">
    <span><strong>Overall user rating:</strong></span>
    <?php
    $_ratingSummary = $block->getRatingSummary($product);
    $_reviewCount = $product->getRatingSummary()->getReviewsCount();
    if($_reviewCount == null)
    {
        $_reviewCount=0;
    }
    $_ratingStarValue = round($_ratingSummary/20,1);
    ?>
    <div class="reviews-actions">
     <?php echo __($_ratingStarValue." "."stars from"." ".$_reviewCount." ".'reviews'); ?>
   </div>
   <?php if($_ratingSummary){ ?>
     <div class="product-reviews-summary short">
       <div class="rating-summary">
         <div class="rating-result">
           <span style="width:<?php echo (int)$_ratingSummary; ?>%"><span><?php echo (int)$_ratingSummary; ?>%</span>
         </span>
       </div>
     </div>
   </div>
 <?php } ?>
</div>
<div class="ratings">
  <?php $productdata = $this->getAllStart($id);
  $i=100;
  foreach ($productdata as $key => $value) { 
    $review_value = $value['value'];
    if($_reviewCount == null)
    {
        $_reviewCount=0;
    }
    $progress_bar_value = $review_value*100;
    if($progress_bar_value == 0)
    {
       $progress_bar_value1=0;
    }
    else
    {
      $progress_bar_value1 = $progress_bar_value/$_reviewCount;
    }
 ?>
    <div class="rating-summary-user">
      <div class="rating-summary">
        <div class="cat-rating">
          <div class="rating-result">
            <span style="width:<?php echo $i; ?>%">
            </span>
          </div>
        </div>
        <div class="pbar">
          <div class="progress-wrap progress" data-progress-percent="<?php echo $progress_bar_value1; ?>">
              <div class="progress-bar progress  review_<?php  echo $progress_bar_value1;?>" style = "width:<?php echo $progress_bar_value1;?>%"></div>
           </div>
            <?php print_r($value['value']);?>
        </div>
      </div>
    </div>
<?php
$i=$i-20;} ?>
</div>
</div>
