<?php
/**
 * Copyright © 2016 MB Vienas bitas. All rights reserved.
 * @website    www.magetrend.com
 * @package    Newsletter Popup Pro from M2
 * @author     Edvinas Stulpinas <edwin@magetrend.com>
 */
?>
<?php $helper = $block->getHelper(); ?>
<?php $popup = $block->getPopup();?>

<div id="esns_box_layer" class="esns_theme_label">
    <div id="esns_box_close"></div>
    <div id="esns_box_block_1">
        <?php echo $block->getTextHtml(1) ?>
    </div>
    <div id="esns_box_block_2">
        <?php echo $block->getTextHtml(2) ?>
    </div>
    <div id="esns_box_block_3">
        <?php echo $block->getTextHtml(3) ?>
    </div>

    <div id="esns_box_subscribe">
        <div id="esns_box_subscribe_response_error"></div>
        <div id="esns_box_subscribe_response_success"></div>
        <div id="esns_box_subscribe_form">
            <div id="esns_box_subscribe_input">
                <input
                    class="mt-validator-email"
                    onclick="if (this.value=='<?php
                    echo $block->escapeHtml($helper->translate('email'));
                    ?>') this.value=''" onblur="if(this.value=='') this.value='<?php
                    echo $block->escapeHtml($helper->translate('email'));
                    ?>'"
                    id="esns_email" name="subscribe_email"
                    value="<?php echo $block->escapeHtml($helper->translate('email')); ?>"
                    type="text"></div>
            <div id="esns_box_subscribe_submit">
                <a href="javascript:void(0)" id="esns_submit" >
                    <?php echo $block->escapeHtml($helper->translate('subscribe')); ?>
                </a>
            </div>
        </div>
    </div>
</div>
