<?php
/**
 * Copyright © 2016 MB Vienas bitas. All rights reserved.
 * @website    www.magetrend.com
 * @package    Newsletter Popup Pro from M2
 * @author     Edvinas Stulpinas <edwin@magetrend.com>
 */
?>
<?php $helper = $block->getHelper(); ?>
<?php $popup = $block->getPopup();?>
<?php $additionalFields = $block->getAdditionalFields(); ?>

<div id="esns_box_layer" class="esns_theme_orange">
    <div id="esns_box_close"></div>
    <div class="esns_box_icon esns-icon-<?php echo $block->escapeHtml($popup->getIcon()) ;?>"
         style="background-color: <?php
            echo $block->escapeHtml($popup->getColor(1));
            ?>; color: <?php echo $block->escapeHtml($popup->getColor(1)); ?>">
        <?php echo $block->escapeHtml($block->getCurrencySymbol()); ?>
    </div>
    <?php if ($block->getTextHtml(1)) : ?>
        <div id="esns_box_block_1">
            <?php echo $block->getTextHtml(1); ?>
        </div>
    <?php endif; ?>
    <?php if ($block->getTextHtml(1)) : ?>
        <div id="esns_box_block_2">
            <?php echo$block->getTextHtml(1) ?>
        </div>
    <?php endif; ?>
    <div id="esns_box_subscribe"
        <?php if ($additionalFields) : ?>
            class="esns-with-additional"
        <?php endif ;?>>
        <div id="esns_box_subscribe_form">
            <?php if ($additionalFields) : ?>
                <?php  foreach ($additionalFields as $field) : ?>
                    <?php if ($field['after_email_field'] == 0) :?>
                        <?php echo $block->getFieldHtml($field);?>
                    <?php endif?>
                <?php endforeach;?>
            <?php endif;?>
        <input
            class="mt-validator-email"
            onclick="if (this.value=='<?php
                echo $block->escapeHtml($helper->translate('email'));
                ?>') this.value=''" onblur="if(this.value=='') this.value='<?php
                echo $block->escapeHtml($helper->translate('email'));
                ?>'"
            id="esns_email" name="subscribe_email"
            value="<?php echo $block->escapeHtml($helper->translate('email')); ?>"
            type="text">
            <?php if ($additionalFields) : ?>
                <?php  foreach ($additionalFields as $field) : ?>
                    <?php if ($field['after_email_field'] == 1) :?>
                        <?php echo $block->getFieldHtml($field);?>
                    <?php endif?>
                <?php endforeach;?>
            <?php endif;?>
            <a style="background-color: <?php echo $block->escapeHtml($popup->getColor(1)); ?>"
               href="javascript:void(0)" id="esns_submit">
                <?php echo $block->escapeHtml($helper->translate('subscribe')); ?>
            </a>
        </div>
        <div id="esns_box_subscribe_response_error"></div>
        <div id="esns_box_subscribe_response_success"
             style="color: <?php echo $block->escapeHtml($popup->getColor(1)); ?>"></div>
        <div id="esns_box_subscribe_response_coupon">
            <div id="esns_box_coupon_code">
                <?php echo $block->escapeHtml($helper->translate('coupon'));?>
                <span></span>
            </div>
            <div class="esns-box-shop-now-button">
                <a class="esns-close"
                   href="javascript:void(0)"
                   style="background-color: <?php echo $block->escapeHtml($popup->getColor(1)); ?>">
                    <?php echo $block->escapeHtml($helper->translate('shop_now')); ?></a>
            </div>
        </div>
    </div>
    <?php  if ($socials = $block->getSocial()) :?>
    <div class="esns-footer" style="background-color: <?php echo $block->escapeHtml($popup->getColor(1)); ?>">
        <div class="esns-block-title"><?php echo $block->getTextHtml(4); ?></div>
        <ul class="esns-social">
            <?php foreach ($socials as $social) : ?>
            <li>
                <a target="_blank"
                   class="esns-<?php echo $block->escapeHtml($social['name']); ?>"
                   href="<?php  echo $block->escapeHtml($social['link']); ?>"
                   title="<?php echo $block->escapeHtml($social['title']); ?>">
                </a>
            </li>
            <?php endforeach; ?>
        </ul>
    </div>
    <?php endif;?>
</div>