<?php
/**
 * Copyright 2018 aheadWorks. All rights reserved.
 * See LICENSE.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block \Aheadworks\Ajaxcartpro\Block\Actions */
?>
<?php if ($block->canRedirectToCart()) : ?>
    <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
    </script>
<?php endif; ?>

<!-- Initialization for AW Wbtab products -->
<script type="text/x-magento-init">
    {
        ".block.aw_wbtab button.action.tocart": {
            "widgetAddToCart": {
                "formKey": <?php /* @noEscape */ echo $block->getFormKey() ?>
            }
        }
    }
</script>

<!-- Initialization for AW Wvtav products -->
<script type="text/x-magento-init">
    {
        ".aw-wvtav-container button.action.tocart": {
            "widgetAddToCart": {
                "formKey": <?php /* @noEscape */ echo $block->getFormKey() ?>
            }
        }
    }
</script>

<!-- Initialization for AW SBB products -->
<script type="text/x-magento-init">
    {
        ".aw-sbb-brand-products button.action.tocart": {
            "widgetAddToCart": {
                "formKey": <?php /* @noEscape */ echo $block->getFormKey() ?>
            }
        }
    }
</script>

<script type="text/x-magento-init">
    {
        ".product-item-actions button.action.tocart": {
            "widgetAddToCart": {
                "formKey": <?php /* @noEscape */ echo $block->getFormKey() ?>
            }
        }
    }
</script>
<script>
    require([
        'jquery',
        'mage/mage'
    ], function($, widgetAddToCart) {
        $(document).ajaxComplete(function(event, xhr) {
            if (xhr.responseText) {
                try {
                    eval("var json = " + xhr.responseText + " || {}");
                } catch (e) {
                    return;
                }
                /* Aheadworks ARP compatibility */
                if (json.arp_block_content) {
                    $(".aw-arp-container__item button.action.tocart").mage('widgetAddToCart', {
                        "formKey": <?php /* @noEscape */ echo $block->getFormKey() ?>
                    });
                }
                /* Aheadworks Wbtab compatibility */
                if (json.wbtab_block_content) {
                    $(".products-aw_wbtab button.action.tocart").mage('widgetAddToCart', {
                        "formKey": <?php /* @noEscape */ echo $block->getFormKey() ?>
                    });
                }
                 /* Aheadworks Wvtav compatibility */
                if (json.wvtav_content_top !== undefined) {
                    $(".aw-wvtav-container button.action.tocart").mage('widgetAddToCart', {
                        "formKey": <?php /* @noEscape */ echo $block->getFormKey() ?>
                    });
                }
            }
        });
    });
</script>
