<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$mediaUrl = $objectManager->get('Magento\Store\Model\StoreManagerInterface')
                    ->getStore()
                    ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseurl = $storeManager->getStore()->getBaseUrl();  

                    // to get selected posts from system config
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$tableName = $resource->getTableName('core_config_data');
$sql = "Select `value` FROM " . $tableName ." Where path='blogpost/general/checkbox'";
$result = $connection->fetchAll($sql);
$posts = $result[0]['value'];
$selected_posts = (explode(",",$posts));


// To get post details
$Collection = $objectManager->create('Aheadworks\Blog\Model\ResourceModel\Post\CollectionFactory');
$collection = $Collection->create()->addFieldToFilter('id',array('in' => $selected_posts));
$post_data = $collection->getData();
?>

<div class="main-blog row">
	<?php foreach ($post_data as $key => $value) {
		//$position=100; 
		//$content = '';
		//if(strlen($value['short_content']) > $position) {// to lomit charachter
			//$message=$value['short_content'];
			//$content .= substr($message, 0, $position);
			//$content .= "....";
		//} else {
			$content = $value['short_content'];
		//}		

	 ?>
		<div class="blog col-lg-4">
			<div class="blog-block">
				<a href="<?php echo $baseurl.'blog/'.$value['url_key'];?>" target="_blank">
					<div class="ct-blogimg">
						<?php 
						$image = $baseurl.'pub/media/'.$value['featured_image_file'];
						
						if(empty($image)) {  ?>
							<img src= '<?php echo $mediaUrl."pub/media/catalog/category/default2.jpg";?>'>
							<?php } else { 

							$PostImage = $objectManager->create('Mangoit\ResizedImage\Helper\Image')->imageResize($image,460,228);
							?>
							<img src="<?php echo $PostImage; ?>">
							<?php } ?>
					</div>
					<div class="fsr-text">
				        <p class="resource-title"><?php echo $value['title'];?></p>
				        <p class="resource-brief"><?php echo $content; ?></p>
		         </div>
				</a>
		    </div>
		</div>
	<?php } ?>
</div>
