<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_FBT
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
?>

<style type="text/css" media="screen">
    .sort-fbt {
        list-style-type: none;
        box-sizing: border-box;
        border: 1px solid #aaa;
    }

    .sort-fbt li {
        border-bottom: 1px solid #CCC;
        padding: 5px;
    }

    .sort-fbt li:hover {
        background: #F6F6F6;
        cursor: pointer
    }

    #row_fbt_general_sort_item_type {
        display: none;
    }

    .disable {
        background-color: #e9e9e9;
        border-color: #adadad;
        color: #303030;
        opacity: .5;
        cursor: not-allowed;
    }
</style>

<?php
$itemtype = $block->getItemType();
$_sortitemtype = $itemtype;
$sortableString = $block->sortItemType();
if ($sortableString) {
    $_sortitemtype = [];
    $sortitemtype = null;
    parse_str($sortableString, $sortitemtype);
    foreach ($sortitemtype['sort'] as $key => $value) {
        $_sortitemtype[$value] = $itemtype[$value];
    }
}
?>
<ul id="sort-fbt" data-list="sort" class="sort-fbt">
    <?php foreach ($_sortitemtype as $val => $lable) { ?>
        <li id="sort-<?php echo $val; ?>" class="">
            <span class="fbt-text"><?php echo $this->escapeHtml($lable); ?></span>
        </li>
    <?php } ?>
</ul>
