<?php
/**
 * Magedelight
 * Copyright (C) 2017 Magedelight <info@magedelight.com>.
 *
 * NOTICE OF LICENSE
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see http://opensource.org/licenses/gpl-3.0.html.
 *
 * @category Magedelight
 *
 * @copyright Copyright (c) 2017 Mage Delight (http://www.magedelight.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Magedelight <info@magedelight.com>
 */
$cards = $this->getCards() ?>
<div class="ui-tabs" id="md-cim-cards-list-container">
    <ul class="md-cim-cards-list ui-tabs-nav">
        <?php foreach($cards as $idx=>$_card): ?>
        <li class="md-cim-cards-list-item">
            <div class="md-cim-cards-list-item-actions">
                 <button class="action-edit" type="button" card-id="<?php
                    echo (string)$_card['card_id']; ?>">
                            <span></span>
                 </button>
                 <button class="action-delete" type="button" card-id="<?php
                    echo (string)$_card['card_id']; ?>">
                            <span></span>
                 </button>
            </div>
             <div>
                <strong><?php /* @noEscape */ echo "XXXX-" . $_card["cc_last_4"]; ?></strong>
             </div>
            <address>
                <?php echo $this->getFormatedAddress($_card) ?>
            </address>
        </li>
        <?php endforeach; ?>
        <li class="md-cim-cards-actions last">
            <button type="button" class="scalable add" id="md-cards-add">
                <span><?php echo __('Add New Card') ?></span>
            </button>
        </li>
    </ul>
    <div class="md-cim-cards-item-edit">
        <div class="md-cim-cards-item-edit-content address-item-edit-content">
            <fieldset class="admin__fieldset md-cim-cards-item-edit-fieldset">
                <?php echo $this->getChildHtml('authorizecimAddCards') ?>
            </fieldset>
        </div>
    </div>
</div>
<script type="text/javascript">
    require(['jquery'],function($){
            $('.md-cim-cards-list-item').each(function(i, element){
                $(element).hover(
                    function(){
                        $(element).addClass('ui-state-active');
                    },
                    function(){
                        $(element).removeClass('ui-state-active');
                    }
                );
            });
        $('#md-cards-add').on('click',function(event){
            addNewCimForm();
        });
        
        $('.action-delete').on('click',function(event){
             var cardId = $(this).attr('card-id');
             $.ajax('<?php echo $this->getDeleteActionUrl() ?>?isAjax=true',{
               data: {card_id: cardId},
               method: 'GET',
               dataType: 'json',
               beforeSend: function(){
                   $('li:has(button[card-id="'+cardId+'"])').slideUp('slow');
                   jQuery('.admin__data-grid-loading-mask').show();
                    jQuery('.admin__data-grid-loading-mask').css("position","fixed");
               },
               complete: function(transport){
                   jQuery('#messages').remove();
                     var responseText = transport.responseText.evalJSON();
                    var updateflag = true;
                    if (transport.responseText.isJSON()) {
                            var response = transport.responseText.evalJSON();
                            if (response.ajaxExpired && response.ajaxRedirect) {
                                updateflag = false;
                                setLocation(response.ajaxRedirect);
                            }
                            
                     }
                     if(updateflag)
                     {
                        if(responseText.error)
                        {
                            jQuery('li:has(button[card-id="'+cardId+'"])').slideDown('slow');
                        }
                         jQuery('.admin__data-grid-loading-mask').hide();
                         jQuery('.admin__data-grid-loading-mask').css("position","absolute");
                          addNewCimForm()
                         jQuery('.page-main-actions').after(responseText.message);
                     }
               },
               error: function(transport){
                     $('.md-cim-cards-item-edit-content').html('Error during processing...');
               },
               
            });
        });
        
        $('.action-edit').on('click',function(event){
            var cardId = $(this).attr('card-id');
            $.ajax('<?php echo $this->getEditCardAction() ?>?isAjax=true',{
               data: {card_id: cardId},
               method: 'GET',
               dataType: 'html',
               beforeSend: function(){
                   jQuery('.admin__data-grid-loading-mask').show();
                    jQuery('.admin__data-grid-loading-mask').css("position","fixed");
               },
               complete: function(transport){
                   var responseText = transport.responseText;
                    var updateflag = true;
                    if (transport.responseText.isJSON()) {
                            var response = transport.responseText.evalJSON();
                            if (response.ajaxExpired && response.ajaxRedirect) {
                                updateflag = false;
                                setLocation(response.ajaxRedirect);
                            }
                            
                     }
                     if(updateflag)
                     {
                         jQuery('.md-cim-cards-item-edit-fieldset').html(transport.responseText);
                         jQuery('.admin__data-grid-loading-mask').hide();
                         jQuery('.admin__data-grid-loading-mask').css("position","absolute");
                     }
                    
               },
               error: function(transport){
                    $('.md-cim-cards-item-edit-content').html('Error during processing...');
               },
               
            });
        });
    });
    function addNewCimForm()
    {
        jQuery.ajax('<?php echo $this->getAddAction() ?>?isAjax=true',{
               data: {},
               method: 'GET',
               dataType: 'html',
               beforeSend: function(){
                   jQuery('.admin__data-grid-loading-mask').show();
                    jQuery('.admin__data-grid-loading-mask').css("position","fixed");
               },
               complete: function(transport){
                    var responseText = transport.responseText;
                    var updateflag = true;
                    if (transport.responseText.isJSON()) {
                            var response = transport.responseText.evalJSON();
                            if (response.ajaxExpired && response.ajaxRedirect) {
                                updateflag = false;
                                setLocation(response.ajaxRedirect);
                            }
                            
                     }
                     if(updateflag)
                     {
                         jQuery('.md-cim-cards-item-edit-fieldset').html(transport.responseText);
                         jQuery('.admin__data-grid-loading-mask').hide();
                         jQuery('.admin__data-grid-loading-mask').css("position","absolute");
                     }
                     
               },
               error: function(transport){
                    jQuery('.md-cim-cards-item-edit-fieldset').html('Error during processing...');
               },
              
            });
    }
</script>