/**
* BSS Commerce Co.
*
* NOTICE OF LICENSE
*
* This source file is subject to the EULA
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://bsscommerce.com/Bss-Commerce-License.txt
*
* =================================================================
*                 MAGENTO EDITION USAGE NOTICE
* =================================================================
* This package designed for Magento COMMUNITY edition
* BSS Commerce does not guarantee correct work of this extension
* on any other Magento edition except Magento COMMUNITY edition.
* BSS Commerce does not provide extension support in case of
* incorrect edition usage.
* =================================================================
*
* @category   BSS
* @package    Bss_FBT
* @author     Extension Team
* @copyright  Copyright (c) 2015-2016 BSS Commerce Co. ( http://bsscommerce.com )
* @license    http://bsscommerce.com/Bss-Commerce-License.txt
*/
.page-layout-1column .fbt .products-grid .product-item{
width: 100% !important;
} 
.fbt .products-grid .product-item-actions{
    margin: 0 !important;
}
.fbt .products-grid .product-item-name {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    display: block;
    hyphens: auto;
    margin: 5px 0;
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fbt-preview ul {
    list-style: none;
    padding: 0px;
}
.ip-fbt {
    padding: 10px 0px;
}
.fbt-action button {
    display: block !important;
    margin-top: 15px;
}
table.fbt-preview1,table.fbt-preview2 {
    max-width: 500px;
}
table.fbt-preview2 tr:first-child td {
    font-weight: bold;
}
#bss_fbt_cart_popup {
    display: none;
    position: relative;
    width: 500px;
    max-width: 80%;
    top: 25%;
    margin: 0 auto;
    z-index: 999;
    text-align: center;
}

#bss_fbt_cart_popup .btn-viewcart, #bss_fbt_cart_popup .btn-continue {
    width: 50%;
    float: left;
    color: #fff;
}

#bss_fbt_cart_popup .btn-continue .continue {
    background: #1979c3;
    box-shadow: none;
    border: none;
    color: #fff;
}

#bss_fbt_cart_popup .btn-continue .continue:hover {
    background: #006bb4;
}

#bss_fbt_cart_popup .btn-viewcart .viewcart {
    background: #1979c3;
    box-shadow: none;
    border: none;
    color: #fff;
}

#bss_fbt_cart_popup .btn-viewcart .viewcart:hover {
    background: #006bb4;
}

.full-width {
    width: 100% !important;
}
p.messages-error {
    text-align: left;
    color: #e02b27;
}
.remove-er-pu {
    float: right;
    background: url(../images/bin.png);
    background-size: 65%;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
    top: 35px;
}
.info-er-pu {
    float: left;
    width: 50%;
    min-width: 200px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}
.item-info-er {
    position: relative;
}
.item-img-er {
    float: left;
    width: 20%;
    min-width: 100px;
}
.item-er-pu {
    border: 1px solid #d2d2d2;
    padding: 5px;
    border-bottom: 0px;
}
.item-er-pu:last-child{
    border-bottom: 1px solid #d2d2d2;
}
.product-qty-er {
    display: block;
    padding: 5px 0;
    height: 35px;
}
.product-qty-er span {
    display: block;
    width: 35px;
    float: left;
    line-height: 32px;
}
.product-qty-er input {
    display: block;
    width: 45px !important;
}
button#product-addtocart-button-er-pu {
    display: block;
    margin: 15px 0px;
}
.popup .header {
    margin-bottom: 15px;
}
#product-slider {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 25px;
}
#product-slider li{
    padding-left: 5px;
}
#product-slider li:last-child{
    padding-left: 0px;
}

#product-slider .owl-controls   .owl-buttons .owl-next {
    right: 4px;
    top: 40%;
}
#product-slider .owl-controls   .owl-buttons .owl-prev {
    left: 8px !important;
    top: 40%;
    right: inherit;
}
#product-slider.owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
    display: inline-block;
    zoom: 1;
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    /* -webkit-border-radius: 30px; */
    -moz-border-radius: 30px;
    /* border-radius: 30px; */
    /* background: #869791; */
    filter: Alpha(Opacity=50);
    opacity: 1;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position-y: 5px;
    border: 1px solid rgba(193, 193, 193, 0.82);
    width: 10px;
    margin-left: 23px;
    background-position-x: 10px;
    height: 16px;
}
.item.product-info {
    background: rgba(255,255,255,0);
    border: 1px solid rgba(232, 232, 232, 0.57);
    margin-left: 5px;
    width: 95%;
    position: relative
}

.item.product-info a {
    display: block;
    width: 90%;
    margin: auto;
}
.fancybox-inner{
    height: auto !important;
    max-height: 500px;
}
input.product-select {
    margin-right: 5px !important;
}
input.fbt-qty {
    width: 45px;
    height: 30px;
    margin-bottom: 5px;
}
.button-bs-ad span.total_qty,.button-bs-ad span.total_products {
    font-size: 11px;
    display: block;
}
.products-list input.fbt-qty {
    width: 45px;
    height: 35px;
    position: relative;
    top: 2px;
    margin-right: 5px;
}
.product-item:hover {
    z-index: 5;
}
button#product-addtocart-button-er-fbt {
    margin-top: 10px;
}

@media only screen and (max-width: 767px) {
   #bss_fbt_cart_popup .fieldset > .field .note, #bss_fbt_cart_popup .fieldset > .fields > .field .note{
        font-size: 10px;
    }
    #bss_fbt_cart_popup input[type="text"], #bss_fbt_cart_popup select{
        width: auto;
    }
    .remove-er-pu {
        top: 0;
    }
}
