<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Xsearch
 */
?>
<?php
    /** @var \Amasty\Xsearch\Block\Search\AbstractSearch $block */
    $results = $block->getResults();
    echo "<pre>";
    print_r($results);
    echo "</pre>";
?>
<?php if (count($results)) : ?>
    <?php foreach ($results as $item) :
        /** @var array $item  = ['title' => string, 'name' => string, 'description' => string, 'url' => string, 'num_results' => string] */ ?>
        <div class="amsearch-item"
             data-search-block-type="<?= /* @escapeNotVerified */ $block->getBlockType();?>">
            <?php if (!empty($item['full_path'])) : ?>
                <?= $item['full_path'] ?>
            <?php else : ?>
                <a href="<?= /* @escapeNotVerified */ $item['url'] ?>"
                   title="<?= /* @escapeNotVerified */ $block->stripTags($item['title']); ?>"
                   class="item-name" >
                    <?= /* @escapeNotVerified */ $block->stripTags($item['title']); ?>
                </a>
            <?php if (isset($item['num_results'] )) :?>
                <span class="amasty-xsearch-num-results"><?= $item['num_results'] ?></span>
            <?php endif ?>
            <?php endif; ?>
            <?php if ($block->showDescription($item)) :?>
                <div class="item-description">
                    <?= /* @escapeNotVerified */ $item['description']?>
                </div>
            <?php endif; ?>
        </div>
    <?php endforeach;?>
<?php else : ?>
    <div class="message notice">
        <div>
            <?= /* @escapeNotVerified */ __('Your search returned no results.') ?>
        </div>
    </div>
<?php endif; ?>
