<div class="cat-help">
<div class="help-block-chat">
<span class="help-block-title">Use Our Live Chat</span>
<p class="cat-chat-hours">Mon-Thur 24 Hours, Fri 12AM-8PM EST<br>Sat &amp; Sun 9AM-4PM EST</p>
<div class="cat-chat-btn"><a href="#" target="_blank"><script type="text/javascript" src="https://www.mylivechat.com/chatbutton.aspx?hccid=13810003"></script>
<div id="MyLiveChatContainer"></div></a></div>
<img class="chat-img" src="//cdnimg.webstaurantstore.com/uploads/design/2016/4/needhelp-livechat.png">
</div>
</div>