<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currencyFactory = $objectManager->create('Magento\Directory\Model\CurrencyFactory');
$currencyCode = $storeManager->getStore()->getCurrentCurrencyCode();
$currency = $currencyFactory->create()->load($currencyCode);
$currencySymbol = $currency->getCurrencySymbol();
$quote = $block->getQuoteData();
$subTotal = $quote->getSubtotal();
$subTotall = number_format($subTotal, 2, '.', '');
$defaultTotal=0.00;
if(!empty($subTotal))
{
	?>
	<span class="subtotal-price"><?php
    echo $currencySymbol.$subTotall;
    ?>
    </span><?php
}
else
{   ?>
	<span class="subtotal-price"><?php
	echo $currencySymbol.$defaultTotal;
	?>
    </span> <?php
}
?>
<div class="hr-line"></div>