<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Wishlist\Block\Customer\Wishlist\Item\Column\Image $block */

/** @var \Magento\Wishlist\Model\Item $item */
$item = $block->getItem();
$product = $item->getProduct();
?>
<a class="product-item-photo" tabindex="-1" href="<?= $block->escapeUrl($block->getProductUrl($item)) ?>" title="<?= $block->escapeHtmlAttr($product->getName()) ?>">
   


<?php $img = $block->getImage($block->getProductForThumbnail($item), 'wishlist_thumbnail')->getImageUrl();
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$CatImage = $objectManager->create('Mangoit\ResizedImage\Helper\Image')->imageResize($img,150,150);
	//echo $CatImage;?>
	<span class="product-image-container" style="width:240px;">
    <span class="product-image-wrapper" style="padding-bottom: 125%;">
        <img class="product-image-photo" src="<?php echo $CatImage; ?>" alt="Fashion Jacket"></span>
</span>

</a>
