<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Wishlist\Block\Customer\Wishlist\Item\Column\Info $block */

/** @var \Magento\Wishlist\Model\Item $item */
$item = $block->getItem();
$product = $item->getProduct();
$id=$block->escapeHtml($product->getId());
//echo $id;
?>
<strong class="product-item-name">
    <a href="<?= $block->escapeUrl($block->getProductUrl($item)) ?>" title="<?= $block->escapeHtmlAttr($product->getName()) ?>" class="product-item-link" id="<?php echo $id;?>"> 
        <?php 
         $name=$block->escapeHtml($product->getName());
         
         $position=30; 
		 $content = '';
		 if(strlen($name) > $position) {// to limit charachter
			$message=$name;
			$content .= substr($message, 0, $position);
			echo $content .= "...";
		} else {
			echo $content = $name;
		}		
        ?>
    </a>
     <a href="<?= $block->escapeUrl($block->getProductUrl($item)) ?>" title="<?= $block->escapeHtmlAttr($product->getName()) ?>" class="product-item-link-full" id="fullname-<?php echo $id;?>" style="display:none">
        <?= $block->escapeHtml($product->getName()) ?>
    </a>
</strong>
<script type="text/javascript">
    require(['jquery', 'jquery/ui'], function($){
    	var id;
        jQuery(".product-item-link").on("mouseover", function (){
        	id = this.id;
            jQuery("#"+id).css("display", "none");
            jQuery("#fullname-"+id).css("display", "block");
            jQuery('.product-item').height(435);
        });
        jQuery(".product-item-link-full").mouseout(function() {
            jQuery("#"+id).css("display", "block");
            jQuery(this).css("display", "none");
            jQuery('.product-item').height('');
        });
    });
</script>