<?php
    $additionalFields = $block->getAdditionalFields();
    $newsletterPopupBlock
?>
<div class="block newsletter">
    <div class="title"><strong>Newsletter</strong></div>
    <div class="content">

        <form class="form subscribe"
              novalidate
              action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
              method="post"
              data-mage-init='{"validation": {"errorClass": "mage-error"}}'
              id="newsletter-validate-detail">

            <?php if ($additionalFields) : ?>
                <?php  foreach ($additionalFields as $field) : ?>
                    <?php if ($field['after_email_field'] == 0) : ?>
                        <?php echo $block->getThemeBlock()->getFieldHtml($field);?>
                    <?php endif?>
                <?php endforeach;?>
            <?php endif;?>

            <div class="field newsletter">
                <label class="label" for="newsletter"><span><?php /* @escapeNotVerified */ echo __('Sign Up for Our Newsletter:') ?></span></label>
                <div class="control">
                    <input name="email" type="email" id="newsletter"
                           placeholder="<?php /* @escapeNotVerified */ echo __('Enter your email address') ?>"
                           data-validate="{required:true, 'validate-email':true}"/>
                </div>
            </div>

            <?php if ($additionalFields) : ?>
                <?php  foreach ($additionalFields as $field) : ?>
                    <?php if ($field['after_email_field'] == 1) :?>
                        <?php echo $block->getThemeBlock()->getFieldHtml($field);?>
                    <?php endif?>
                <?php endforeach;?>
            <?php endif;?>

            <div class="actions">
                <button class="action subscribe primary" title="<?php /* @escapeNotVerified */ echo __('Subscribe') ?>" type="submit">
                    <span><?php /* @escapeNotVerified */ echo __('Subscribe') ?></span>
                </button>
            </div>
        </form>

    </div>
</div>

<!--
    Popup trigger example
    <a href="#" class="mt-np-popup-open-force">OPEN POPUP LINK</a>
-->
