<?php
/**
 * Copyright © 2016 MB Vienas bitas. All rights reserved.
 * @website    www.magetrend.com
 * @package    Newsletter Popup Pro from M2
 * @author     Edvinas Stulpinas <edwin@magetrend.com>
 */
?>
<div class="mtnp-checkbox-field">
<input
    name="<?php echo $block->escapeHtml($block->getName());?>"
    type="checkbox"
    data-field-name="<?php echo $block->escapeHtml($block->getLabel()); ?>"
    value="1"
    class="esns-additional-field esns-additional-field-<?php echo $block->escapeHtml($block->getName());?><?php
        echo $block->getIsRequire()?' mt-validator-required':''
    ;?>"
    id="esns_additional_<?php echo $block->escapeHtml($block->getName());?>"
    data-error-message="<?php echo htmlspecialchars($block->getJsonErrorMessage(), ENT_QUOTES, 'UTF-8'); ?>"
    <?php if ($block->getIsRequire()) : ?> data-validate="{required:true}" <?php endif; ?>
    />
    <label for="esns_additional_<?php echo $block->escapeHtml($block->getName());?>">
        <?php echo $block->getFrontendLabel(); ?>
    </label>
</div>