<?php
/**
 * Copyright © 2016 MB Vienas bitas. All rights reserved.
 * @website    www.magetrend.com
 * @package    Newsletter Popup Pro from M2
 * @author     Edvinas Stulpinas <edwin@magetrend.com>
 */
?>
<?php $helper = $block->getHelper();?>
<select
    name="<?php echo $block->escapeHtml($block->getName());?>"
    data-field-name="<?php echo $block->escapeHtml($block->getLabel()); ?>"
    class="esns-additional-field esns-additional-field-<?php echo (int)$block->getId();?><?php
        echo $block->getIsRequire()?' mt-validator-required':'';
    ?>"
    id="esns_additional_<?php echo (int)$block->getId();?>"
    <?php if ($block->getIsRequire()) : ?> data-validate="{required:true}" <?php endif; ?>
>
    <option value=""><?php echo $block->escapeHtml($block->getLabel()); ?></option>
    <?php if ($options = $block->getData('optionValues')) : ?>
        <?php foreach ($options as $option) : ?>
            <option value="<?php echo $block->escapeHtml($option['value']);?>">
                <?php echo $block->escapeHtml($option['label']);?>
            </option>
        <?php endforeach;?>
    <?php endif; ?>
</select>

