//----
// @category	:	Ubertheme
// @package 	:	Ubertheme_UbContentSlider
// @author		:	Ubertheme.com
// @copyright :	Copyright 2009-2016 Ubertheme
//---------------------------


//Variable from Ub Content Slider

// -----------------------------
// Common
// -----------------------------

& when (@media-common = true) {
	.owl-carousel {
		&.owl-theme {
			.product-item {
				margin: 0 !important;
				padding: 20px !important;
				width: 100% !important;
				img{
					display: block;
					height: auto !important;
					margin: 0px auto;
					max-width: 100% !important;
					text-align: center;
					width: 100% !important;
				}
			}
			&.thumb-items {
				margin-top: 6px;
				.owl-wrapper-outer {
					padding-top: 9px;
					.owl-item {
						.item	 {
							padding: 0 10px;
							text-align: center;
						}
						&.synced {
							position: relative;
							&:before {
								background: url('../Ubertheme_UbContentSlider/images/active-thumb-arrow.png') no-repeat 0 0; 
								content: "";
								height: 9px;
								left: 50%;
								margin-left: -9px;
								position: absolute;
								top: -9px;
								width: 17px;
								z-index: 1;
							}
						}
					}
				}
			}
			.owl-controls { 
				.owl-buttons {
					height: 0;
					margin-top: 0px;
				  	position: absolute;
					top: -47px;
					width: 100%;
					div {
						background: url('../Ubertheme_UbContentSlider/images/default-arrow.png') no-repeat 0 0;
						color: @color-white;
						display: inline-block;
						font-size: 0px;
						height: 24px;
						margin: 0px;
						padding: 0;
						width: 24px;
						border-radius: 0px;
						border-radius: 0;
						opacity: 1;
						&.owl-prev {
							background-position: 0 0;
							float: right;
							font-size: 0;
							margin-right: 0;
							padding: 0;
							position: absolute;
							right: 50px;
							border-radius: 0;
						}
						&.owl-next {
							background-position: -24px 0;
							float: right;
							font-size: 0;
							margin-right: 10px;
							padding: 0;
							border-radius: 0;
						}
						&:focus,
						&:hover {
							&.owl-prev {
								background-position: 0 -24px;
							}
							&.owl-next {
								background-position: -24px -24px;
							}	
						}
					}
				}
			}
			.owl-pagination {
				.owl-page {
		    	span {
		    		background: url('../Ubertheme_UbContentSlider/images/default-item-pagination.png') no-repeat 0 0;
		    		margin: 5px;
		    		&.owl-numbers {
						background: @color-orange-red4;
						color: @color-white;
						display: block;
						font-size: @font-size__s;
						font-weight: @font-weight__semibold;
						height: 10px;
						line-height: 10px;
						padding: 5px;
						width: 10px;
		    			-moz-border-radius: 0;
		    			-webkit-border-radius: 0;
		    			border-radius: 0;
		    		}
		    	}
		    	&.active {
		    		span {
		    			background-position: 0 -12px;	
		    		}
		    	}
		    }
			}

			.bar {
				background: @color-orange-red4;
				height: 4px;
				max-width: 100%;
				width: 0%;
		  }
			.progressBar  {
				background: @color-gray92 + 2;
				margin: 0 10px;
				max-width: 100%;
			}

		}
	}

	.ub-content-slider-block {
		.block-title{
			h3 {
				font-size: @font-size__l;
				text-align: left;
			}
		}
		&.no-title{
			.owl-carousel.owl-theme {
				.owl-controls {
					.owl-buttons {
						top: -10px;
					}
				}
			}	
		}
	}

	.ub-content-slider-title {
		font-size: @font-size__l;
		padding: 0 0 20px 10px;
		text-transform: uppercase;
	}

	.ub-content-slider.no-items{
		border: 1px solid @color-gray82 + 5;
		font-style: italic;
		margin: 10px;
		padding: 10px; 
		text-align: center;
	}

	.ub-content-slider-items {
		.item .slide-title{
			font-weight: @font-weight__semibold;
		}
		.slide-content{
			text-align: center;
		}
	}

	//Sidebar
	.sidebar {
		.product-items .owl-item .product-item-info .product-item-photo {
			position: relative !important;
		}
		.owl-wrapper .owl-item .product-items .product-item-details {
			margin: 0;
			text-align: center;
			width: 100%;
		}
	}


	//----
	// Slider Thumbs
	//---------------------------
	.columns .column.main {
		width: 100%;
		flex-basis: inherit !important;	
	}

	.thumb-items {
		.owl-item {
			cursor: pointer;
			img{
				border: 1px solid @color-white;
			}
		}
		.owl-item.synced {
			img{
				border: 1px solid @color-orange-red4;
			}
		}
	}

	

	//----
	// Demo Style
	//---------------------------

	

	// -Images Slider
	.owl-theme {
		&.ub-style-1 {
			.slide-content {
				padding: 0 10px;
			}
			.slide-content-desc {
				left: 120px;
				margin-top: -100px;
				position: absolute;
				top: 50%;
				.slide-title {
					font-size: @font-size__xl * 2;
					font-weight: @font-weight__bold;
					a {
						color: @color-white;
						text-decoration: none;
					}
				}
				.slide-desc {
					color: @color-white;
					font-size: @font-size__l;
					padding: 20px 0;
					opacity: .6;
				}
				.slide-readmore {
					border: 2px solid @color-white;
					color: @color-white;
					display: inline-block;
					font-size: @font-size__s;
					height: 29px;
					line-height: 29px;
					margin-top: 20px;
					padding: 0 20px;
					text-transform: uppercase;
					width: auto; 
					-webkit-border-radius: 40px;
					border-radius: 40px; 
					-moz-order-radius: 40px; 
					&:active, 
					&:focus,
					&:hover {
						border-color: @color-orange-red4;
						color: @color-orange-red4;
						text-decoration: none;
					}
				}
			}
			.owl-controls {
				margin-top: 0;
				.owl-pagination {
					bottom: 30px;
					position: absolute;
					width: 100%;
					.owl-page {
						span {
							background: url('../Ubertheme_UbContentSlider/images/default-item-pagination.png') no-repeat 0 0;
							margin: 5px;
							&.owl-numbers {
									background: @color-orange-red4;
									color: @color-white;
							}
						}
						&.active {
							span {
								background-position: 0 -12px;	
							}
						}
					}
				}
				.owl-buttons {
					display: none;
					height: 0;
					margin-top: -20px;
					position: absolute;
					top: 50%;
					width: 100%;
					div {
						background: url('../Ubertheme_UbContentSlider/images/image-arrow.png') no-repeat 0 0;
						color: @color-white;
						display: inline-block;
						font-size: 0px;
						height: 40px;
						margin: 0px;
						padding: 0;
						width: 40px;
						border-radius: 0;
						opacity: 1; 
						&.owl-prev {
							background-position: 0 0;
							float: left;
							margin-left: 35px;
							position: static;
						}
						&.owl-next {
							background-position: -40px 0;
							float: right;
							margin-right: 35px;
						}
						&:focus,
						&:hover {
							&.owl-prev {
								background-position: 0 -40px;
							}
							&.owl-next {
								background-position: -40px -40px;
							}	
						}
					}
				}
			}
			&:hover {
				.owl-controls {
					.owl-buttons {
						display: block;	
					}
				}
			}
		}
	}
	

	// -Videos Slider 
	.owl-theme {
		&.ub-style-2{
			.owl-item {
				.item {
					padding: 0 10px;
					iframe {
						width: 100% !important;
					}
					.slide-title {
						color: @color-gray20;
						font-size: @font-size__l - 2;
						font-weight: @font-weight__light;
						margin-top: 15px; 
						text-transform: uppercase;
						a {
							color: @color-gray20;
							text-decoration: none;
						}
					}
				}
			}
		}
	}

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	
	.owl-theme {
		&.ub-style-1 {
			.slide-content-desc {
				display: none;
			}
			.owl-controls {
				display: none !important;
			}
		}
	}

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	
	.owl-theme {
		&.ub-style-1 {
			.slide-content-desc {
				left: 20px;
	    		margin-top: -80px;
				.slide-title {
					font-size: @font-size__xl;
				}
				.slide-readmore { 
					margin-top: 0;
				}
			}
		}
	}

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.sidebar {
		.owl-carousel.owl-theme {
			.owl-controls {
				.owl-buttons {
					top: -20px;
				}
			}
		}
	}
	.owl-theme {
		&.ub-style-1 {
			.slide-content-desc {
				left: 120px;
	    		margin-top: -100px;
				.slide-title {
					font-size: @font-size__xl * 2;
				}
				.slide-readmore {
					margin-top: 20px;
				}
			}
		}
	}

	.sidebar {
		.ub-style-1 { 
			.owl-controls {
				.owl-pagination {
					bottom: 0;
				}
			}
		}
		.product-items  {
			.product-item-details {
				margin-left: 0 !important;
			}
		}
	}

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) { 
	.sidebar {
		.owl-carousel.owl-theme {
			.owl-controls {
				.owl-buttons {
					top: -47px;
				}
			}
		}
	}
}