<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Faq
 */
?>
<?php /** @var \Amasty\Faq\Block\Widgets\SearchBox $block */ ?>
<div class="am-search-box-wrapper">
    <div class="<?= $block->escapeHtml($block->getSearchBoxAlign()) ?>" style="width: <?= $block->escapeHtml($block->getSearchBoxWidth()) ?>">
        <?= /** @escapeNotVerified */ $block->getSearchBlockHtml() ?>
    </div>
</div>
