<?php
/**
 * @author  Magediary
 * @package Magediary_AccessoryUpsell
 */

// @codingStandardsIgnoreFile

/** @var \Magediary\AccessoryUpsell\Block\ProductList\Upsell $block */
?>

<?php
$exist = $block->getItems()->getSize();
$show = $block->canShow();

?>

<?php if ($exist && $show) {
   $blockObj= $block->getLayout()->createBlock('Mangoit\ReplacementAccessoryPage\Block\Upsell');
   $url = $blockObj->getStoreManagerData();
   $id = $blockObj->getCurrentProductDetails(); 
   $redirect_url = $url.'replacement?param='.$id;
?>
<div class="custom-review">
    <div>
    <a class="replacementparts-add" href= "<?php echo $redirect_url;?>"><img src="<?php echo $url."pub/media/replacement/looking-for-replacements-banner.jpeg" ?>"><p>for this item</p>
    </a>
    </div>
</div>
<?php } ?>
