@media only screen and (max-width: 767px) {
  .filter-content .filter-current .am-show-more {
    display: none !important;
  }
  .filter-content .active .am-show-more {
    display: block !important;
    margin-bottom: 10px;
  }
}
@media all and (min-width: 768px), print {
  .ui-tooltip.ui-widget {
    max-width: 450px;
  }
  .filter-options-content a:hover {
    text-decoration: none;
  }
  .catalog-topnav {
    display: block;
  }
  .page-layout-1column .toolbar-products {
    position: inherit !important;
  }
  #amasty-shopby-product-list #amasty-shopby-overlay .loader {
    top: 30%;
    transform: translate(-50%, -30%);
  }
  .filter-options-content .am-filter-price {
    width: 40%;
  }
  .amasty-catalog-topnav {
    margin-top: 3px;
  }
  .amasty-catalog-topnav .filter-options {
    border-top: 1px solid #cccccc;
  }
  .amasty-catalog-topnav .filter-subtitle {
    display: none;
  }
  .amasty-catalog-topnav .amshopby-category-dropdown {
    min-width: 150px;
  }
  .amasty-catalog-topnav .filter-options-item {
    margin-bottom: 0;
  }
  .amasty-catalog-topnav .filter-options-title {
    padding-right: 5px;
  }
  .amasty-catalog-topnav .filter-options-title:after {
    position: static;
    display: inline-block;
    margin: 0 0 0 15px;
  }
  .am_shopby_apply_filters {
    visibility: hidden;
    position: absolute;
    bottom: inherit;
    display: none;
    width: inherit;
    padding: 0;
    z-index: 9999;
  }
  .am_shopby_apply_filters.visible {
    bottom: inherit;
    visibility: visible;
  }
  .am-show-button {
    position: static;
    margin: 0 0 10px;
    padding: 10px;
    width: inherit;
    border: 1px solid #ccc;
  }
  .am-show-button.-vertical {
    padding-left: 0;
    border-left: 0;
    border-radius: 0 3px 3px 0;
    box-shadow: 10px 8px 16px rgba(0, 0, 0, 0.16);
  }
  .am-show-button.-vertical:before {
    content: '';
    position: absolute;
    top: 8px;
    left: -20px;
    display: block;
    width: 40px;
    height: 40px;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 0 0 0 3px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    box-sizing: border-box;
    box-shadow: 7px 6px 16px rgba(0, 0, 0, 0.16);
    z-index: -1;
  }
  .am-show-button.-vertical-right {
    padding: 10px 0;
    min-width: 145px;
    text-align: right;
    border-right: 0;
    border-radius: 3px 0 0 3px;
    box-shadow: -8px 8px 16px rgba(0, 0, 0, 0.16);
  }
  .am-show-button.-vertical-right > .-loading {
    margin: 0 20px;
  }
  .am-show-button.-vertical-right:before {
    content: '';
    position: absolute;
    top: 8px;
    right: -20px;
    display: block;
    width: 40px;
    height: 40px;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 0 0 0 3px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    box-sizing: border-box;
    box-shadow: 5px 6px 16px rgba(0, 0, 0, 0.16);
    z-index: -1;
  }
  .am-show-button.-horizontal {
    border-radius: 4px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.16);
  }
  .am-show-button.-horizontal:before,
  .am-show-button.-horizontal:after {
    content: '';
    position: absolute;
    left: 50%;
    display: block;
    border: 6px solid transparent;
    -webkit-transform: rotate(45deg) translateX(-50%);
    -moz-transform: rotate(45deg) translateX(-50%);
    -ms-transform: rotate(45deg) translateX(-50%);
    transform: rotate(45deg) translateX(-50%);
  }
  .am-show-button.-horizontal:before {
    bottom: 0;
    border-right: 6px solid #ccc;
    border-bottom: 6px solid #ccc;
    border-radius: 0 0 3px 0;
  }
  .am-show-button.-horizontal:after {
    bottom: 1px;
    border-right: 6px solid #eee;
    border-bottom: 6px solid #eee;
    border-radius: 0 0 2px 0;
  }
  .am-show-button > .am-button {
    margin-left: 3px;
    padding: 10px 15px;
  }
  .am-show-button.-vertical-right > .am-button {
    margin-left: 5px;
  }
}
@media all and (min-width: 1024px), print {
  .filter-options-content .am-filter-price {
    width: 43%;
  }
  .amslider-container.am-swiper-slider {
    width: 85%;
  }
}
.amslider-container {
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
}
.am-rating-up {
  font-size: smaller;
}
.amshopby-hightlighted {
  background-color: #ffff00;
}
.filter-options-content .am-swatch-link {
  display: inline-block;
}
.filter-options-content .am-swatch-link:hover {
  background: none;
}
.filter-options-content .am-swatch-link > .input.-hidden {
  display: none;
}
.am-shopby-item .filter-value {
  margin-left: 5px;
}
.amshopby-filter-tooltip {
  display: inline-block;
  max-width: 20px;
  max-height: 20px;
  margin-left: 6px;
  vertical-align: middle;
}
.filter-options-content .delimiter {
  margin: 0 5px;
  line-height: 30px;
}
.filter-options-content .range {
  margin-top: 10px;
}
.filter-options-content .am-show-more {
  display: none;
  margin-top: 10px;
}
.filter-options-content .am-filter-price {
  padding: 5px;
  width: 46%;
}
.filter-options-content .items a {
  margin-left: 0;
}
.filter-options-content .count {
  display: inline-block;
}
.filter-options-content .am-shopby-swatch-label .count {
  margin: 0;
  padding: 0;
}
.filter-options-content .am-shopby-swatch-label .label {
  margin-right: 5px;
}
.filter-options-content .am-shopby-form {
  padding: 3px;
}
.am-filter-go {
  margin: 15px 0 0;
  width: 25%;
}
input[type="text"].am-filter-price.-to.right {
  float: right;
}
.amshopby-slider-container {
  margin: 10px 15px 15px 5px;
}
.amshopby-slider-container .ui-slider-range {
  position: absolute;
  height: 10px;
  background: #b6b6b6;
}
.amshopby-slider-container .am-slider .ui-slider-handle {
  padding: 0;
  margin-top: -5px;
  margin-left: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f98b25;
}
.amshopby-slider-container .am-slider .ui-slider-handle:hover,
.amshopby-slider-container .am-slider .ui-slider-handle:active {
  background-color: #e17e17;
}
.amshopby-slider-container .amshopby-slider-display {
  text-align: center;
}
.am-swatch-options {
  display: flex;
  flex-direction: column;
  padding-left: 2px;
}
.am-swatch-options .swatch-option {
  display: inline-block;
  margin: 0 10px 0 0;
}
.am-swatch-options > .item {
  padding-bottom: 4px !important;
}
.am-swatch-options > .item:hover {
  background-color: transparent;
}
.am-swatch-options .am-shopby-swatch-label {
  display: inline-block;
  max-width: 70%;
  vertical-align: middle;
  word-wrap: break-word;
}
.catalog-topnav .filter-options {
  flex-wrap: wrap;
  min-height: 40px;
  border-bottom: 1px solid #cccccc;
}
.catalog-topnav .filter-options .filter-options-item {
  display: inline-block;
  border: 0;
}
.catalog-topnav .filter-options .filter-options-content {
  position: absolute;
  margin-top: 5px;
  border: 1px solid #cccccc;
  background-color: white;
  z-index: 9000;
  min-width: 100px;
}
.catalog-topnav .filter-options .am-filter-items-rating li {
  margin: 0 0 10px;
}
.catalog-topnav .filter-options .am-filter-items-rating li:last-child {
  margin: 0;
}
.catalog-topnav .block-actions {
  display: none;
}
.am-filter-items-attr_price {
  min-width: 130px;
  max-width: 350px;
}
.amasty-catalog-topnav.block.filter {
  flex-basis: auto;
}
.amasty-catalog-topnav .filter-options-content .amshopby-fly-out-view a {
  display: block;
}
.page-layout-1column .filter-options-item.active .filter-options-content {
  padding: 10px 15px;
}
.page-layout-1column .filter-options-content li.item {
  padding: 0;
}
.am-filter-items-stock .am_shopby_link_selected,
.am-filter-items-rating .am_shopby_link_selected {
  background-color: #e8e8e8;
  text-decoration: none;
}
.am_shopby_link_selected {
  font-weight: bold;
}
.filter-options .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  right: 8px;
  top: 5px;
}
.catalog-topnav {
  display: none;
}
.filter-options .items .items-children.-folding {
  list-style: none;
  padding-left: 18px;
}
.filter-options .items .items-children.-folding .item {
  margin: 5px 0;
}
.filter-options .items.amshopby-fly-out-view .items-children {
  background-color: #fff;
  z-index: 9999;
}
.filter-options .items.amshopby-fly-out-view li {
  margin: 0;
  border: 1px solid #cccccc;
  border-top: none;
}
.filter-options .items.amshopby-fly-out-view li:hover {
  background-color: #cccccc;
}
.filter-options .items.amshopby-fly-out-view li:first-child {
  border-top: 1px solid #cccccc;
}
.filter-options .items.amshopby-fly-out-view a:hover {
  background-color: transparent;
}
.filter-options .ui-widget-overlay {
  background: #aaa;
  opacity: 0.3;
}
.filter-options .ui-widget-shadow {
  box-shadow: 0 0 5px #666;
}
.filter-options .am-category-view {
  position: absolute;
  display: none;
  margin: 0;
  padding: 10px;
  width: 100%;
  max-height: 300px;
  border: 1px solid #cccccc;
  background-color: white;
  box-sizing: border-box;
  white-space: nowrap;
  overflow-y: auto;
  z-index: 9;
}
.filter-options .items.am-category-view,
.filter-options .am-category-view ol.items {
  margin: 0;
}
.filter-options .am-labels-folding .item a.amshopby-filter-parent,
.filter-options .am-category-view .item a.amshopby-filter-parent {
  padding-left: 20px;
}
.filter-options .am-category-view a {
  display: inline-block;
  white-space: initial;
}
.filter-options .filter-options-content .rating-summary {
  display: inline-block;
  vertical-align: sub;
}
.filter-options .amshopby-search-box {
  margin: 0 0 15px;
}
.amshopby-fly-out-view.ui-menu {
  position: relative;
}
.amshopby-fly-out-view .ui-menu {
  width: 100%;
}
.amshopby-fly-out-view .items-children:not(.ui-menu) {
  display: none;
}
.amshopby-fly-out-view a {
  padding: 10px;
  width: 100%;
  display: inline-block;
}
.filter-options .ui-menu {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 0;
}
.filter-options .ui-menu .ui-menu {
  position: absolute;
}
.filter-options .ui-menu .ui-menu-item {
  margin: 0;
  cursor: pointer;
  list-style: none;
}
.filter-options .ui-menu .ui-menu-item-wrapper {
  position: relative;
  padding: 3px 1em 3px 0.4em;
}
.filter-options .ui-menu .ui-menu-divider {
  margin: 5px 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-width: 1px 0 0 0;
}
.amshopby-category-dropdown {
  display: block;
  padding-right: 3.6rem;
  min-height: 3.2rem;
  text-align: left;
  border: 1px solid #adadad;
  cursor: pointer;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #fff;
  font-weight: 400;
}
.amshopby-category-dropdown:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1.2rem;
  margin-top: -0.2rem;
  width: 0;
  height: 0;
  border-color: #000 transparent transparent transparent;
  border-style: solid;
  border-width: 0.5rem 0.4rem 0 0.4rem;
  box-sizing: border-box;
  transition: all 0.2s linear;
}
.amshopby-category-dropdown:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 3.2rem;
  background-color: #e3e3e3;
  border: 1px solid #adadad;
  bottom: 0;
}
.am-category-wrapper {
  position: relative;
  display: block;
  user-select: none;
}
.am-category-wrapper._active .amshopby-category-dropdown:after {
  transform: rotate(180deg);
}
.am-category-wrapper .am-multiselect-crumb {
  position: relative;
  display: inline-block;
  padding: 0.3rem 2.4rem 0.4rem 1rem;
  margin: 0.3rem 0 0.3rem 0.3rem;
  background-color: #f5f5f5;
  border: 1px solid #a79d95;
  border-radius: 1px;
  font-size: 1.2rem;
  transition: border-color 0.1s linear;
}
.am-category-wrapper .am-multiselect-crumb .action-close {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 2rem;
  height: auto;
  line-height: 1;
  font-size: 0.5em;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #514943;
}
.am-category-wrapper .am-multiselect-crumb .action-close:before {
  content: 'x';
  font-size: 10px;
  transition: color 0.1s linear;
}
.am-category-wrapper .am-multiselect-crumb .action-close > span {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  display: none;
  visibility: hidden;
}
.filter-options .am-labels-folding .items {
  position: relative;
}
.am-collapse-icon {
  position: absolute;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.am-collapse-icon:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1.2rem;
  margin-top: -0.2rem;
  width: 0;
  height: 0;
  border-color: #000 transparent transparent transparent;
  border-style: solid;
  border-width: 0.5rem 0.4rem 0 0.4rem;
  box-sizing: border-box;
  transition: all 0.2s linear;
  transform: rotate(-90deg);
}
.am-collapse-icon._active:after {
  transform: rotate(0deg);
}
#amasty-shopby-product-list {
  z-index: 1;
}
#amasty-shopby-product-list .products.wrapper {
  position: relative;
}
#amasty-shopby-product-list #amasty-shopby-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  display: none;
  width: 100%;
  background: #fff;
  opacity: 0.5;
  z-index: 999;
}
#amasty-shopby-product-list #amasty-shopby-overlay .loader {
  position: absolute;
  top: 10%;
  left: 50%;
  display: block;
  width: 64px;
  height: 64px;
  background-image: url('../Amasty_Shopby/images/loader-1.gif');
  transform: translate(-50%, -10%);
}
#amasty-shopby-product-list #amasty-shopby-overlay .loader:before {
  content: '';
}
.amshopby-option-link {
  display: inline-block;
  margin-right: 5px;
  clear: both;
}
.amshopby-option-link img {
  float: left;
  margin: 0 5px 5px 0;
}
.amshopby-option-link img:not([src*="/resized"]) {
  max-width: 30px;
  max-height: 30px;
}
.am_shopby_apply_filters {
  position: fixed;
  bottom: -80px;
  width: 100%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 9999;
}
.am_shopby_apply_filters.visible {
  bottom: 0;
}
.am-show-button {
  margin: 0 auto;
  padding: 15px 0;
  width: 100%;
  text-align: center;
  background: #eee;
  z-index: 999;
}
.am-show-button > .am-items {
  font-size: 15px;
}
.am-show-button > .am-items.-loading {
  display: inline-block;
  margin: 0 5px;
  width: 25px;
  height: 25px;
  background-image: url('../Amasty_Shopby/images/loader-1.gif');
  background-size: contain;
  vertical-align: middle;
}
.am-show-button > .am-button {
  margin-left: 15px;
  padding: 17px 50px;
  height: auto;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  line-height: 1;
  background: #FF9416;
  border: 0;
  box-shadow: none;
}
.am-show-button > .am-button:hover {
  background: #e27a00;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.filter [data-role="collapsible"]:not([data-collapsible="true"]) [data-role="content"] {
  display: none;
}
div.swatch-option-tooltip {
  z-index: 9999;
}
.swatch-option-tooltip .image,
.swatch-option-tooltip-layered .image {
  background-size: contain !important;
}
.am-item-removed {
  text-decoration: line-through;
}
.am-category-image {
  vertical-align: middle;
}
.am-filter-current .filter-label {
  vertical-align: middle;
}
.am-filter-current .am-filter-value {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}
.am-filter-current .am-filter-value .am-swatch-options.color .swatch-option {
  margin: 0;
}
.am-filter-current .am-shopby-swatch-label {
  margin-left: 10px;
}
