<?php
/**
 * @author  Magediary
 * @package Magediary_AccessoryUpsell
 */

// @codingStandardsIgnoreFile

/** @var \Magediary\AccessoryUpsell\Block\ProductList\Upsell $block */
?>

<?php
if ($exist = $block->getItems()->getSize()) {
    $type = 'accessory-upsell';
    $class = $type;

    $image = 'product_small_image';
    $width = 40;
    $height = 40;

    $title = $block->getTitle();
    $items = $block->getItems();
    $limit = 0;
    $shuffle = 0;
    $canItemsAddToCart = $block->canItemsAddToCart();
}
$show = $block->canShow();
?>

<?php if ($exist && $show) :?>
<div class="block <?= /* @escapeNotVerified */ $type ?>" data-mage-init='{"relatedProducts":{"relatedCheckbox":".related.checkbox"}}' data-limit="<?= /* @escapeNotVerified */ $limit ?>" data-shuffle="<?= /* @escapeNotVerified */ $shuffle ?>">
    <div class="block-title title">
        <strong id="block-<?= /* @escapeNotVerified */ $class ?>-heading" role="heading" aria-level="2"><?= /* @escapeNotVerified */ __($title) ?></strong>
    </div>
    <div class="block-content content" aria-labelledby="block-<?= /* @escapeNotVerified */ $class ?>-heading">
        <div class="wrapper products-<?= /* @escapeNotVerified */ $type ?>">
            <ul class="list items product-items">
                <?php $iterator = 1; ?>
                <?php foreach ($items as $_item) : ?>
                <?php $available = ''; ?>
                <?php if (!$_item->isComposite() && $_item->isSaleable()) : ?>
                    <?php if (!$_item->getRequiredOptions()) : ?>
                        <?php $available = 'related-available'; ?>
                    <?php endif; ?>
                <?php endif; ?>
                    <?= /* @escapeNotVerified */ ($iterator++ == 1) ? '<li class="item product product-item" style="display: none;">' : '</li><li class="item product product-item" style="display: none;">' ?>
                        <div class="accessories-left">
                            <?php if ($canItemsAddToCart && !$_item->isComposite() && $_item->isSaleable()) : ?>
                                <?php if (!$_item->getRequiredOptions()) : ?>
                                    <input type="checkbox" class="checkbox related" id="related-checkbox<?= /* @escapeNotVerified */ $_item->getId() ?>" name="related_products[]" value="<?= /* @escapeNotVerified */ $_item->getId() ?>" />
                                <?php endif; ?>
                            <?php endif; ?>
                        </div>
                        <div class="accessories-right">
                            <label for="related-checkbox<?= /* @escapeNotVerified */ $_item->getId() ?>">
                                <img class="accessory-image-photo" src="<?= $block->getImageUrl($_item, $image, $width, $height) ?>" alt="Image" width="<?= $width ?>" height="<?= $height ?>">
                                <strong class="product name"><a class="product-item-link" title="<?= $block->escapeHtml($_item->getName()) ?>" href="<?= /* @escapeNotVerified */ $block->getProductUrl($_item) ?>" target="_blank">
                                        <?= $block->escapeHtml($_item->getName()) ?></a>
                                </strong>
                                <?= /* @escapeNotVerified */ $block->getProductPrice($_item) ?>
                            </label>
                        </div>
                    <?= ($iterator == count($items)+1) ? '</li>' : '' ?>
                <?php endforeach ?>
            </ul>
        </div>
    </div>
</div>
<?php endif;?>
