<?php
/**
 * Copyright 2018 aheadWorks. All rights reserved.
 * See LICENSE.txt for license details.
 */

/* @var $block \Aheadworks\Blog\Block\Sidebar\Recent */

// @codingStandardsIgnoreFile
?>
<?php
    $categories = $block->getCategories();
    $displayLimit = $block->getNumCategoriesToDisplay();
    $indexItem = 0;
?>
<?php if (count($categories)): ?>
    <div id="blog-sidebar-category-listing" class="block widget blog-sidebar-block">
        <div class="block-title">
            <strong class="blog-sidebar-block-title"><?php echo $block->escapeHtml(__('Categories')) ?></strong>
        </div>
        <div class="block-content blog-sidebar-block-content">
            <ul data-mage-init='{"awBlogToggleCategories":{}}' class="block-category-listing">
                <?php foreach ($categories as $category): ?>
                    <?php $indexItem++; ?>
                    <li class="block-category-listing-item <?php /* @noEscape */ echo $block->getAdditionalClass($indexItem) ?>">
                        <a href="<?php /* @noEscape */ echo $block->escapeXssInUrl($block->getCategoryUrl($category)) ?>"
                           class="block-category-listing-item-link">
                            <?php 
                                  echo $block->escapeHtml($category->getName());
                                  ?>
                                  <span class="post-count">
                                  <?php 
                                  $catId = $block->escapeHtml($category->getId());
                                  echo $postCount = $block->getCountOfPost($catId);
                            ?>
                         </span>
                        </a>
                    </li>
                <?php endforeach; ?>
                <?php if ($block->isNeedToDisplayShowMoreLinks($indexItem)): ?>
                    <li class="block-category-listing-item show-more">
                        <span class="show" id="block-category-show-more-link"><?php echo $block->escapeHtml(__('show more')) ?></span>
                        <span class="hide" id="block-category-show-less-link"><?php echo $block->escapeHtml(__('show less')) ?></span>
                    </li>
                <?php endif; ?>
            </ul>
        </div>
    </div>
<?php endif; ?>
