<?php
/**
 * Copyright 2018 aheadWorks. All rights reserved.
 * See LICENSE.txt for license details.
 */

/* @var $block \Aheadworks\Blog\Block\Sidebar\Recent */

// @codingStandardsIgnoreFile
?>
<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $mediaUrl = $objectManager->get('Magento\Store\Model\StoreManagerInterface')
                    ->getStore()
                    ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
    $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
    $baseurl = $storeManager->getStore()->getBaseUrl(); 
    $categories = $block->getCategoryCollection();
    //print_r($categories->getData());
?>
<?php if (count($categories)): ?>
            <?php $counts=1;
                foreach ($categories as $category): ?>
                
                  <div class="blog-content-wrap">
                <?php 
                    $id_array = array();
                    $sort_array =array();
                    $url_key_cat = $category['url_key']; 
                    ?>
                    <?php $url_key_cat = $category['url_key']; 
                          $catId = $category['id'];
                          $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                          $resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
                          $connection = $resource->getConnection();
                          $tableName = $resource->getTableName('aw_blog_post_category'); 
                          $sql = "Select * FROM " . $tableName." "."Where category_id = ".$catId." ";
                          $result = $connection->fetchAll($sql);
                          //print_r($result);
                          foreach ($result as $key => $value) {
                               $id_array[] = $value["post_id"];
                            }
                            arsort($id_array);
                            foreach($id_array as $keys => $values){
                              $sort_array[] = $values;
                            }
                            if(!empty($id_array)){ ?>
                                <h2 class="blog-section-header"><?php echo $category['name']; $url_key_cat = $category['url_key']; ?>
                                    <a href="<?php echo $baseurl."blog"."/".$url_key_cat;?>"  class="view-all">View More</a>
                                </h2>
                          <?php }
                          $id_array = array_slice($sort_array,0,5);
                          $Collection = $objectManager->create('Aheadworks\Blog\Model\ResourceModel\Post\CollectionFactory');
                          $collection = $Collection->create()->addFieldToFilter('id',array('in' => $id_array));
                          $collection = $collection->setOrder('publish_date','DESC');
                          $post_data = $collection->getData();
                          $postcount = 1;
                          foreach ($post_data as $key => $value)
                          {
                            if($counts%2 !== 0)
                            {
                                if($postcount == 1)
                                 { ?>
                                     <div class="blog-col-30 blog-flex"><?php
                                 } 
                                elseif($postcount == 2)
                                { ?>
                                    <div class="blog-col-70 blog-flex"><?php
                                } 
                            }
                            elseif($counts%2 == 0) 
                            {
                                if($postcount == 1)
                                 { ?>
                                     <div class="blog-col-70 blog-flex"><?php
                                 } 
                                elseif($postcount == 5)
                                { ?>
                                    <div class="blog-col-30 blog-flex"><?php
                                } 
                           }
                            $post_url = $value["url_key"];
                            ?>
                            <div class="blog-item <?php if($counts%2 !== 0 && $postcount == 1){echo "fsr-feature";} if($counts%2 == 0 && $postcount == 5){ echo "fsr-feature";}?>">
                            <div class="blog-img">
                            <a href="<?php echo $baseurl."blog"."/".$post_url;?>">
                            <?php
                            $image = $mediaUrl.'/'.$value["featured_image_file"];
                            if(empty($image)) {  ?>
                            <img src= '<?php echo $mediaUrl."pub/media/catalog/category/default2.jpg";?>'>
                            <?php } else { 
                               $PostImage = $objectManager->create('Mangoit\ResizedImage\Helper\Image')->imageResize($image,414,205);
                              ?>
                            <img src="<?php echo $PostImage; ?>">
                            <?php 
                            }?>
                            </a>
                            </div>
                            <div class="feature-flow">
                                <div class="fsr-text <?php if($counts%2 !== 0 && $postcount == 1){
                                    echo "fsr-feature-body";
                                  }
                                  if($counts%2 == 0 && $postcount == 5){
                                    echo "fsr-feature-body-right";
                                  }?>">
                                   <h3 class="resource-title"><?php echo $value['title'];?></h3>
                                  <?php
                                  
                                  if($counts%2 !== 0 && $postcount !== 1)
                                  {
                                   $position=100; 
                                   $short_content = '';
                                    if(strlen($value['short_content']) > $position) {// to lomit charachter
                                    $message=$value['short_content'];
                                    $short_content .= substr($message, 0, $position);
                                    echo $short_content."...";
                                    } else {
                                    echo  $short_content = $value['short_content'];
                                     } 
                                   }
                                  elseif($counts%2 !== 0 && $postcount == 1){
                                     echo $short_content = $value["short_content"];
                                     //echo $Content = $value["content"];
                                  }
                                  if($counts%2 == 0 && $postcount !== 5) {
                                   $position=100; 
                                   $short_content = '';
                                    if(strlen($value['short_content']) > $position) {// to limit charachter
                                    $message=$value['short_content'];
                                    $short_content .= substr($message, 0, $position);
                                    echo $short_content."...";
                                    } else {
                                    echo  $short_content = $value['short_content'];
                                     } 
                                  }
                                  elseif ($counts%2 == 0 && $postcount == 5) {
                                      echo  $short_content = $value['short_content'];
                                      //echo $Content = $value["content"];
                                  }

                                  ?>
                                </div>
                            </div>
                            </div>
                            <?php 
                            if($counts%2 == 0) 
                            {
                                 if($postcount == 5)
                                 { ?>
                                    </div>
                                    <?php
                                 }
                                 elseif($postcount == 4)
                                 { ?>
                                     </div>
                                     <?php 
                                  }
                            }
                            elseif($counts%2 !== 0)
                            {
                                if($postcount == 1)
                                { ?>
                                  </div>
                                  <?php
                                }
                                elseif($postcount == 5)
                                { ?>
                                  </div>
                                  <?php 
                                }
                           }
                           $postcount++;
                          }
                   ?>
            </div>
                <?php $counts++; endforeach; ?>
<?php endif; ?>
