<?php
/**
 * Copyright 2018 aheadWorks. All rights reserved.
 * See LICENSE.txt for license details.
 */

/* @var $block \Aheadworks\Blog\Block\Sidebar\Recent */

// @codingStandardsIgnoreFile
?>
<style type="text/css">
.base {
  display:none;
}
</style>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$mediaUrl = $objectManager->get('Magento\Store\Model\StoreManagerInterface')
->getStore()
->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseurl = $storeManager->getStore()->getBaseUrl();
$posts = $block->getPosts();
$count=1;
?>
<?php if (count($posts)): ?>
  <div class="blog-content-wrap">
    <h2 class="blog-section-header"><?php echo $block->escapeHtml(__('Recently Published')) ?></h2>  
    <div class="blog-flex">

      <?php foreach ($posts as $post): ?>
        <?php
        $url_key = $block->escapeHtml($post->getUrlKey());
        $short_content = $block->escapeHtml($post->getShortContent());
        $imagename = $mediaUrl.'/'.$post->getFeaturedImageFile();
        $title = $post->getTitle(); 
        ?>
        <?php if($count == 1) { ?>
          <div class="blog-col-70 blog-flex">
          <?php } 
          elseif ($count == 2) { ?>
            <div class="blog-col-30 blog-flex">
            <?php }?>
            <div class="blog-item blog-flex <?php if($count == 1){ echo "fsr-feature"; }?>">
              <div class="blog-img">
                <a href="<?php /* @noEscape */ echo $block->escapeXssInUrl($block->getPostUrl($post)) ?>" class="block-recent-posts-link">
                  <?php if(empty($imagename)) { ?>
                    <img src= '<?php echo $mediaUrl."pub/media/catalog/category/default2.jpg";?>'>
                  <?php } 
                  else {
                    if($count==1){
                      $PostImage = $objectManager->create('Mangoit\ResizedImage\Helper\Image')->imageResize($imagename,920,456);
                    } 
                    else{
                      $PostImage = $objectManager->create('Mangoit\ResizedImage\Helper\Image')->imageResize($imagename,414,205);
                    }
                    ?>
                    <img src="<?php echo  $PostImage; ?>">
                  <?php } ?>
                </a>
              </div>
              <div class="blog-text">
                <h3 class="resource-title"><?php echo $title;?></h3>
                <?php 
                if($count==1)
                {
                  $position=1200;
                }
                else {
                  $position=100;
                }
                
                $content = '';
                if(strlen($short_content) > $position) {// to lomit charachter
                  $message = $short_content;
                  $content .= substr($message, 0, $position);
                  echo html_entity_decode($content);
                //$content .= "....";
                } 
                else {
                  echo html_entity_decode($short_content);
                } 
                ?>    
              </div>
              <?php if($count==1){ ?>
                <div class="blog-social">
                  <a href="<?php /* @noEscape */ echo $block->escapeXssInUrl($block->getPostUrl($post)) ?>"
                   class="blog-post-read-more action primary">
                   <?php echo $block->escapeHtml(__('Read More')) ?>
                 </a>
                 <div class="custom-social">
                  <div class="sharethis-inline-share-buttons">
                    <script src="//platform-api.sharethis.com/js/sharethis.js#property=5c6aaeb170e9220011ed1d3e&product=inline-share-buttons"></script>
                  </div>
                </div>
              </div>
            </div>
          <?php } elseif ($count==4) { ?>
          </div>
        <?php } ?>
      </div>
      <?php $count++; endforeach; ?>
    </div>
  </div>
  <?php echo $this->getLayout()->createBlock("Aheadworks\Blog\Block\Sidebar\Category")->setTemplate("Aheadworks_Blog::sidebar/landing_category.phtml")->toHtml() ?>
  <?php endif; ?>