<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_Customoptionimage
 * @author     Extension Team
 * @copyright  Copyright (c) 2018-2019 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
?>
<?php
// @codingStandardsIgnoreFile
/** @var $block Bss\CustomoptionimageCustomzie\Block\Render\PluginBlock */
?>
<?php
$productId = $block->getProduct()->getId();
$option = $block->getOption();
$moduleConfig = $block->getConfigHelper();
$dropdownViewType = $moduleConfig->getDropdownView();
$multipleViewType = $moduleConfig->getMultipleSelectView();
?>
<?php if ($moduleConfig->isModuleEnable()) : ?>
    <?php if ($option->getType() == \Magento\Catalog\Model\Product\Option::OPTION_TYPE_DROP_DOWN) : ?>
        <?php if ($dropdownViewType == 0) : ?>
            <div class="Bss_image_preview" id="Bss_image_preview_<?php echo $option->getId() ?>">
                <img alt="" id="image_preview_<?php echo $option->getId() ?>"/>
            </div>
        <?php elseif ($dropdownViewType == 1) : ?>
            <?php
            $width = $moduleConfig->getImageX($option->getType());
            $height = $moduleConfig->getImageY($option->getType());
            ?>
            <div class="Bss_image_preview" id="Bss_image_preview_<?php echo $option->getId() ?>">
                <?php foreach ($option->getValues() as $value) : ?>
                    <?php if ($value->getData('image_url')) : ?>
                        <?php
                        $imgSrc = $block->getImageUrl($value->getData('image_url'), 300, 300);
                        ?>
                        <img alt=""
                             id="image_preview_<?php echo $value->getOptionTypeId() ?>"
                             src="<?php echo $imgSrc ?>"
                             title="<?php echo $value->getTitle() ?>" />
                    <?php endif; ?>
                <?php endforeach; ?>
            </div>
        <?php endif; ?>
        <script type="text/x-magento-init">
                {
                    "#bss_options_<?php echo $option->getId() ?>": {
                        "bss_preview_dropdown": {
                            "imageHeight": "<?php echo $moduleConfig->getImageY($option->getType()) ?>",
                            "imageWidth": "<?php echo $moduleConfig->getImageX($option->getType()) ?>",
                            "viewType": <?php echo $dropdownViewType ?>,
                            "imageUrls": <?php echo $block->getImageList(); ?>
                        }
                    }
                }
            </script>
    <?php elseif ($option->getType() == \Magento\Catalog\Model\Product\Option::OPTION_TYPE_MULTIPLE) :?>
        <?php if ($multipleViewType == 0) : ?>
            <div class="Bss_image_multiselect" id="Bss_image_multiselect_<?php echo $option->getId() ?>">
            </div>
        <?php elseif ($multipleViewType == 1) : ?>
            <?php
            $width = $moduleConfig->getImageX($option->getType());
            $height = $moduleConfig->getImageY($option->getType());
            ?>
            <div class="Bss_image_multiselect" id="Bss_image_multiselect_<?php echo $option->getId() ?>">
                <?php foreach ($option->getValues() as $value) : ?>
                    <?php if ($value->getData('image_url')) : ?>
                        <?php
                        $imgSrc = $block->getImageUrl($value->getData('image_url'), 500, 500);
                        ?>
                        <img alt=""
                             id="image_preview_<?php echo $value->getOptionTypeId() ?>"
                             src="<?php echo $imgSrc ?>"
                             title="<?php echo $value->getTitle() ?>" />
                    <?php endif; ?>
                <?php endforeach; ?>
            </div>
        <?php endif; ?>
        <script type="text/x-magento-init">
                {
                    "#bss_options_<?php echo $option->getId() ?>": {
                        "bss_preview_multiple": {
                            "imageHeight": "<?php echo $moduleConfig->getImageY($option->getType()) ?>",
                            "imageWidth": "<?php echo $moduleConfig->getImageX($option->getType()) ?>",
                            "viewType": <?php echo $multipleViewType ?>,
                            "imageUrls": <?php echo $block->getImageList(); ?>
                        }
                    }
                }
            </script>
    <?php else : ?>
        <script type="text/x-magento-init">
                {
                    "#bss_options_<?php echo $option->getId() ?>": {
                        "bss_preview_static_select": {
                            "imageHeight": "<?php echo $moduleConfig->getImageY($option->getType()) ?>",
                            "imageWidth": "<?php echo $moduleConfig->getImageX($option->getType()) ?>",
                            "imageUrls": <?php echo $block->getImageList(); ?>,
                            "priceDisplayType": <?php echo $moduleConfig->getPriceDisplaySetting(); ?>
                        }
                    }
                }
            </script>
    <?php endif; ?>
<?php endif;?>

<div id ="popup-mpdal"></div>
<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal',
            'Bss_FBT/js/jquery.fancybox'
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                buttons: [{
                    text: $.mage.__('Next'),
                    class: '',
                    click: function () {
                        this.closeModal();
                    }
                }
                ]
            };

            var popup = modal(options, $('#popup-mpdal'));
            jQuery.noConflict();

           /* setTimeout(function(){ 
                jQuery(".fancybox_mangoit").fancybox({
                    prevEffect      : 'none',
                    nextEffect      : 'none',
                    closeBtn        : false,
                    helpers     : {
                        title   : { type : 'inside' },
                        buttons : {}
                    }
                });
            }, 3000);*/
                
           
            /*jQuery('body').on('click', '.admin__field-option', function() {
                var image = jQuery(this).find('img').attr('src');
                image = image.replace('/resized/105x105','');
                var img_src = '<img src="'+image+'">';
                console.log('img'+image);

                jQuery(document).ready(function() {
                    jQuery(".fancybox").fancybox({
                        helpers : {
                            title   : {
                                type: 'inside'
                            },
                        }
                    });
                });*/
                /* jQuery.fancybox({
                    helpers   : { 
                        title: {
                            type: 'inside'
                        },
                        buttons : {},

                        overlay : {

                            closeClick: false,

                        }

                    },


                    "content": img_src,
                    "afterShow": function(){ 
                        //jQuery("#fancybox-title").appendTo(".fancybox-img");
                    }


                });*/
           
           // });

          
        }
    );
</script>

