<?php
/**
 * Copyright 2018 aheadWorks. All rights reserved.
 * See LICENSE.txt for license details.
 */

/* @var $block \Aheadworks\Blog\Block\Sidebar\Recent */

// @codingStandardsIgnoreFile
?>
<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $mediaUrl = $objectManager->get('Magento\Store\Model\StoreManagerInterface')
                    ->getStore()
                    ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
    $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
    $baseurl = $storeManager->getStore()->getBaseUrl(); 
    $categories = $block->getCategoryCollection();
?>
<?php if (count($categories)): ?>
            <?php $counts=1;
                foreach ($categories as $category): ?>
                  <div class="blog-content-wrap">
                  <h2 class="blog-section-header"><?php echo $category['name']; ?></h2>
                <?php 
                    $id_array = array();
                    $url_key_cat = $category['url_key']; 
                    ?>
                    <?php $url_key_cat = $category['url_key']; 
                          $catId = $category['id'];
                          $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                          $resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
                          $connection = $resource->getConnection();
                          $tableName = $resource->getTableName('aw_blog_post_category'); 
                          $sql = "Select * FROM " . $tableName." "."Where category_id = ".$catId." ";
                          $result = $connection->fetchAll($sql);
                          foreach ($result as $key => $value) {
                               $id_array[] = $value["post_id"];
                            }
                          if($counts == 1 || $counts == 3)
                          {
                              $id_array = array_slice($id_array,0,6);
                          }
                          else
                          {
                              $id_array = array_slice($id_array,0,6);
                          }
                          $Collection = $objectManager->create('Aheadworks\Blog\Model\ResourceModel\Post\CollectionFactory');
                          $collection = $Collection->create()->addFieldToFilter('id',array('in' => $id_array));
                          $post_data = $collection->getData();
                          foreach ($post_data as $key => $value)
                          {
                            $post_url = $value["url_key"];
                            ?>
                            <div class="blog-item-feature">
                            <div class="blog-img">
                            <a href="<?php echo $baseurl."blog"."/".$post_url;?>">
                            <?php
                            $image = $mediaUrl.'/'.$value["featured_image_file"];
                            if(empty($image)) {  ?>
                            <img src= '<?php echo $mediaUrl."pub/media/catalog/category/default2.jpg";?>'>
                            <?php } else { ?>
                            <img src="<?php echo $image; ?>">
                            <?php 
                            }?>
                            </a>
                            </div>
                            <div class="feature-flow">
                            <div class="fsr-text">
                                <?php
                                echo $short_content = $value["short_content"];?>
                            </div>
                          </div>
                        </div>
                       <?php }
                   ?>
                <?php $counts++; if($counts==4){$counts=1;} ?>
            </div>
                <?php endforeach; ?>
<?php endif; ?>
