<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Faq
 */
?>
<?php
/**
 * @var \Magento\Framework\View\Element\Template $block
 */
?>
<div class="message info empty">
    <div>
        <?= $block->escapeHtml(__('No categories to display. Create or enable categories.')); ?>
    </div>
</div>