<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Faq
 */
?>
<?php
/** @var \Amasty\Faq\Api\Data\QuestionInterface $question */
$question = $block->getCurrentQuestion();

/** @var \Amasty\Faq\Block\Rating\Rating $rating */
$rating = $block->getChildBlock('amasty_faq_rating');
?>
<div class="question_view">
    <div class="answer">
        <?= /** @escapeNotVerified */ $question->getAnswer(); ?>
    </div>
    <div class="amfaq-question-footer-wrapper">

    <?php if ($rating) : ?>
        <?= /** @escapeNotVerified */ $rating->ratingItemHtml((int)$question->getQuestionId()); ?>
        <?= /** @escapeNotVerified */ $block->getChildHtml('amasty_faq_rating'); ?>
    <?php endif; ?>
    <?= /** @escapeNotVerified */ $block->getChildHtml('amasty_faq_socialshare'); ?>
    </div>
</div>
<?php
if ($block->showAskQuestionForm()) {
    echo $block->getChildHtml('amasty_faq_ask_question_form');
}
?>