<?php
/**
 * Magedelight
 * Copyright (C) 2017 Magedelight <info@magedelight.com>.
 *
 * NOTICE OF LICENSE
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see http://opensource.org/licenses/gpl-3.0.html.
 *
 * @category Magedelight
 *
 * @copyright Copyright (c) 2017 Mage Delight (http://www.magedelight.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Magedelight <info@magedelight.com>
 */
$code = \Magedelight\Authorizecim\Model\Payment::METHOD_CODE;
?>

<?php $card = $this->getCard(); ?>

<?php
$action = 'add';
$firstName = '';
$lastName = '';
$streetAddress = '';
$city = '';
$telephone = '';
$fax = '';
$company = '';
$regionId = '';
$countryId = null;
$ccLastFour = '';
$postCode = '';
$customerPaymentProfile = '';
$state = '';

if(!is_null($card)){
    $action = 'edit';
   if($card['region_id'])
    {
        $regionId = $card["region_id"];
    }
    if($card['state']){
        $state = $card["state"];
    }
     if(isset($card['country_id']))
     {
         $countryId = $card['country_id'];
     }
    if(isset($card['firstname']))
    {
        $firstName = $card['firstname'];
    }
    if(isset($card['lastname']))
    {
        $lastName = $card['lastname'];
    }
    if(isset($card['street']))
    {
        $streetAddress = $card['street'];
    }
    if(isset($card['city']))
    {
        $city = $card['city']; 
    }
    
    if(isset($card['postcode']))
    {
        $postCode = $card['postcode'];
    }
    if(isset($card['cc_last_4']))
    {
        $ccLastFour = $card['cc_last_4'];
    }
    if(isset($card['telephone'])){
        $telephone = $card['telephone'];
    }
    if(isset($card['company'])){
        $company = $card['company']; 
    }
    if(isset($card['payment_profile_id'])){
        $customerPaymentProfile = $card['payment_profile_id'];
    }
}
?>
<form action="" method="post" id="cim-form-validate" data-mage-init='{"validation":{}}' class="admin__fieldset"> 
 <?php if(!is_null($card)){ ?>
    <input type="hidden" id="<?php echo $code ?>_card_id" name="<?php echo $code ?>[card_id]" value="<?php echo $card['card_id'] ?>" />
 <?php } ?>
<div class="admin__field _required">
    <label class="admin__field-label"><span><?php echo __('First Name') ?></span></label>
    <div class="admin__field-control">
        <input type="text" name="<?php echo $code ?>[address_info][firstname]"  class="admin__control-text required-entry" id="<?php echo $code ?>_firstname" value="<?php echo $firstName ?>" />
    </div>
</div>
<div class="admin__field _required">
    <label class="admin__field-label"><span><?php echo __('Last Name') ?></span></label>
    <div class="admin__field-control">
        <input type="text" name="<?php echo $code ?>[address_info][lastname]" class="admin__control-text required-entry" id="<?php echo $code ?>_lastname" value="<?php echo $lastName ?>" />
    </div>
</div>
<div class="admin__field">
    <label class="admin__field-label"><span><?php echo __('Company') ?></span></label>
    <div class="admin__field-control">
        <input type="text" name="<?php echo $code ?>[address_info][company]" class="admin__control-text" id="<?php echo $code ?>_company" value="<?php echo $company ?>" />
    </div>
</div>
<div class="admin__field _required">
    <label class="admin__field-label"><span><?php echo __('Street Address') ?></span></label>
    <div class="admin__field-control">
        <input type="text" name="<?php echo $code ?>[address_info][street]" class="admin__control-text required-entry" id="<?php echo $code ?>_street" value="<?php echo $streetAddress ?>" />
    </div>
</div>
<div class="admin__field _required">
    <label class="admin__field-label"><span><?php echo __('City') ?></span></label>
    <div class="admin__field-control">
        <input type="text" name="<?php echo $code ?>[address_info][city]" class="admin__control-text required-entry" id="<?php echo $code ?>_city" value="<?php echo $city ?>" />
    </div>
</div>
<div class="admin__field state-required">
    <label class=""><span class="required">*</span><span><?php echo __('State/Province') ?></span></label>
    <div class="admin__field-control">
        <select id="<?php echo $code ?>_region_id" name="<?php echo $code ?>[address_info][region_id]" class="admin__control-select">
            <option value=""><?php echo __('Please select a region, state or province.') ?></option>
        </select>
        <input type="text" id="<?php echo $code ?>_region" name="<?php echo $code ?>[address_info][region]" value="<?php echo $state; ?>"  title="<?php echo __('State/Province') ?>" class="input-text " />
    </div>
</div>
<div class="admin__field _required">
    <label class="admin__field-label"><span><?php echo __('Zip/Postal Code') ?></span></label>
    <div class="admin__field-control">
        <input type="text" name="<?php echo $code ?>[address_info][postcode]" class="admin__control-text required-entry" id="<?php echo $code ?>_postcode" value="<?php echo $postCode ?>" />
    </div>
</div>
<div class="admin__field _required">
    <label class="admin__field-label"><span><?php echo __('Country') ?></span></label>
    <div class="admin__field-control">
        <?php echo $block->getCountryHtmlSelect($countryId, $code.'[address_info][country_id]', $code.'_country_id') ?>
    </div>
</div>
<div class="admin__field _required">
    <label class="admin__field-label"><span><?php echo __('Telephone') ?></span></label>
    <div class="admin__field-control">
        <input type="text" name="<?php echo $code ?>[address_info][telephone]" class="admin__control-text required-entry" id="<?php echo $code ?>_telephone" value="<?php echo $telephone ?>" />
    </div>
</div>
<?php if(is_null($card)): ?>
<div class="admin__field _required">
    <label class="admin__field-label"><span><?php echo __('Credit Card Type') ?></span></label>
    <div class="admin__field-control">
        <select id="<?php echo $code ?>_cc_type" name="<?php echo $code ?>[payment_info][cc_type]" class="admin__control-select required-entry validate-cc-type-select">
            <option value=""><?php echo __('--Please Select--') ?></option>
            <?php foreach ($this->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
                    <option value="<?php echo $_typeCode ?>"><?php echo $_typeName ?></option>
                    <?php endforeach ?>
        </select>
    </div>
</div>
<div class="admin__field _required">
    <label class="admin__field-label"><span><?php echo __('Credit Card Number') ?></span></label>
    <div class="admin__field-control">
        <input type="text" name="<?php echo $code ?>[payment_info][cc_number]" class="admin__control-text validate-cc-number validate-cc-type" id="<?php echo $code ?>_cc_number" value="" />
    </div>
</div>
<div class="admin__field _required">
    <label class="admin__field-label"><span><?php echo __('Credit Card Type') ?></span></label>
    <div class="admin__field-control">
        <select id="<?php echo $code ?>_expiration" name="<?php echo $code ?>[payment_info][cc_exp_month]" class="admin__control-select admin__control-select-month month validate-cc-exp required-entry">
                                <?php foreach ($this->getCcMonths() as $k => $v): ?>
                                    <option value="<?php echo $k ? $k : '' ?>"><?php echo $v ?></option>
                                <?php endforeach ?>
                            </select>
        <select id="<?php echo $code ?>_expiration_yr" name="<?php echo $code ?>[payment_info][cc_exp_year]" class="admin__control-select admin__control-select-year year required-entry">
                                <?php foreach ($this->getCcYears() as $k => $v): ?>
                                    <option value="<?php echo $k ? $k : '' ?>"><?php echo $v ?></option>
                                <?php endforeach ?>
                            </select>
    </div>
</div>
<?php
if ($this->hasVerification()): ?>
<div class="admin__field _required">
    <label class="admin__field-label"><span><?php echo __('Card Verification Number') ?></span></label>
    <div class="admin__field-control">
        <input type="text" name="<?php echo $code ?>[payment_info][cc_cid]" class="admin__control-text cvv required-entry validate-cc-cvn" id="<?php echo $code ?>_cc_cid" value="" />
    </div>
</div>
<?php endif; ?>
<?php else: ?>
<div class="admin__field _required">
    <label class="admin__field-label"><span><?php echo __('Select Card') ?></span></label>
    <div class="admin__field-control">
        <select id="<?php echo $code ?>_cc_action" name="<?php echo $code ?>[payment_info][cc_action]" class="admin__control-select">
            <option value="existing" selected="selected"><?php echo __("Continue using card %1",$ccLastFour); ?></option>
            <option value="new"><?php echo __("Update credit card details.") ?></option>
        </select>
    </div>
</div>
<div id="cards-edit-option" class="admin__fieldset">
    <div class="admin__field _required">
    <label class="admin__field-label"><span><?php echo __('Credit Card Type') ?></span></label>
    <div class="admin__field-control">
        <select id="<?php echo $code ?>_cc_type" name="<?php echo $code ?>[payment_info][cc_type]" class="admin__control-select">
            <option value=""><?php echo __('--Please Select--') ?></option>
            <?php foreach ($this->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
                    <option value="<?php echo $_typeCode ?>"><?php echo $_typeName ?></option>
                    <?php endforeach ?>
        </select>
    </div>
</div>
<div class="admin__field _required">
    <label class="admin__field-label"><span><?php echo __('Credit Card Number') ?></span></label>
    <div class="admin__field-control">
        <input type="text" name="<?php echo $code ?>[payment_info][cc_number]" class="admin__control-text" id="<?php echo $code ?>_cc_number" value="" />
    </div>
</div>
<div class="admin__field _required">
    <label class="admin__field-label"><span><?php echo __('Credit Card Type') ?></span></label>
    <div class="admin__field-control">
        <select id="<?php echo $code ?>_expiration" name="<?php echo $code ?>[payment_info][cc_exp_month]" class="admin__control-select admin__control-select-month">
                                <?php foreach ($this->getCcMonths() as $k => $v): ?>
                                    <option value="<?php echo $k ? $k : '' ?>"><?php echo $v ?></option>
                                <?php endforeach ?>
                            </select>
        <select id="<?php echo $code ?>_expiration_yr" name="<?php echo $code ?>[payment_info][cc_exp_year]" class="admin__control-select admin__control-select-year">
                                <?php foreach ($this->getCcYears() as $k => $v): ?>
                                    <option value="<?php echo $k ? $k : '' ?>"><?php echo $v ?></option>
                                <?php endforeach ?>
                            </select>
    </div>
</div>
<?php if ($this->hasVerification()): ?>
<div class="admin__field _required">
    <label class="admin__field-label"><span><?php echo __('Card Verification Number') ?></span></label>
    <div class="admin__field-control">
        <input type="text" name="<?php echo $code ?>[payment_info][cc_cid]" class="admin__control-text" id="<?php echo $code ?>_cc_cid" value="" />
    </div>
</div>
<?php endif; ?>
</div>
<?php endif; ?>
    <input type="hidden" id="<?php echo $code ?>_card_number_masked" name="<?php echo $code ?>[card_number_masked]" value="<?php echo $ccLastFour ?>" />
    <input type="hidden" id="<?php echo $code ?>_payment_profile_id" name="<?php echo $code ?>[payment_profile_id]" value="<?php echo $customerPaymentProfile ?>" />
</form>
<div class="admin__field">
    <div class="admin__field-control">
        <?php if(!is_null($card)): ?>
        <button class="button" type="button" onclick="cimupdateCardFromList();">
            <span>
                <span><?php echo __("Update") ?></span>
            </span>
        </button>
        <?php else: ?>
        <button class="button" type="button" onclick="cimsaveCardFromList();">
            <span>
                <span><?php echo __("Save") ?></span>
            </span>
        </button>
        <?php endif; ?>
        <a href="#" onclick="addNewCimForm();return false;"><?php echo __("Cancel") ?></a>
    </div>
</div>
<script type="text/javascript">
    require(["prototype", "mage/adminhtml/form"],function(){
        $('<?php echo $code ?>_region_id').setAttribute('defaultValue',  "<?php echo $regionId ?>");
        new regionUpdater(<?php echo $code ?>_country_id, <?php echo $code ?>_region, <?php echo $code ?>_region_id, <?php echo $this->helper('Magento\Directory\Helper\Data')->getRegionJson() ?>);
    });
    <?php if(!is_null($card)): ?>
    require(['jquery'], function($){
        $('#cards-edit-option').hide();
        $('#<?php echo $code ?>_cc_action').on('change',function(event){
            if($(this).val() == 'existing'){
                $('#cards-edit-option').hide();
                jQuery("#<?php echo $code ?>_cc_type").removeClass("required-entry validate-cc-type-select");
                jQuery("#<?php echo $code ?>_cc_number").removeClass("validate-cc-number validate-cc-type");
                jQuery("#<?php echo $code ?>_expiration").removeClass("month validate-cc-exp required-entry");
                jQuery("#<?php echo $code ?>_expiration_yr").removeClass("year required-entry");
                if(jQuery('#<?php echo $code ?>_cc_cid')) 
                { 
                   jQuery("#<?php echo $code ?>_cc_cid").removeClass("cvv required-entry validate-cc-cvn");
                }
            }else{
                $('#cards-edit-option').show();
                
                jQuery("#<?php echo $code ?>_cc_type").addClass("required-entry validate-cc-type-select");
                jQuery("#<?php echo $code ?>_cc_number").addClass("validate-cc-number validate-cc-type");
                jQuery("#<?php echo $code ?>_expiration").addClass("month validate-cc-exp required-entry");
                jQuery("#<?php echo $code ?>_expiration_yr").addClass("year required-entry");
                if(jQuery('#<?php echo $code ?>_cc_cid')) 
                { 
                   jQuery("#<?php echo $code ?>_cc_cid").addClass("cvv required-entry validate-cc-cvn");
                }
            }
        });
    });
    <?php endif; ?>
     var cvvcheck=0;
     var cs_cardSaveAjaxUrl = '<?php echo $this->getUrl("md_authorizecim/cards/save",array("id"=>$this->getCustomer()->getId())) ?>';
     var cs_cardUpdateAjaxUrl = '<?php echo $this->getUrl("md_authorizecim/cards/update",array("id"=>$this->getCustomer()->getId())) ?>';
    <?php if ($this->hasVerification()): ?>
            cvvcheck=1;
    <?php endif; ?>

function cimsaveCardFromList()
 {
      var formToValidate = $('cim-form-validate');
      var validator = new Validation(formToValidate);
      if(validator.validate()) {
    
        // var maskedCard = $$('#md-cybersource-card-form input[name="<?php echo $code ?>[card_number_masked]"]')[0];
            var paymentParam = {
                firstname:jQuery('#<?php echo $code ?>_firstname').val(),
                lastname:jQuery('#<?php echo $code ?>_lastname').val(),
                company:jQuery('#<?php echo $code ?>_company').val(),
                street:jQuery('#<?php echo $code ?>_street').val(),
                city:jQuery('#<?php echo $code ?>_city').val(),
                region_id:jQuery('#<?php echo $code ?>_region_id').val(),
                state:jQuery('#<?php echo $code ?>_region').val(),
                postcode:jQuery('#<?php echo $code ?>_postcode').val(),
                country_id:jQuery('#<?php echo $code ?>_country_id').val(),
                telephone:jQuery('#<?php echo $code ?>_telephone').val(),
                cc_type:jQuery('#<?php echo $code ?>_cc_type').val(),
                cc_number:jQuery('#<?php echo $code ?>_cc_number').val(),
                cc_exp_month:jQuery('#<?php echo $code ?>_expiration').val(),
                cc_exp_year:jQuery('#<?php echo $code ?>_expiration_yr').val(),
                cc_cid:(jQuery('#<?php echo $code ?>_cc_cid')) ? jQuery('#<?php echo $code ?>_cc_cid').val(): '',
                card_number_masked:jQuery('#<?php echo $code ?>_card_number_masked').val(),
                payment_profile_id:jQuery('#<?php echo $code ?>_payment_profile_id').val(),
            };            

               jQuery.ajax(''+cs_cardSaveAjaxUrl+'?isAjax=true',{
               data: {paymentParam,form_key:jQuery("input[name=form_key]").val()},
               method: 'POST',
               dataType: 'json',
                beforeSend: function(){
                    jQuery('.admin__data-grid-loading-mask').show();
                    jQuery('.admin__data-grid-loading-mask').css("position","fixed");
               },
               complete: function(transport){
                    jQuery('#messages').remove();
                    var resultData = transport.responseText.evalJSON(); 
                    if(!resultData.error)
                    {
                       jQuery('#md-cim-cards-list-container').parent().html(resultData.carddata);
                    }
                    jQuery('.page-main-actions').after(resultData.message);
                    jQuery('.admin__data-grid-loading-mask').hide();
                    jQuery('.admin__data-grid-loading-mask').css("position","absolute");
               },
               error: function(transport){
                    jQuery('.page-main-actions').after('Error during processing...');
               },
            
            });
           
        
        
        }
    }
    function cimupdateCardFromList(){

    var formToValidate = $('cim-form-validate');
      var validator = new Validation(formToValidate);
      if(validator.validate()) {
                var ccAction = jQuery('#<?php echo $code ?>_cc_action');
                var paymentParam = { 
                    card_id:jQuery('#<?php echo $code ?>_card_id').val(),
                    customer_id:jQuery('#<?php echo $code ?>_customer_id').val(),
                    cc_type:jQuery('#<?php echo $code ?>_cc_type').val(),
                    cc_number:jQuery('#<?php echo $code ?>_cc_number').val(),
                    cc_exp_month:jQuery('#<?php echo $code ?>_expiration').val(),
                    cc_exp_year:jQuery('#<?php echo $code ?>_expiration_yr').val(),
                    cc_cid:(jQuery('#<?php echo $code ?>_cc_cid')) ? jQuery('#<?php echo $code ?>_cc_cid').val(): '',
                    firstname:jQuery('#<?php echo $code ?>_firstname').val(),
                    lastname:jQuery('#<?php echo $code ?>_lastname').val(),
                    company:jQuery('#<?php echo $code ?>_company').val(),
                    street:jQuery('#<?php echo $code ?>_street').val(),
                    city:jQuery('#<?php echo $code ?>_city').val(),
                    region_id:jQuery('#<?php echo $code ?>_region_id').val(),
                    state:jQuery('#<?php echo $code ?>_region').val(),
                    postcode:jQuery('#<?php echo $code ?>_postcode').val(),
                    country_id:jQuery('#<?php echo $code ?>_country_id').val(),
                    telephone:jQuery('#<?php echo $code ?>_telephone').val(),
                    cc_action:jQuery('#<?php echo $code ?>_cc_action').val(),
                    card_number_masked:jQuery('#<?php echo $code ?>_card_number_masked').val(),
                     payment_profile_id:jQuery('#<?php echo $code ?>_payment_profile_id').val(),
                };
                if($('<?php echo $code ?>_cc_cid') == null){
                    delete paymentParam.cc_cid;
                }


                jQuery.ajax(''+cs_cardUpdateAjaxUrl+'?isAjax=true',{
                   data: {paymentParam,form_key:jQuery("input[name=form_key]").val()},
                   method: 'POST',
                   dataType: 'json',
                    beforeSend: function(){
                        jQuery('.admin__data-grid-loading-mask').show();
                        jQuery('.admin__data-grid-loading-mask').css("position","fixed");
                   },
                   complete: function(transport){
                        jQuery('#messages').remove();
                        var resultData = transport.responseText.evalJSON(); 
                        if(!resultData.error)
                        {
                           jQuery('#md-cim-cards-list-container').parent().html(resultData.carddata);
                        }
                        jQuery('.page-main-actions').after(resultData.message);
                        jQuery('.admin__data-grid-loading-mask').hide();
                        jQuery('.admin__data-grid-loading-mask').css("position","absolute");

                   },
                   error: function(transport){
                        jQuery('.page-main-actions').after('Error during processing...');
                   },

                });
            }
       
    }
    </script>