<?php
/**
 * Copyright 2018 aheadWorks. All rights reserved.
 * See LICENSE.txt for license details.
 */

/* @var $block \Aheadworks\Blog\Block\Post */

// @codingStandardsIgnoreFile
?>
<?php
    $post = $block->getPost();
    ?>
    
<?php if ($post): ?>
    <article class="blog-posts-post blog-post">
       
        <?php if ($block->isFeaturedImageLoaded()): ?>
            <div class="blog-post-featured-image-wrapper">
            <?php if ($block->isListItemMode()): ?>
                <a href="<?php /* @noEscape */ echo $block->escapeXssInUrl($block->getPostUrl($post)) ?>" class="blog-post-featured-image-link">
                    <img class="blog-post-featured-image"
                         src = "<?php /* @noEscape */ echo $block->escapeXssInUrl($block->getFeaturedImageUrl()) ?>"
                         title = "<?php echo $block->escapeHtml($post->getFeaturedImageTitle()) ?>"
                         alt = "<?php echo $block->escapeHtml($post->getFeaturedImageAlt()) ?>"
                    />
                </a>
            <?php else: ?>
                <img class="blog-post-featured-image"
                     src = "<?php /* @noEscape */ echo $block->escapeXssInUrl($block->getFeaturedImageUrl()) ?>"
                     title = "<?php echo $block->escapeHtml($post->getFeaturedImageTitle()) ?>"
                     alt = "<?php echo $block->escapeHtml($post->getFeaturedImageAlt()) ?>"
                />
            <?php endif; ?>
            </div>
        <?php endif; ?>
        <header class="blog-post-header">
            <?php if ($block->isViewMode()): ?>
            <ul class="blog-post-info">
               
                <?php if ($block->commentsEnabled()): ?>
                    <li class="blog-post-info-item">
                        <a href="#" data-url="<?php /* @noEscape */ echo $block->escapeXssInUrl($block->getPostUrl($post)) ?>#disqus_thread"
                           data-mage-init='{"blogCommentsLink": {}}' class="blog-post-info-comments">
                            <span class="blog-post-info-comments-icon"></span>
                            <span class="disqus-comment-count" data-disqus-identifier="<?php echo $block->escapeHtml($post->getId()) ?>"></span>
                        </a>
                    </li>
                <?php endif; 
                //print_r(get_class_methods($posts));
                ?>
                <?php if ($block->isViewMode()): ?>
                          <h3 class="post-heading"><?php
                              print_r($post->getTitle());
                           ?>
                          </h3>
                <?php endif; ?>

                <?php if ($socialIconsHtml = $block->getSocialIconsHtml()): ?>
                    <li class="blog-post-info-item">
                        <?php /* @noEscape */ echo $socialIconsHtml ?>
                    </li>
                <?php endif; ?>
                <li class="blog-post-info-item"><?php /* @noEscape */ echo $block->formatDate($post->getPublishDate(), \IntlDateFormatter::MEDIUM) ?></li>
            </ul>
            <?php endif; ?>
        </header>
       <?php if ($block->isListItemMode()): ?>
            <div class="blog-post-content">
                <?php /* @noEscape */ $short_content = $block->getContent($post);
                                      //echo $short_content;
                                      $position=125; 
                                      $content = '';
                                      if(strlen($short_content) > $position) {// to lomit charachter
                                      $message=$short_content;
                                      echo $content .= substr($message, 0, $position);
                                      //$content .= "....";
                                      } else {
                                      echo $content = $short_content;
                                      }    ?>
            </div>
      <?php endif; ?>

        <?php if ($block->isViewMode()): ?>
        <div class="blog-post-content">
            <?php /* @noEscape */ $short_content = $block->getContent($post);
                                  echo $short_content; ?>
        </div>
         <?php endif; ?>
        <?php if ($block->isViewMode()): ?>
            <div class="blog-post-tags">
                <div class="blog-tags blog-tags-plain">
                    <?php foreach ($post->getTagNames() as $tagName): ?>
                        <a href="<?php /* @noEscape */ echo $block->escapeXssInUrl($block->getSearchByTagUrl($tagName)) ?>"
                           class="blog-tags-tag">
                            <?php echo $block->escapeHtml($tagName) ?>
                        </a>
                    <?php endforeach; ?>
                </div>
            </div>
        <?php endif; ?>
        <?php $categoryLinks = $block->getCategoryLinks() ?>
        <?php /* @noEscape */ echo $block->getRelatedProductHtml($block->isViewMode(), $block->getPositionAfterPost()) ?>
        <?php if ($block->isViewMode() && $block->commentsEnabled()): ?>
            <?php /* @noEscape */ echo $block->getDisqusEmbedHtml() ?>
        <?php endif; ?>
        <?php /* @noEscape */ echo $block->getRelatedProductHtml($block->isViewMode(), $block->getPositionAfterComments()) ?>
    </article>
<?php endif; ?>
