div.CodeMirror {
    border: 1px solid #ADA89E;
    border-radius: 2px;
    height: auto;
    width: 660px;
}

div.CodeMirror {
    border: 1px solid #ADA89E;
    border-radius: 2px;
    height: auto;
    width: 660px;
}

div.CodeMirror {
    border: 1px solid #ADA89E;
    border-radius: 2px;
    height: auto;
    width: 660px;
}

