<?php
/**
 * Copyright © 2016 MB Vienas bitas. All rights reserved.
 * @website    www.magetrend.com
 * @package    Newsletter Popup Pro from M2
 * @author     Edvinas Stulpinas <edwin@magetrend.com>
 */
?>
<?php if ($block->isActivePopup()) : ?>
    <?php if ($isActivePopup = $block->canShowPopup()) : ?>
        <?php $popup = $block->getPopup(); ?>
        <div id="esns_background_layer">
            <?php if ($popup->isStaticBlockPopup()) : ?>
                <div id="esns_box_layer" class="esns_static_block">
                    <?php echo $block->getStaticBlockHtml(); ?>
                </div>
            <?php else : ?>
                <?php echo $block->getThemeHtml();?>
            <?php endif; ?>
        </div>
    <?php endif; ?>

    <?php if ($isActiveButton = $block->canShowButton()) :?>
        <?php echo $block->getChildHtml('triggerButton');?>
    <?php endif; ?>

    <?php if ($isActiveButton || $isActivePopup) : ?>
        <script type="text/x-magento-init">
            {
                "*": {
                    "newsletterPopup": <?php echo (string)$block->getConfigJs();?>
                }
            }
        </script>
    <?php endif; ?>
<?php endif; ?>
