<?php
/**
 * Copyright © 2016 MB Vienas bitas. All rights reserved.
 * @website    www.magetrend.com
 * @package    Newsletter Popup Pro from M2
 * @author     Edvinas Stulpinas <edwin@magetrend.com>
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Catalog\Block\Adminhtml\Product\Edit\Tab\Options\Type\Hidden */ ?>
<script id="custom-option-hidden-type-template" type="hidden/x-magento-template"><div style="display: none!important;" id="field_option_<%- data.option_id %>_type_<%- data.group %>" class="fieldset">
</div>
</script>
