<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>


<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');

$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();        
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$store = $storeManager->getStore();
$baseUrl = $store->getBaseUrl();

// Daily deal Helper 
$dailydealhelper=$this->helper('Smartwave\Dailydeals\Helper\Data');

$_category_config = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/category');
$_category_grid_config = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/category_grid');
$_product_label_config = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/product_label');
$move_actions = "";
$flex_grid = "";
$_lazyload = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/optimization/lazyload');
?>
<?php $iterator = 1; ?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php echo __('We can\'t find products matching the selection.') ?></div></div>
    <?php else: ?>
        <?php echo $block->getToolbarHtml() ?>
        <?php echo $block->getAdditionalHtml() ?>
        <?php
        if ($block->getMode() == 'grid') {
            $viewMode = 'grid';
            $image = 'category_page_grid';
            $hover_image = 'category_page_grid-hover';
            $hover = 'on_hover';
            $showDescription = false;
            $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
        //$columns = 'columns'.$_category_grid_config['columns'];
            $columns = 'columns'.'6';
            $move_actions = $_category_grid_config['move_actions'];
            if(isset($_category_grid_config['flex_grid']) && $_category_grid_config['flex_grid'])
                $flex_grid = "flex-grid";
        } else {
            $viewMode = 'list';
            $image = 'category_page_list';
            $hover_image = 'category_page_list-hover';
            $showDescription = true;
            $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
            $columns = '';
        }
        $image_width = ($_category_config['ratio_width'])?$_category_config['ratio_width']:300;
        $image_height = ($_category_config['ratio_height'])?$_category_config['ratio_height']:300;
        if($_category_config['aspect_ratio'])
            $image_height = $image_width;
        ?>
        <div class="products wrapper <?php echo $viewMode; ?> <?php echo $columns; ?> <?php echo $flex_grid; ?> products-<?php echo $viewMode; ?>">
            <?php $iterator = 1; ?>
            <ol class="products list items product-items <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>">
                <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
                <?php foreach ($_productCollection as $_product): ?>
                    
                    <?php echo($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
                    <div class="product-item-info" data-container="product-grid">
                        <?php // Product Image ?>
                        <div class="product photo product-item-photo">
                            <a href="<?php echo $_product->getProductUrl() ?>" tabindex="-1"> <!-- image hover code -->
                                <?php 
                                    $hover_img_path = ' ';
                                    $ProImage='';
                                    $product_id = $_product->getId();
                                    $product = $objectManager->create('Magento\Catalog\Model\Product')->load($product_id);
                                    //if($product->getData('on_hover')){
                                     $hover_img_path = $product->getData('on_hover');
                                     $mediaUrl = $objectManager->get('Magento\Store\Model\StoreManagerInterface')
                                        ->getStore()
                                        ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
                                     $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
                                     $baseurl = $storeManager->getStore()->getBaseUrl(); 
                                     if($hover_img_path){
                                     $image_on_hover = $baseurl.'pub/media/catalog/product'.$hover_img_path;
                                    // if($image_on_hover){
                                    if ($block->getMode() == 'grid'): ?><?php
                                    $img_hover_resized = $objectManager->create('Mangoit\ResizedImage\Helper\Image')->imageResize($image_on_hover,153,153);
                                     endif; 
                                     if ($block->getMode() !== 'grid'): ?><?php
                                    $img_hover_resized = $objectManager->create('Mangoit\ResizedImage\Helper\Image')->imageResize($image_on_hover,130,130);
                                     endif; 
                                    //echo $img_hover_resized;
                                  // }
                                 }
                                 else{
                                    $img_hover_resized = $ProImage;
                                 }?>
                               <!-- img hover code ends -->
                                <?php
                                if($_category_config['aspect_ratio'])
                                    $productImage = $_imagehelper->init($_product, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($image_width);
                                else
                                    $productImage = $_imagehelper->init($_product, $image)->resize($image_width, $image_height);
                                $productImageUrl = $productImage->getUrl();
                                $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                if ($block->getMode() == 'grid'): ?>
                                    <?php
                                    $ProImage = $objectManager->create('Mangoit\ResizedImage\Helper\Image')->imageResize($productImageUrl,153,153);
                                endif; ?>
                                <?php
                                if ($block->getMode() != 'grid'): ?>
                                    <?php
                                    $ProImage = $objectManager->create('Mangoit\ResizedImage\Helper\Image')->imageResize($productImageUrl,130,130);
                                endif; ?>
<img class="product-image-photo default_image <?php if(!$_lazyload): ?>porto-lazyload<?php endif;?>" <?php if(!$_lazyload): ?>data-<?php endif; ?>src="<?php echo $ProImage; ?>" width="<?php echo $image_width; ?>" height="<?php echo $image_height; ?>" onmouseover="this.src='<?php echo ($img_hover_resized) ? $img_hover_resized : $ProImage ?>';"
                     onmouseout="this.src='<?php echo $ProImage; ?>';" />
                            </a>
                            <?php
                            $product_label = "";
                            if($_product_label_config['sale_label']) {
                                $orgprice = $_product->getPrice();
                                $specialprice = $_product->getSpecialPrice();
                                $specialfromdate = $_product->getSpecialFromDate();
                                $specialtodate = $_product->getSpecialToDate();
                                $today = time();
                                if(!$specialprice)
                                    $specialprice = $orgprice;
                                if($specialprice < $orgprice) {
                                    if((is_null($specialfromdate) && is_null($specialtodate)) || ($today >= strtotime($specialfromdate) && is_null($specialtodate)) || ($today <= strtotime($specialtodate) && is_null($specialfromdate)) || ($today >= strtotime($specialfromdate) && $today <= strtotime($specialtodate))){
                                        if($_product_label_config['sale_label_percent']) {
                                            $save_percent = 100-round(($specialprice/$orgprice)*100);
                                            $product_label .= '<div class="product-label sale-label">'.'-'.$save_percent.'%'.'</div>';
                                        } else {
                                            $product_label .= '<div class="product-label sale-label">'.$_product_label_config['sale_label_text'].'</div>';
                                        }
                                    }
                                }
                            }
                            if($_product_label_config['new_label']) {
                                $now = date("Y-m-d");
                                $newsFrom= substr($_product->getData('news_from_date'),0,10);
                                $newsTo=  substr($_product->getData('news_to_date'),0,10);
                                
                                if ($newsTo != '' || $newsFrom != ''){
                                    if (($newsTo != '' && $newsFrom != '' && $now>=$newsFrom && $now<=$newsTo) || ($newsTo == '' && $now >=$newsFrom) || ($newsFrom == '' && $now<=$newsTo)) {
                                        $product_label .= '<div class="product-label new-label">'.$_product_label_config['new_label_text'].'</div>';
                                    }
                                }
                            }
                            // TO DISPLAY TOP LABEL ON PRODUCT
                            if($_product->getTop() !== null && $_product->getTop() == 2) {
                                $product_label .=  '<div class="product-label new-label top">Top</div>';
                            }
                            // TO DISPLAY QUALITY OF PRODUCT
                            if ($block->getMode() == 'grid'): ?>
                            <?php
                            if($_product->getBest() !== null && $_product->getBetter() !== null && $_product->getGood() !== null) {
                                $additional ='';
                                $sku = $_product->getSku();
                                if($sku == $_product->getBest()) {
                                    $label = 'Best';
                                    $additional ='new-best';
                                } else if($sku == $_product->getBetter()) {
                                    $label = 'Better';
                                    $additional ='new-better';
                                } else if($sku == $_product->getGood()) {
                                    $label = 'Good';
                                    $additional ='new-good';
                                } else {
                                    $label = '';
                                }
                                $product_label .= '<div id= "'.$_product->getId().'" data-id= "'.$sku.'" class="product-label quality '.$additional.'"><span class="'.$label.'">'.$label.'</span></div>';
                            }
                            
                            if($product_label)
                                echo '<div class="product-labels">'.$product_label.'</div>';
                            ?>
                            <?php endif; ?> 
                            <!-- Dailydeal Product data -->
                            <?php if($dailydealhelper->isDealProduct($_product->getId())) : ?>
                                <input type="hidden" id="todate_<?php echo $iterator; ?>" value="<?php echo $dailydealhelper->getDailydealToDate($_product->getSku()); ?>" >
                                <input type="hidden" id="fromdate_<?php echo $iterator; ?>" value="<?php echo $dailydealhelper->getDailydealFromDate($_product->getSku()); ?>">
                                <div class="sw-dailydeal-wrapper" style="display:none;">
                                    <div class="sw-dailydeal">
                                        <p id="expired_<?php echo $iterator; ?>"></p> 
                                        <div class="countdowncontainer_<?php echo $iterator; ?>" style="display:none;">
                                            <span class="dailydeal-label">
                                                <?php echo __('Ends In:'); ?>
                                            </span>
                                            <span class="number-wrapper">
                                                <div class="line"></div>
                                                <span class="number day"><p id="countdown_days_<?php echo $iterator; ?>"></p></span>
                                                <div class="caption"><?php echo __('Day(s), '); ?></div>
                                            </span>

                                            <span class="number-wrapper">
                                                <div class="line"></div>
                                                <span class="number hour"><p id="countdown_hours_<?php echo $iterator; ?>"></p></span>
                                                <div class="caption">:</div>
                                            </span>

                                            <span class="number-wrapper">
                                                <div class="line"></div>
                                                <span class="number min"><p id="countdown_minutes_<?php echo $iterator; ?>"></p></span>
                                                <div class="caption">:</div>
                                            </span>

                                            <span class="number-wrapper">
                                                <div class="line"></div>
                                                <span class="number sec"><p id="countdown_seconds_<?php echo $iterator; ?>"></p></span>
                                                <div class="caption"></div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            <?php endif; ?> 
                            <!-- Dailydeal Product End -->
                            <?php if($_category_config['actions'] && $move_actions): ?>
                                <div class="product-item-inner">
                                    <div class="product actions product-item-actions">
                                        <div class="actions-primary">
                                            <?php if ($_product->isSaleable()): ?>
                                                <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                                <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                                    <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                                    <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                                    <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>
                                                        <div class="qty-box">
                                                            <a href="javascript:void(0)" class="qtyminus"><i class="porto-icon-minus"></i></a>
                                                            <input type="text" name="qty" id="qty" maxlength="12" value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"/>
                                                            <a href="javascript:void(0)" class="qtyplus"><i class="porto-icon-plus"></i></a>
                                                        </div>
                                                    <?php endif;?>
                                                    <?php echo $block->getBlockHtml('formkey')?>
                                                    <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="action tocart primary">
                                                    <span><?php echo __('Add to Cart') ?></span>
                                                </button>
                                            </form>
                                            <?php else: ?>
                                                <?php if ($_product->getIsSalable()): ?>
                                                    <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                                    <?php else: ?>
                                                        <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                            <?php if ($block->getMode() == 'grid'): ?>
                                                <?php if($_category_config['addtowishlist']): ?>
                                                    <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                                                    <a href="#"
                                                    class="action towishlist actions-secondary"
                                                    title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                                    aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                                    data-post='<?php echo $block->getAddToWishlistParams($_product); ?>'
                                                    data-action="add-to-wishlist"
                                                    role="button">
                                                    <span><?php echo __('Add to Wish List') ?></span>
                                                </a>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                    <?php if($_category_config['addtocompare']): ?>
                                        <?php
                                        $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                        ?>
                                        <a href="#"
                                   class="action tocompare actions-secondary"
                                   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   data-post='<?php echo $compareHelper->getPostDataParams($_product); ?>'
                                   role="button">
                                    <span><?php echo __('Add to Compare') ?></span>
                                </a>
                                    <?php endif; ?>
                                </div>
                            </div>
                        <?php endif; ?>
                    </div>
                    <div class="product details product-item-details">
                        <?php if ($block->getMode() == 'grid'): ?>
                            <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                            ?>
                            <?php if(!$_category_grid_config['move_title']):?>
                                <strong class="product name product-item-name">
                                    <a class="product-item-link"
                                    href="<?php echo $_product->getProductUrl() ?>">
                                    <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                                </a>
                            </strong>
                        <?php endif;?>
                        <?php if($_category_config['rating_star']): ?>
                            <?php
                            $review_html = $block->getReviewsSummaryHtml($_product, $templateType);
                            ?>
                            <?php if($review_html): ?>
                                <?php echo $review_html; ?>
                                <?php else: ?>
                                    <div class="product-reviews-summary short">
                                        <div class="rating-summary">
                                            <span class="label"><span>Rating:</span></span>
                                            <div class="rating-result" title="0%">
                                                <span style="width:0"><span>0%</span></span>
                                            </div>
                                        </div>
                                    </div>
                                <?php endif; ?>
                            <?php endif; ?>
                            <?php if($_category_grid_config['move_title']):?>
                                <strong class="product name product-item-name">
                                    <a class="product-item-link"
                                    href="<?php echo $_product->getProductUrl() ?>">
                                    <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                                </a>
                            </strong>
                        <?php endif;?>
                        <p class="product-sub-text">
                            <span class="sub-text--inner"><?php echo $sku = $_product->getSku();?></span>
                        </p>
                        <div class="cat-productgrid-pricing">
                        <?php if ($block->getMode() == 'grid'): ?>
                            <?php if($_category_config['product_price']): ?>
                              <?php echo $block->getProductPrice($_product) ?> 
                            <?php endif; ?>
                        <?php endif; ?>
                            <?php echo $block->getProductDetailsHtml($_product); ?>
                    </div>
                        
                        <?php if($_category_config['actions'] && !$move_actions): ?>
                            <div class="product-item-inner">
                                <div class="product actions product-item-actions">
                                    <?php if ($block->getMode() == 'grid'): ?>
                                        <?php if($_category_config['addtowishlist']): ?>
                                            <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                <?php endif; ?>
                                <div class="actions-primary">
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>
                                                <div class="qty-box">
                                                    <a href="javascript:void(0)" class="qtyminus"><i class="porto-icon-minus"></i></a>
                                                    <input type="text" name="qty" id="qty" maxlength="12" value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"/>
                                                    <a href="javascript:void(0)" class="qtyplus"><i class="porto-icon-plus"></i></a>
                                                </div>
                                            <?php endif;?>
                                            <?php echo $block->getBlockHtml('formkey')?>
                                            <?php if ($block->getMode() == 'grid'): ?>
                                                <button type="submit"
                                                title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                class="action tocart primary">
                                                <span><?php echo __('Add to Cart') ?></span>
                                            </button>
                                        <?php endif; ?>
                                    </form>
                                    <?php else: ?>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                            <?php else: ?>
                                                <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    </div>
                                    <?php if ($block->getMode() != 'grid'): ?>
                                        <?php if($_category_config['addtowishlist']): ?>
                                            <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                <?php endif; ?>
                                <?php if($_category_config['addtocompare']): ?>
                                    <?php
                                    $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                    ?>
                                    <a href="#"
                                   class="action tocompare actions-secondary <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>"
                                   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   data-post='<?php echo $compareHelper->getPostDataParams($_product); ?>'
                                   role="button">
                                    <span><?php echo __('Add to Compare') ?></span>
                                </a>
                                <?php endif; ?>
                            </div>
                        </div>
                    <?php endif; ?>
                    <?php endif; ?>
                <!--for list view-->
                <?php if ($block->getMode() != 'grid'): ?>
                    <?php if($_category_grid_config['move_title']):?>
                        <strong class="product name product-item-name">
                            <a class="product-item-link"
                            href="<?php echo $_product->getProductUrl() ?>">
                            <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                        </a>
                    </strong>
                <?php endif;?>
                <p class="product-sub-text">
                    <span class="sub-text--inner"><?php echo $sku = $_product->getSku();?></span>
                </p>
                <div class="product-reviews-summary short">
                                <?php if($_product->getBest() !== null && $_product->getBetter() !== null && $_product->getGood() !== null) {
                                $additional ='';
                                $sku = $_product->getSku();
                                if($sku == $_product->getBest()) {
                                    $label = 'Best';
                                    $additional ='new-best';
                                } else if($sku == $_product->getBetter()) {
                                     $label = 'Better';
                                     $additional ='new-better';
                                } else if($sku == $_product->getGood()) {
                                    $label = 'Good';
                                    $additional ='new-good';
                                } else {
                                    $label = '';
                                    //$additional='new-label';
                                }
                                $product_label .= '<div id= "'.$_product->getId().'" data-id= "'.$sku.'" class="product-label quality '.$additional.'"><span class="'.$label.'">'.$label.'</span></div>';
                            }
                            
                            if($product_label)
                                echo '<div class="product-labels">'.$product_label.'</div>';
                            ?>
                            </div>
                <?php if($_category_config['rating_star']): ?>
                    <?php
                    $review_html = $block->getReviewsSummaryHtml($_product, $templateType);
                    ?>
                    <?php if($review_html): ?>
                        <?php echo $review_html; ?>
                        <?php else: ?>
                            <div class="rating-summary">
                                    <span class="label"><span>Rating:</span></span>
                                    <div class="rating-result" title="0%">
                                        <span style="width:0"><span>0%</span></span>
                                    </div>
                                </div>
                            
                        <?php endif; ?>
                    <?php endif; ?>
                <?php endif; ?>
            </div>
            <?php if ($block->getMode() != 'grid'): ?>
                <div class="pricing">
                    <?php if($_category_config['product_price']): ?>
                        <?php echo $block->getProductPrice($_product) ?>
                    <?php endif; ?>
                </div>
                <div class="cat-add-to-cart">
                    <div class="add-to-cart-list">
                        <div class="product-item-inner">
                            <div class="product actions product-item-actions">
                                <div class="actions-primary">
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>
                                                <div class="qty-box">
                                                    <a href="javascript:void(0)" class="qtyminus"><i class="porto-icon-minus"></i></a>
                                                    <input type="text" name="qty" id="qty" maxlength="12" value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"/>
                                                    <a href="javascript:void(0)" class="qtyplus"><i class="porto-icon-plus"></i></a>
                                                </div>
                                            <?php endif;?>
                                            <?php echo $block->getBlockHtml('formkey')?>
                                            <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="action tocart primary">
                                                <span><?php echo __('Add to Cart') ?></span>
                                            </button>
                                        </form>
                                    <?php else: ?>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                <?php if ($block->getMode() !== 'grid'): ?>
                                
                                <?php endif; ?>
                                <?php if($_category_config['addtocompare']): ?>
                                <?php
                                $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                ?>
                                <a href="#"
                                   class="action tocompare actions-secondary"
                                   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   data-post='<?php echo $compareHelper->getPostDataParams($_product); ?>'
                                   role="button">
                                    <span><?php echo __('Add to Compare') ?></span>
                                </a>
                                <?php endif; ?>
                            </div>
                        </div>
                        
                </div>
            </div>
        <?php endif; ?>
    </div>
    <?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
<?php endforeach; ?>
</ol>
</div>
<?php echo $block->getToolbarHtml() ?>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
    <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
            "catalogAddToCart": {}
        }
    }
</script>
<?php endif; ?>
<?php if ($block->getMode() == 'grid'): ?>
    <script type="text/javascript">
        require([
            'jquery'        
            ], function ($) {
                $('.main .products.grid .product-items li.product-item:nth-child(2n)').addClass('nth-child-2n');
                $('.main .products.grid .product-items li.product-item:nth-child(2n+1)').addClass('nth-child-2np1');
                $('.main .products.grid .product-items li.product-item:nth-child(3n)').addClass('nth-child-3n');
                $('.main .products.grid .product-items li.product-item:nth-child(3n+1)').addClass('nth-child-3np1');
                $('.main .products.grid .product-items li.product-item:nth-child(4n)').addClass('nth-child-4n');
                $('.main .products.grid .product-items li.product-item:nth-child(4n+1)').addClass('nth-child-4np1');
                $('.main .products.grid .product-items li.product-item:nth-child(5n)').addClass('nth-child-5n');
                $('.main .products.grid .product-items li.product-item:nth-child(5n+1)').addClass('nth-child-5np1');
                $('.main .products.grid .product-items li.product-item:nth-child(6n)').addClass('nth-child-6n');
                $('.main .products.grid .product-items li.product-item:nth-child(6n+1)').addClass('nth-child-6np1');
                $('.main .products.grid .product-items li.product-item:nth-child(7n)').addClass('nth-child-7n');
                $('.main .products.grid .product-items li.product-item:nth-child(7n+1)').addClass('nth-child-7np1');
                $('.main .products.grid .product-items li.product-item:nth-child(8n)').addClass('nth-child-8n');
                $('.main .products.grid .product-items li.product-item:nth-child(8n+1)').addClass('nth-child-8np1');
            });
        </script>
    <?php endif; ?>
<?php endif; ?>
<script type="text/javascript">
    require([
        'jquery'        
        ], function ($) {
// Timer for LEFT time for Dailydeal product
var _second = 1000;
var _minute = _second * 60;
var _hour = _minute * 60;
var _day = _hour * 24;
var timer;

function showRemaining(currentdate) 
{
    var count;
    for (count = 2; count <= <?php echo $iterator; ?>; count++) 
    {
            // get Value of dailydeal product
            var cid='countdown_'+count;
            var daysid='countdown_days_'+count;
            var hoursid='countdown_hours_'+count;
            var minutesid='countdown_minutes_'+count;
            var secondsid='countdown_seconds_'+count;

            var startdateid='fromdate_'+count;
            var id='todate_'+count;

            var enddate = new Date($('#'+id).val());
            var dealstartdate=new Date($('#'+startdateid).val());

            // Get Current Date from magentodatetime
            var currentdate=new Date(currentdate);

            //Get Difference between Two dates
            var distance = enddate - currentdate;

            $('.sw-dailydeal-wrapper').show();

            if (distance < 0) {
               // clearInterval(timer);
               $('#expired_'+count).html("<span style='font-size:25px; color:#000;'>EXPIRED!<span>");

           } else if(dealstartdate > currentdate) {
             $('.countdowncontainer_'+count).hide();
             var msg="<span style='font-size:15px; color:#000;'> Coming Soon..<br>Deal Start at:<br>"+$('#'+startdateid).val()+"<span>";
             $('#expired_'+count).html(msg);
         } else {
            var days = Math.floor(distance / _day);
            var hours = Math.floor((distance % _day) / _hour);
            var minutes = Math.floor((distance % _hour) / _minute);
            var seconds = Math.floor((distance % _minute) / _second);

            if(hours < 10)
                hours = "0" + hours;
            if(minutes < 10)
                minutes = "0" + minutes;
            if(seconds < 10)
                seconds = "0" + seconds;
            $('.countdowncontainer_'+count).show();
            $('#'+daysid).html(days);
            $('#'+hoursid).html(hours);
            $('#'+minutesid).html(minutes);
            $('#'+secondsid).html(seconds);
        }
    }
}

    //Set date as magentodatetime 
    var date = new Date('<?php echo $dailydealhelper->getcurrentDate() ?>');
    
    var day   = date.getDate();
    var month = date.getMonth();
    var year  = date.getFullYear();
    var hours = date.getHours();
    var minutes = "0" + date.getMinutes();
    var seconds = "0" + date.getSeconds();

    var fulldate = year+'-'+(month+1)+'-'+day+' '+hours + ':' + minutes.substr(minutes.length-2) + ':' + seconds.substr(seconds.length-2);

    // Set Interval
    timer = setInterval(function() 
    {
        date.setSeconds(date.getSeconds() + 1);
        var month=date.getMonth();
        var currentdatetime=date.getFullYear()+"-"+(month+1)+"-"+date.getDate()+" "+date.getHours()+":"+date.getMinutes()+":"+date.getSeconds();
        showRemaining(currentdatetime);
    }, 1000); 
});   
</script>
<?php
echo $block->getChildHtml('filter_toggle');
?>

<script type="text/javascript">
    require([ 'jquery', 'jquery/ui','Magento_Ui/js/modal/modal'], function($){ 
        $(document).ready(function($,modal) {
            jQuery.noConflict();
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: "Quality Rating" 
            };
            $(".quality").on('click mouseover', function () {
                var sku = $(this).attr('data-id');
                var id = this.id;
                var baseUrl = '<?php echo $baseUrl?>';
                var res = $('#'+id).attr('myval-'+id);
                if (typeof res !== "undefined") {
                   $('#'+id).append("<span class='product_details' style='color:black'>"+res+"</span>");
                   $(".product_details").modal(options).modal('openModal');
                   $('.product_details').modal('openModal');
               } else {
                   $.ajax({
                    showLoader: true,
                    url: baseUrl+'filter/index/index',
                    data: {'sku' : sku},
                    cache: true,
                    type: "POST"
                }).success(function (data) {
                	$('#'+id).attr('myval-'+id,data); 
                    $('#'+id).append("<div class='product_details' style='color:black'>"+data+"</div>");
                    $(".product_details").modal(options).modal('openModal');
                });
            }     
        });
        }); 
        /*to refresh page on add to compare*/
                jQuery('.tocompare').click(function() {
                location.reload();
              });
    });
</script>


